{{extend 'plugin_layouts/layouts/scti_evps_v2_login.html'}}
{{block login}}
<div id="web2py_user_form">
{{
    if request.args(0)=='login':
        if not 'register' in auth.settings.actions_disabled:
            form.add_button(T('Register'),URL(args='register', vars={'_next': request.vars._next} if request.vars._next else None),_class='btn btn-default btn-flat')
        pass
        if not 'request_reset_password' in auth.settings.actions_disabled:
            form.add_button(T('Lost Password'),URL(args='request_reset_password'),_class='btn btn-default btn-flat')
        pass
    pass
    =form
}}
</div>
{{end}}


{{block custom_js}}
<script>
    jQuery("#web2py_user_form input:visible:enabled:first").focus();
{{if request.args(0)=='register':}}
    web2py_validate_entropy(jQuery('#auth_user_password'),100);
{{elif request.args(0)=='change_password':}}
    web2py_validate_entropy(jQuery('#no_table_new_password'),100);
{{pass}}
</script>
{{end}}
