{{extend 'layout.html'}}

{{block content-header}}
    <section class="content-header xl-padding">
        <h1>
            Create New Camera View Profile<small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{=URL('default','index')}}"><i class="fa fa-home"></i> Home</a></li>
            <li class="active">Create New Camera View Profile</li>
        </ol>
    </section>
{{end}}

{{block content}}
{{if connection == "True":}}
<div class="row md-top">
    <div class="col-md-8 xl-padding">
        <form class="report-camera-form">
            <div class="input-group input-group-sm">
                <label for="profile_name">Profile Name:</label>
                <input type="text" name="profile_name" id="profile-name" class="form-control" placeholder="Enter Profile Name Here..." required>
            </div>
            <span class="help-block help-block-name text-red">This profile name is already in use.</span>
            <span class="help-block help-block-len text-red">You must enter a profile name.</span>
        </form>
    </div>
</div>
<div class="row md-top">
    <div class="col-sm-8 xl-padding">
        <h4 class="camera-instructions">
            Select Cameras:
        </h4>
    </div>
    <div class="col-sm-4 xl-padding">
        <button id="save-camera" type="button" class="pull-right btn btn-default bg-grey btn-sm" disabled><i class="fa fa-floppy-o" aria-hidden="true"></i> Next</button>
    </div>
</div>
<div class="row md-top">
    <div class="col-sm-12 posters posters-stage lg-padding">

    </div>
    <div class="col-sm-12 posters posters-pre-stage lg-padding">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                {{for i,n in zip(range(len(nodes)),nodes):}}
                    {{if i == 0:}}
                    <li class="active"><a href="#{{=n.id}}" data-toggle="tab" aria-expanded="true">{{=n.detailed_name}}</a></li>
                    {{else:}}
                    <li><a href="#{{=n.id}}" data-toggle="tab" aria-expanded="false">{{=n.detailed_name}}</a></li>
                    {{pass}}
                {{pass}}
            </ul>
            <div class="tab-content">
                {{for i,n in zip(range(len(nodes)),nodes):}}
                    {{if i == 0:}}
                        <div class="tab-pane active clearfix" id="{{=n.id}}">
                            <div class="col-sm-12 posters no-padding">
                                {{for m in range(len(monitors_list)):}}
                                    {{if monitors_list[m].nodeId == n.id:}}
                                    <div class="col-sm-3 xs-padding poster-wrapper poster-disabled">
                                        <div class="box box-scti poster-box">
                                            <div class="box-scti-border box-sm-border clearfix">
                                                <div class="fav-view pull-left">
                                                    <a class="add-poster-btn disabled" data-nid="{{=n.id}}" data-mid="{{=monitors_list[m].id}}" data-feed="/{{=n.proxy_prefix}}/zm/cgi-bin/nph-zms?monitor={{=monitors_list[m].id}}&scale=40&maxfps=1&buffer=1" data-mon-name="{{=monitors_list[m].name}}" data-proxy="{{=n.proxy_prefix}}" data-thumbnail="{{=monitors_list[m].thumbnail}}"><i class="fa fa-plus icon-red" aria-hidden="true"></i></a>
                                                </div>
                                                <h6 class="xs-text-dark pull-left xs-padding noselect">{{=monitors_list[m].name}}</h6>
                                            </div>
                                            <div class="box-body no-padding noselect">
                                                <img class="poster-view" src="{{=request.env.request_scheme}}://{{=request.env.http_host}}/{{=n.proxy_prefix}}/plugin_livestreams/stream_thumbnail?fp={{=monitors_list[m].poster}}">
                                                <div class="loader-wrapper col-xs-3 col-xs-offset-5">
                                                    <div class="loader"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{pass}}
                                {{pass}}
                            </div>
                        </div>
                    {{else:}}
                        <div class="tab-pane clearfix" id="{{=n.id}}">
                            <div class="col-sm-12 posters no-padding">
                                {{for m in range(len(monitors_list)):}}
                                    {{if monitors_list[m].nodeId == n.id:}}
                                    <div class="col-sm-3 xs-padding poster-wrapper poster-disabled">
                                        <div class="box box-scti poster-box">
                                            <div class="box-scti-border box-sm-border clearfix">
                                                <div class="fav-view pull-left">
                                                    <a class="add-poster-btn disabled" data-nid="{{=n.id}}" data-mid="{{=monitors_list[m].id}}" data-feed="/{{=n.proxy_prefix}}/zm/cgi-bin/nph-zms?monitor={{=monitors_list[m].id}}&scale=40&maxfps=1&buffer=1" data-mon-name="{{=monitors_list[m].name}}" data-proxy="{{=n.proxy_prefix}}" data-thumbnail="{{=monitors_list[m].thumbnail}}"><i class="fa fa-plus icon-red" aria-hidden="true"></i></a>
                                                </div>
                                                <h6 class="xs-text-dark pull-left xs-padding noselect">{{=monitors_list[m].name}}</h6>
                                            </div>
                                            <div class="box-body no-padding noselect">
                                                <img class="poster-view" src="{{=request.env.request_scheme}}://{{=request.env.http_host}}/{{=n.proxy_prefix}}/plugin_livestreams/stream_thumbnail?fp={{=monitors_list[m].poster}}">
                                                <div class="loader-wrapper col-xs-3 col-xs-offset-5">
                                                    <div class="loader"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{pass}}
                                {{pass}}
                            </div>
                        </div>
                    {{pass}}
                {{pass}}
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
    </div>
</div>
{{elif connection == "False":}}
<div class="row">
    <div class="error-page col-md-8 col-md-offset-2 clearfix">
        <h2 class="headline text-yellow col-md-4 col-sm-4 col-xs-12"> 500</h2>
        <div class="col-xs-2 visible-xs"></div>
        <div class="error-content col-md-8 col-sm-8 col-xs-10">
            <h3><i class="fa fa-warning text-yellow"></i> Internal Server Error</h3>

            {{if auth.has_membership('Super_User'):}}
                <p>{{=err_msg}}</p>
                <p>{{=cur_node}}</p>
                {{pass}}
                <br>
                <p>Please <a href="{{=URL('default','index')}}">return to the homepage</a>.</p>
        </div>
        <!-- /.error-content -->
    </div>
</div>
{{pass}}
{{end}}

{{block custom_js}}
<script>
    $(document).ready(function(){

        console.log('{{=troubled_nodes}}');

        var nameInput = $('#profile-name');

        var proNames = [{{for p in profile_names:}}
                            '{{=p.profile_name}}',
                        {{pass}}];

        function nameValidation(val){
            for (i = 0; i < proNames.length; i++) {
                if(val == proNames[i]){
                    return true;
                }
            }
            return false;
        }

        function lenValidation(val){
            if(val.length > 0){
                return true;
            }
            return false;
        }

        function submitProfile(pName,nid,mid,monName,uid,proxy,feed,thmb,order){
            $.ajax({
                type: "POST",
                data: {'nid':nid,'mid':mid,'monName':monName,'uid':uid,'proxy':proxy,'feed':feed,'thmb':thmb,'order':order,'pName':pName},
                async: false,
                url:"{{=URL(c='plugin_livestreams',f='submit_profile')}}",
                success: function(data){
                    $('#save-camera').html('<i class="fa fa-check" aria-hidden="true"></i> Saved');
                    $('#save-camera').removeClass('bg-red').addClass('bg-green');
                    location.reload(true);
                }
            });
        };

        function gatherInfo(){
            var posters = $('.poster-wrapper');
            $(posters).each(function() {
                var info = $(this).find('.add-poster-btn');
                var pName = $(nameInput).val();
                var nid = $(info).attr('data-nid');
                var mid = $(info).attr('data-mid');
                var monName = $(info).attr('data-mon-name');
                var uid = '{{=me}}';
                var proxy = $(info).attr('data-proxy');
                var feed = $(info).attr('data-feed');
                var thmb = $(info).attr('data-thumbnail');
                var order = $(info).attr('data-order');
                submitProfile(pName,nid,mid,monName,uid,proxy,feed,thmb,order);
            });
        };

        function reorder(){
            $( ".posters" ).sortable({
                update: function(event, ui) {
                    $('.selected').each(function(i){
                        $(this).find('.add-poster-btn').attr('data-order',i);
                    });
                }
            });
            $( ".posters" ).disableSelection();
        };

        $(nameInput).on('input',function(e){
            var val = $(nameInput).val();
            var nameVali = nameValidation(val);
            var lenVali = lenValidation(val);
            if(nameVali == true){
                console.log("name");
                $(nameInput).parent().addClass('has-error');
                $(nameInput).parent().parent().find('.help-block').hide();
                $(nameInput).parent().parent().find('.help-block-name').show();
                $('.poster-wrapper').addClass('poster-disabled');
                $('.add-poster-btn').addClass('disabled');
            }else if(lenVali == false){
                console.log("len");
                $(nameInput).parent().addClass('has-error');
                $(nameInput).parent().parent().find('.help-block').hide();
                $(nameInput).parent().parent().find('.help-block-len').show();
                $('.poster-wrapper').addClass('poster-disabled');
                $('.add-poster-btn').addClass('disabled');
            }else{
                console.log("good")
                $(nameInput).parent().removeClass('has-error');
                $(nameInput).parent().parent().find('.help-block').hide();
                $('.poster-wrapper').removeClass('poster-disabled');
                $('.add-poster-btn').removeClass('disabled');
            }
        });

        /*
        $('#name-profile').click(function(){
            $(this).toggleClass('confirmed');
            var confirmed = $(this).hasClass('confirmed');
            if (confirmed == true){
                profileName = $(nameInput).val();
                $(nameInput).prop('disabled', true);
                $(this).removeClass('bg-blue').addClass('bg-grey');
                $(this).text('Rename');
                $('.status-naming').attr('class','status-naming col-sm-3 status-box').find('i').attr('class','fa fa-check');
                $('.status-choosing').addClass('current-status');
                $(nameInput).parent().removeClass('has-error');
                $(nameInput).parent().parent().find('.help-block').hide();
                posterState();
            }else{
                var profileName = "";
                $(nameInput).prop('disabled', false);
                $(this).removeClass('bg-grey').addClass('bg-blue');
                $(nameInput).focus();
                $(this).text('Submit');
                $('.status-choosing').attr('class','status-choosing col-sm-3 status-box col-sm-offset-1');
                $('.status-naming').addClass('current-status');
                $(nameInput).parent().removeClass('has-error');
                $(nameInput).parent().parent().find('.help-block').hide();
                posterState();
            }
        });
        */
        function addMon(nid,mid,monName,feed,thmb){
            var user = "{{=me}}"
            $.ajax({
                method:'post',
                url:"{{=URL(c='plugin_livestreams',f='fav_monitor')}}",
                data:{'nid':nid,'monName':monName,'mid':mid,'feed':url,'proxy':proxy,'user':user,'thmb':thmb},
                success: function(data){
                    showAlert(data);
                }
            });
        }

        $('.add-poster-btn').click(function(){
            var con = $(this).closest('.poster-wrapper');
            var disabled = $(this).hasClass('disabled');
            var nameInput = $('#profile-name');
            if (disabled == false){
                $(this).toggleClass('added');
                var added = $(this).hasClass('added');
                if (added == true){
                    $(this).find('i').attr('class','fa fa-check icon-green');
                    $(con).addClass('selected');
                    //favMon(nid,mid,monName,feed,thmb);
                }else{
                    $(this).find('i').attr('class','fa fa-plus icon-red');
                    $(con).removeClass('selected');
                    //unfavMon(nid,mid);
                }
            }
            var selectedCount = $('.selected').length;
            if(selectedCount > 0){
                $('#save-camera').prop('disabled',false);
                $('#save-camera').removeClass('bg-grey').addClass('bg-red');
            }else{
                $('#save-camera').prop('disabled',true);
                $('#save-camera').removeClass('bg-red').addClass('bg-grey');
            }
        });

        $('#save-camera').click(function(){
            var savCam = $(this).hasClass('saved-cameras');
            $(this).toggleClass('saved-cameras');
            if(savCam == true){
                gatherInfo();
            }else{
                $('.camera-instructions').text('Reorder Cameras:');
                $('.poster-wrapper').each(function(){
                    var selected = $(this).hasClass('selected');
                    if(selected == false){
                        $(this).remove();
                    }
                    else{
                        $(this).appendTo('.posters-stage');
                    }
                });
                $('.posters-pre-stage').remove();
                $(this).html('<i class="fa fa-floppy-o" aria-hidden="true"></i> Save Profile');
                reorder();
            }
        });
    });
</script>
{{end}}
