<!-- Live Views Version 1.1.2 -->
{{extend 'layout.html'}}

{{block content-header}}
    <section class="content-header xl-padding">
        <h1>
            Live Streams <small>{{=pName}}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{=URL('default','index')}}"><i class="fa fa-home"></i> Home</a></li>
            <li class="active">Live Streams</li>
        </ol>
    </section>
{{end}}

{{block content}}
<div class="row md-top">
    <div class="col-sm-12 live-streams lg-padding">
        {{ for m,f,nn in zip(monitors,favd,node_name):}}
        <div class="col-sm-3 xs-padding mon-wrapper">
            <div class="box box-scti mon-box">
                <div class="box-scti-border box-sm-border clearfix">
                    <div class="fav-view pull-left">
                        {{if f == 'true':}}
                        <a class="fav-view-btn favd" data-favd="{{=f}}" data-proxy="{{=m.proxy_prefix}}" data-thumbnail="{{=m.monitor_thumbnail}}" data-nid="{{=m.node_id}}" data-mid="{{=m.monitor_id}}" data-feed="{{=m.monitor_feed}}" data-mon-name="{{=m.monitor_name}}"><i class="fa fa-star icon-yellow" aria-hidden="true"></i></a>
                        {{else:}}
                        <a class="fav-view-btn" data-favd="{{=f}}" data-proxy="{{=m.proxy_prefix}}" data-thumbnail="{{=m.monitor_thumbnail}}" data-nid="{{=m.node_id}}" data-mid="{{=m.monitor_id}}" data-feed="{{=m.monitor_feed}}" data-mon-name="{{=m.monitor_name}}"><i class="fa fa-star-o icon-yellow" aria-hidden="true"></i></a>
                        {{pass}}
                    </div>
                    <h6 class="xs-text-dark pull-left xs-padding noselect"><strong>{{=nn}}</strong> {{=m.monitor_name}}</h6>
                    <div class="view-status pull-left paused"><i class="fa fa-pause" aria-hidden="true"></i></div>
                    <div class="box-tools pull-right xs-padding">
                        <div class="btn-group">
                            <button type="button" class="btn btn-box-tool dropdown-toggle no-line-height no-padding-top" data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-bars"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{=URL(c='plugin_event_library',f='index',vars=dict(nid=m.node_id,mid=m.monitor_id,source='live_views',page=1))}}">Recent recordings</a></li>
                                <li><a href="{{=URL(c='plugin_video_library',f='index',vars=dict(nid=m.node_id,mid=m.monitor_id,page=1))}}">Archived videos</a></li>
                                <li class="divider"></li>
                                <li><a data-mid="{{=m.monitor_id}}" data-mon-name="{{=m.monitor_name}}" data-proxy="{{=m.proxy_prefix}}" data-thumbnail="{{=m.monitor_thumbnail}}" data-nid="{{=m.node_id}}" data-toggle="modal" data-target="#reportModal" class="report-camera"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Report camera issue</a></li>
                            </ul>
                        </div>
                        </div>
                    <div class="pull-right">
                        <label class="check-1 pull-right">
                            <input type="checkbox" class="mon-toggle" />
                            <div class="inner"></div>
                            <div class="bullet"></div>
                        </label>
                    </div>
                    <div class="pull-right xs-padding">
                        <select class="resize">
                            <option selected="selected" value="col-sm-3">25%</option>
                            <option value="col-sm-6">50%</option>
                            <option value="col-sm-9">75%</option>
                            <option value="col-sm-12">100%</option>
                        </select>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <img class="mon-view" data-src="{{=m.monitor_feed}}" data-thumbnail="{{=request.env.request_scheme}}://{{=request.env.http_host}}/{{=m.proxy_prefix}}/plugin_livestreams/stream_thumbnail?fp={{=m.monitor_thumbnail}}" src="{{=request.env.request_scheme}}://{{=request.env.http_host}}/{{=m.proxy_prefix}}/plugin_livestreams/stream_thumbnail?fp={{=m.monitor_thumbnail}}">
                    <div class="loader-wrapper col-xs-3 col-xs-offset-5">
                        <div class="loader"></div>
                    </div>
                </div>
            </div>
        </div>
        {{pass}}
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Report Camera Issue for <strong><span class="modal-camera-name"></span></strong></h4>
            </div>
            <div class="modal-body">
                <form class="report-camera-form">
                    <div class="form-group">
                        <input type="hidden" name="thumbnail" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="proxy" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="nid" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="mid" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Camera Name:</label>
                        <input type="text" name="camera_name" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <textarea name="issue_description" class="form-control" rows="5" placeholder="Description of the cameras issue..."></textarea>
                        <span class="help-block">Please enter a brief discription.</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="form-loader-wrapper pull-left">
                    <div class="form-loader"></div>
                </div>
                <h6 class="loader-text pull-left sm-padding md-line-height">
                    Sending...
                </h6>
                <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default btn-flat bg-blue report-camera-confirm">Submit Report</button>
            </div>
        </div>
    </div>
</div>

<!-- Video Modal -->
<div class="modal fade" id="timeoutMessage" tabindex="-1" role="dialog" aria-labelledby="timeoutMessage">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Are you there?</h4>
            </div>
            <div class="modal-body">
                <p>To help system performance we will redirect you to the homepage if you havent been active for more than 5 minutes.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat bg-red btn-sm" id="killTimeout" data-dismiss="modal">I'm Still Here</button>
            </div>
        </div>
    </div>
</div>
{{end}}

{{block custom_js}}
<script>
    
var it = 0;

var mons = document.getElementsByClassName('mon-wrapper');
var monToggles = document.getElementsByClassName('mon-toggle');
var monSizes = document.getElementsByClassName('resize');

var monVals = [];
var monSize = [];

function clearStatus(){
    localStorage.clear();
    showAlert('Configurations have been cleared');
}

$(document).ready(function(){
    
    function timer(){

        var img_interval = setInterval(update_img, 60000);
        var imgit = 0;
        function update_img(){
            imgit = imgit + 1;
            $('.widget-view').each(function(){
                var thmb = $(this).attr('data-thumbnail');
                $(this).attr('src',thmb);
                var test = $(this).attr('src');
            });
        };
    }

    timer();

    function monUpdate(che,con){
        var view = $(con).find('.mon-view');
        var thumbsrc = $(con).find('.mon-view').attr('data-thumbnail');
        var src = $(con).find('.mon-view').attr('data-src');
        var stat = $(con).find('.view-status');
        var spin = $(con).find('.loader-wrapper');
        if(che.checked) {
            $(view).attr('src',src);
            $(spin).show();
            $(stat).find('i').attr('class','fa fa-play');
            $(stat).removeClass('paused');
            $(view).show();
            $(view).on('load',function(){
                $(spin).hide();
            });
        }else{
            $(view).attr('src',thumbsrc);
            $(stat).find('i').attr('class','fa fa-pause');
            $(stat).addClass('paused');
            $(spin).hide();
        }
    };
    
    $(".mon-toggle").change(function() {
        it = 0;
        var con = $(this).parent().parent().parent().parent().parent();
        if(this.checked) {
            $(this).attr('checked',true);
        }else{
            $(this).attr('checked',false);
        }
        monUpdate(this,con);
    });
    
    function favMon(nid,mid,monName,feed,thmb,proxy){
        var url = proxy+feed
        var user = "{{=me}}"
        $.ajax({
            method:'post',
            url:"{{=URL(c='plugin_livestreams',f='fav_monitor')}}",
            data:{'nid':nid,'monName':monName,'mid':mid,'feed':url,'proxy':proxy,'user':user,'thmb':thmb},
            success: function(data){
                showAlert(data);
            }
        });
    }
    
    function unfavMon(nid,mid){
        var user = "{{=me}}"
        $.ajax({
            method:'post',
            url:"{{=URL(c='plugin_livestreams',f='unfav_monitor')}}",
            data:{'nid':nid,'mid':mid,'user':user},
            success: function(data){
                showAlert(data);
            }
        });
    }
    
    $(".fav-view-btn").click(function() {
        var nid = $(this).attr('data-nid');
        var mid = $(this).attr('data-mid');
        var monName = $(this).attr('data-mon-name');
        var feed = $(this).attr('data-feed');
        var thmb = $(this).attr('data-thumbnail');
        var proxy = $(this).attr('data-proxy');
        $(this).toggleClass('favd');
        var favd = $(this).hasClass('favd');
        if (favd == true){
            $(this).find('i').attr('class','fa fa-star icon-yellow');
            favMon(nid,mid,monName,feed,thmb,proxy);
        }else{
            $(this).find('i').attr('class','fa fa-star-o icon-yellow');
            unfavMon(nid,mid);
        }
    });
    
    function timer(){
        var main_to = 300;
        
        var main_interval = setInterval(increment, 1000);
        
        function increment(){
            it = it + 1;
            if (it >= main_to){
                clearInterval(main_interval);
                $('#timeoutMessage').modal({
                    show: 'false'
                });
                msgTimer();
            }
        }
    }
    timer();
    
    function msgTimer(){
        
        var msgit = 0;
        var msg_to = 30;
        
        var msg_interval = setInterval( msg_increment, 1000);
        
        function msg_increment(){
            msgit = msgit + 1;
            if (msgit >= msg_to){
                clearInterval(msg_interval);
                window.location.href = "{{=URL(c='default',f='index')}}";
            }
        }
        
        $('#killTimeout').click(function(){
            clearInterval(msg_interval);
            msgit = 0;
            it = 0;
            timer();
        });
    };
    
    /* Resize Live Streams */
    function resize(con,size,view,data,che,sta){
        var newUrl = '';
        $(con).attr('class','').addClass(size).addClass('sm-padding').addClass('mon-wrapper');
        $(con).find('.resize').val(size);
        if(size == 'col-sm-3'){
            newUrl = data.replace(/scale=.*&maxfps/, 'scale=40&maxfps');
        }if(size == 'col-sm-6'){
            newUrl = data.replace(/scale=.*&maxfps/, 'scale=60&maxfps');
        }if(size == 'col-sm-9'){
            newUrl = data.replace(/scale=.*&maxfps/, 'scale=80&maxfps');
        }if(size == 'col-sm-12'){
            newUrl = data.replace(/scale=.*&maxfps/, 'scale=100&maxfps');
        }
        $(view).attr('data-src',newUrl);
        if(sta == 'checked'){
            $(view).attr('src',newUrl);
        }
    };

    $('.resize').change(function(){
        it = 0;
        var con = $(this).parent().parent().parent().parent();
        var view = $(con).find('.mon-view');
        var data = $(view).attr('data-src');
        var size = $(this).val();
        var che = $(con).find('.mon-toggle');
        var sta = $(con).find('.mon-toggle').attr('checked');
        resize(con,size,view,data,che,sta);
    });
    
    /* Sortable Live Stream */
    /*
    $(function(){
        $( ".live-streams" ).sortable();
        $( ".live-streams" ).disableSelection();
    });
    */
    
    function sendReport(n,mn,m,d,t,p){
        $.ajax({
            method:'post',
            url:"{{=URL(c='plugin_livestreams',f='report_camera')}}",
            data:{'nid':n,'monName':mn,'mid':m,'nodeName':p,'rdesc':d,'thmb':t},
            success: function(data){
                showAlert(data);
                $('#reportModal').modal('toggle');
                $('.form-loader-wrapper').hide();
                $('.loader-text').hide();
            }
        });
    }
    
    function updateReport(mid,monName,nid,thmb,proxy){
        $('.modal-camera-name').text(monName);
        var form = $('.report-camera-form');
        var fnid = $(form).find('[name="nid"]');
        var fmid = $(form).find('[name="mid"]');
        var fmname = $(form).find('[name="camera_name"]');
        var frdesc = $(form).find('[name="issue_description"]');
        var fthmb = $(form).find('[name="thumbnail"]');
        var fproxy = $(form).find('[name="proxy"]');
        $(fnid).val(nid);
        $(fmid).val(mid);
        $(fmname).val(monName);
        $(fthmb).val(thmb);
        $(fproxy).val(proxy);
        $('.report-camera-confirm').click({nid: fnid, monName: fmname, mid: fmid, rdesc: frdesc, thmb: fthmb, proxy:fproxy}, submitReportForm);
    };
    
    function submitReportForm(event){
        $('.form-loader-wrapper').show();
        $('.loader-text').show();
        var finputs = [event.data.nid,event.data.monName,event.data.mid,event.data.rdesc,event.data.thmb,event.data.proxy];
        var fvals = []
        for (var f = 0; f < finputs.length; f++) {
            var val = $(finputs[f]).val();
            if(val != ""){
                fvals.push(val);
            }else{
                $(finputs[f]).parent().addClass('has-error');
                $(finputs[f]).parent().find('.help-block').show();
            }
        }
        if((finputs.length)==(fvals.length)){
            var n = fvals[0]
            var mn = fvals[1];
            var m = fvals[2];
            var d = fvals[3];
            var t = fvals[4];
            var p = fvals[5];
            sendReport(n,mn,m,d,t,p);
        }
    }
    
    $('.report-camera').click(function(){
        var mid = $(this).attr('data-mid');
        var monName = $(this).attr('data-mon-name');
        var thmb = $(this).attr('data-thumbnail');
        var nid = $(this).attr('data-nid');
        var proxy = $(this).attr('data-proxy');
        updateReport(mid,monName,nid,thmb,proxy);
    });
});
</script>
{{end}}
