{{extend 'layout.html'}}

{{block header}}
<h1>This is the plugin_admin/users.html template</h1>
{{end}}

{{block content}}
    {{for u in users:}}
        <table style="background:white;border-spacing:1px;width:20%;border: 1px solid black;">
            <th>User Details</th><th>Memberships</th>
            <tr><td>
                <table>
                    <tr><td><h5>First Name:</h5></td><td>{{=u.first_name}}</td></tr>
                    <tr><td><h5>Last Name:</h5></td><td>{{=u.last_name}}</td></tr>
                    <tr><td><h5>Username:</h5></td><td>{{=A(u.username,_href=URL('profile',args=u.id))}}</td></tr>
                </table>
                </td>
                <td>{{for m in members:}}{{=m.auth_group.role if m.auth_membership.user_id==u.id else ''}}{{pass}}</td>
            </tr>
        </table>
        
{{pass}}

{{end}}
