{{extend 'layout.html'}}

{{block custom_css}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css">
<link rel="stylesheet" href="https:////cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css">
{{end}}

{{block content}}

<div class="row">
    <div class="col-sm-8">
        <div id="calendar">
            
        </div>
    </div>
</div>

{{end}}

{{block custom_js}}
<script src="{{=URL('static','plugin_projects/js/moment.min.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
<script>
    
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            defaultView: 'agendaDay',
            theme: true,
            // emphasizes business hours
            businessHours: true,
            // event dragging & resizing
            editable: true,
            // header
            header: {
              left: 'today',
              center: 'title',
            },
            events: [
                {
                    title:'Meeting',
                    start:'2017-06-06T09:00:00',
                    end:'2017-06-06T10:00:00',
                    allDay:false
                }
            ],
            resources: [
                // resources go here
            ],
            businessHours: {
                dow: [ 1, 2, 3, 4, 5 ],
                start: '09:00',
                end: '17:00',
            }
        });
        
        function setBoxHeight(){
            boxHei = getBoxHeight(70);
            $('#calendar').css({
                'height':boxHei
            });
        };
        setBoxHeight();
    });
</script>
{{end}}
