{{extend 'layout.html'}}

{{block content}}
<div class="row">
    <div class="col-sm-8 col-md-9">
        <div id="workday" class="clearfix">
            <div class="col-sm-12 no-padding">
                <form>
                    <div class="form-group col-sm-4 sm-padding-right">
                        <label>Workday Start Time:</label>
                        <select class="select2 form-control time-select" id="dayStart">
                        </select>
                    </div>
                    <div class="form-group col-sm-4 sm-padding-left">
                        <label>Workday End Time:</label>
                        <select class="select2 form-control time-select" id="dayEnd">
                        </select>
                    </div>
                    <div class="form-group col-sm-4 sm-padding-left">
                        <label>Lunch Time:</label>
                        <select class="select2 form-control time-select" id="dayLunch">
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-3">
        <a id="toggleTasks" class="pull-right tasks-shown" style="font-size:2.5rem;"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <a id="saveWorkspace" class="pull-left btn btn-flat bg-green btn-sm no-label" onclick="saveWorkspace(this)">Save Workspace</a>
    </div>
</div>
<div class="row clearfix" id="workspaceContainer" style="overflow-x:hidden;">
    <div id="timeMarkersHolder" class="hidden-xs pull-left col-sm-2 col-md-1 no-padding-right">
        <div id="timeMarkers" style="display:flex;flex-direction:column;">

        </div>
    </div>
    <div class="col-sm-6 col-md-8 no-padding-left" id="workspaceHolder">
        <div id="workspace" style="display:flex;flex-direction:column;">
            <div class="col-sm-12 workspace-message" style="flex:1;display:flex;justify-content:center;flex-direction:column;background:#FFF;">
                <h4 style="padding:25px;text-align:center;">
                    <i class="fa fa-plus-square-o" aria-hidden="true"></i> Drag a task onto your workspace
                </h4>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-3" id="taskListHolder">
        <div id="taskList">

        </div>
    </div>
</div>

<!-- Log Time -->
<div class="modal fade" id="addTime" role="dialog" aria-labelledby="addTime">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <h4 class="modal-title pull-left">Log Time</h4>
            </div>
            <div class="modal-body add-time-area clearfix">
                <form class="form" id="addTimeForm">
                    <div class="col-sm-6 sm-padding-right">
                        <div class="form-group">
                            <label>Task:</label>
                            <select class="task-select select2 form-control" style="width: 100%;" disabled></select>
                        </div>
                    </div>
                    <div class="col-sm-6 sm-padding-left">
                        <div class="form-group">
                            <label>Hours worked:</label>
                            <input type="number" name="hours-worked" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-sm-6 sm-padding-right">
                        <div class="form-group">
                            <label>Work done on:</label>
                            <input name="done-on" class="form-control" type="date" required>
                        </div>
                    </div>
                    <div class="col-sm-6 sm-padding-left">
                        <div class="form-group">
                            <label>Work Description:</label>
                            <textarea name="work-description" class="form-control" rows="3" required></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat btn-sm" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default btn-flat bg-green btn-sm" id="submitTimeCard" onclick="submitTimeCard()">Submit Time Card</button>
            </div>
        </div>
    </div>
</div>

<!-- Complete Task -->
<div class="modal fade" id="completeTask" role="dialog" aria-labelledby="completeTask">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body complete-task-area">
                <p>Are you sure you want to mark this task as complete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat btn-sm pull-left" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-default btn-flat bg-green btn-sm" id="completeTaskSubmit" onclick="completeTaskSubmit(this)">Yes</button>
            </div>
        </div>
    <!-- /.modal-content -->
    </div>
  <!-- /.modal-dialog -->
</div>
{{end}}

{{block custom_js}}
<script>
    var workDayTime = 8;
    var dayStartDefault = '09:00:00';
    var dayEndDefault = '17:00:00';
    var dayLunchDefault = '13:00:00';
    var boxHei;
    var blockHei;
    var timeAvailable = 8;
    var dayHours = {'12:00AM':'00:00:00','12:30AM':'00:30:00','1:00AM':'01:00:00','1:30AM':'01:30:00','2AM':'02:00:00','2:30AM':'02:30:00','3:00AM':'03:00:00','3:30AM':'03:30:00','4:00AM':'04:00:00','4:30AM':'04:30:00','5:00AM':'05:00:00','5:30AM':'05:30:00','6:00AM':'06:00:00','6:30AM':'06:30:00','7:00AM':'07:00:00','7:30AM':'07:30:00','8:00AM':'08:00:00','8:30AM':'08:30:00','9:00AM':'09:00:00','9:30AM':'09:30:00','10:00AM':'10:00:00','10:30AM':'10:30:00','11:00AM':'11:00:00','11:30AM':'11:30:00','12:00PM':'12:00:00','12:30PM':'12:30:00','1:00PM':'13:00:00','1:30PM':'13:30:00','2:00PM':'14:00:00','2:30PM':'14:30:00','3:00PM':'15:00:00','3:30PM':'15:30:00','4:00PM':'16:00:00','4:30PM':'16:30:00','5:00PM':'17:00:00','5:30PM':'17:30:00','6:00PM':'18:00:00','6:30PM':'18:30:00','7:00PM':'19:00:00','7:30PM':'19:30:00','8:00PM':'20:00:00','8:30PM':'20:30:00','9:00PM':'21:00:00','9:30PM':'21:30:00','10:00PM':'22:00:00','10:30PM':'22:30:00','11:00PM':'23:00:00','11:30PM':'23:30:00'};

    function setBoxHeight(){
        boxHei = getBoxHeight(70);
        blockHei = boxHei/16;
        $('#taskList').css({
            'max-height':boxHei,
            'overflow-y':'scroll',
            'height':'100%',
            'width':'calc(100% + 33px)'
        });
        $('#workspaceHolder').css({
            'height':boxHei
        });
        $('#timeMarkersHolder').css({
            'height':boxHei
        });
    };
    setBoxHeight();

    function buildTimeSelect(){
        for (var key in dayHours) {
            var timeSection = '<option value="'+ dayHours[key] +'">'+ key +'</option>';
            $('#dayStart').append(timeSection);
            $('#dayEnd').append(timeSection);
            $('#dayLunch').append(timeSection);
        }
    };
    buildTimeSelect();

    function createTimeMarkers(dayStartDefault,dayEndDefault,dayLunchDefault){
        $('#timeMarkers').empty();
        var timeCount = 0;
        for (var key in dayHours) {
            if ((dayHours[key] >= dayStartDefault)&&(dayHours[key] < dayEndDefault)){
                timeCount++;
                $('#timeMarkers').append('<div class="col-sm-12 marker-blocks" style="overflow-y:hiddenlflex:1;display:flex;justify-content:center;flex-direction:column;background:#FFF;border-top:1px solid #222D32;"><h5 style="text-align:right;line-height:0;margin:0;" data-full-time="'+ dayHours[key] +'">'+ key +'</h5></div>');
            }
        }
        $('.marker-blocks').height((blockHei-1)+'px');
    }
    createTimeMarkers(dayStartDefault,dayEndDefault,dayLunchDefault);
    
    function getMyWorkspace(){
        var uid = '{{=uid}}';
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='myWorkspaceTasks')}}",
            data:{'uid':uid},
            success: function(data){
                var workspaceTids = [];
                if(data!='None'){
                    $.each($.parseJSON(data), function(key,tasks){
                        var task = '<div class="col-xs-12 task-container no-padding bg-'+ tasks.task_color +'" data-tid="'+ tasks.id +'" style="flex:1,display:flex,justify-content:center,flex-direction:column"><div class="info-box task-box"><div class="info-box-content" style="margin-left:0;"><span class="info-box-text"><span  onclick=openProject("' + tasks.project_url +'") style="text-decoration:underline;width:50%;overflow-x:hidden;text-overflow:ellipsis;" class="pull-left">'+ tasks.project_name +'</span><span class="pull-right" style="width:50%;text-align:right;">Creator: '+ tasks.creator +'</span></span><span class="info-box-bold-text" style="font-size:1.5rem;">'+ tasks.name +'</span><div class="progress"><div class="progress-bar" style="width:'+ tasks.progress +'%"></div></div><span class="progress-description task-due-date" style="width:30%;float:left;"><i class="fa fa-flag-checkered" aria-hidden="true"></i> '+ tasks.due_date +'</span><span class="progress-description task-hours-worked" style="width:40%;float:left;"><span class="task-time-worked">'+ tasks.hours_worked +'</span> of <span class="task-time-estimate">'+ tasks.time_estimate +'</span> hour(s) logged</span><span class="progress-description task-controls" style="width:30%;float:left;"><a class="add-time action-btn" data-toggle="tooltip" data-placement="top" title="Log Time" onclick="openTimeCard(this,'+ tasks.id +')"><i class="fa fa-clock-o" aria-hidden="true"></i></a><a class="complete-task action-btn" data-toggle="tooltip" data-placement="top" title="Complete" onclick="completeTask(this,'+ tasks.id +')"><i class="fa fa-check" aria-hidden="true"></i></a><a class="remove-task action-btn" data-toggle="tooltip" data-placement="top" title="Remove task" onclick="removeTask(this,'+ tasks.id +')"><i class="fa fa-trash-o" aria-hidden="true"></i></a><a class="add-task-time action-btn" data-toggle="tooltip" data-placement="top" title="+30 Mins" onclick="addTaskTime(this,'+ tasks.id +',0.5)">+30M</a><a class="add-task-time action-btn" data-toggle="tooltip" data-placement="top" title="-30 Mins" onclick="addTaskTime(this,'+ tasks.id +',-0.5)">-30M</a></span></div></div></div>';
                        workspaceTids.push(tasks.id);
                        $('#workspaceHolder').append(task);
                        var taskContainer = $('#workspaceHolder').children().last();
                        adjustContainer(taskContainer);
                    });
                    getMyTasks(workspaceTids);
                }else{
                    getMyTasks(workspaceTids);
                }
            },error: function(data){
                var error = '<div class="col-xs-12"><p class="text-red">Unable to load project tasks.</p></div>';
                $('#my-tasks').html(error);
            }
        });
    }
    getMyWorkspace();
    
    function getMyTasks(workspaceTids){
        console.log(workspaceTids);
        var uid = '{{=uid}}';
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='myTasks')}}",
            data:{'uid':uid},
            success: function(data){
                $('#my-tasks').find('.task-loader').remove();
                $.each($.parseJSON(data), function(key,tasks){
                    if(workspaceTids.indexOf(tasks.id) == -1) {
                        var task = '<div class="col-xs-12 task-container no-padding bg-'+ tasks.task_color +'" data-tid="'+ tasks.id +'"><div class="info-box task-box"><div class="info-box-content" style="margin-left:0;"><span class="info-box-text"><span  onclick=openProject("' + tasks.project_url +'") style="text-decoration:underline;width:50%;overflow-x:hidden;text-overflow:ellipsis;" class="pull-left">'+ tasks.project_name +'</span><span class="pull-right" style="width:50%;text-align:right;">Creator: '+ tasks.creator +'</span></span><span class="info-box-bold-text" style="font-size:1.5rem;">'+ tasks.name +'</span><div class="progress"><div class="progress-bar" style="width:'+ tasks.progress +'%"></div></div><span class="progress-description task-due-date" style="width:40%;float:left;"><i class="fa fa-flag-checkered" aria-hidden="true"></i> '+ tasks.due_date +'</span><span class="progress-description task-hours-worked" style="width:60%;float:left;"><span class="task-time-worked">'+ tasks.hours_worked +'</span> of <span class="task-time-estimate">'+ tasks.time_estimate +'</span> hour(s) logged</span><span class="progress-description task-controls hidden" style="width:40%;float:left;"><a class="add-time action-btn" data-toggle="tooltip" data-placement="top" title="Log Time" onclick="openTimeCard(this,'+ tasks.id +')"><i class="fa fa-clock-o" aria-hidden="true"></i></a><a class="complete-task action-btn" data-toggle="tooltip" data-placement="top" title="Complete" onclick="completeTask(this,'+ tasks.id +')"><i class="fa fa-check" aria-hidden="true"></i></a><a class="remove-task action-btn" data-toggle="tooltip" data-placement="top" title="Remove task" onclick="removeTask(this,'+ tasks.id +')"><i class="fa fa-trash-o" aria-hidden="true"></i></a><a class="add-task-time action-btn" data-toggle="tooltip" data-placement="top" title="+30 Mins" onclick="addTaskTime(this,'+ tasks.id +',0.5)">+30M</a><a class="add-task-time action-btn" data-toggle="tooltip" data-placement="top" title="-30 Mins" onclick="addTaskTime(this,'+ tasks.id +',-0.5)">-30M</a></span></div></div></div>';
                        $('#taskList').append(task);
                    }
                });
                InitailizeDragDrop();
            },error: function(data){
                var error = '<div class="col-xs-12"><p class="text-red">Unable to load project tasks.</p></div>';
                $('#my-tasks').html(error);
            }
        });
    }
    //getMyTasks();
    
    function adjustContainer(taskContainer){
        $('.workspace-message').addClass('hidden');
        var timeWorked = parseInt($(taskContainer).find('.task-time-worked').text());
        var timeEstimate = parseInt($(taskContainer).find('.task-time-estimate').text());
        var taskHei;
        var taskTime = parseInt(timeEstimate) - parseInt(timeWorked);
        $(taskContainer).attr('data-task-time',taskTime);
        if (taskTime < 1){
            taskHei = (blockHei * 2) + 1;
            timeAvailable = timeAvailable - 1;
        }else{
            taskHei = ((blockHei * taskTime) * 2) + 1;
            timeAvailable = timeAvailable - taskTime;
        }
        $(taskContainer).css({
            'margin-bottom':'0px',
            'border-bottom':'1px solid #222D32',
            'height':taskHei,
            'min-height':taskHei
        })
        $(taskContainer).find('.task-box').css({
            'min-height':taskHei
        })
    }

    function InitailizeDragDrop(){
        var taskContainer;
        $(".task-container").draggable({
            start: function( event, ui ) {
                taskContainer = this;
            },
            helper: "clone",
            zIndex: 1000
        });
        $("#workspaceHolder").droppable({
            accept: ".task-container",
            drop: function( event, ui ) {
                $(this).append(taskContainer);
                $(taskContainer).find('.task-due-date').css('width','30%');
                $(taskContainer).find('.task-hours-worked').css('width','40%');
                $(taskContainer).find('.task-controls').css('width','30%').removeClass('hidden');
                $(taskContainer).css({
                    'flex':'1',
                    'display':'flex',
                    'justify-content':'center',
                    'flex-direction':'column'
                })
                adjustContainer(taskContainer);
            }
        });
        // Getter
        var zIndex = $(".task-container").draggable( "option", "zIndex" );
        // Setter
        $(".task-container").draggable( "option", "zIndex", 100 );
        // Getter
        var accept = $("#workspaceHolder").droppable( "option", "accept" );
        // Setter
        $("#workspaceHolder").droppable( "option", "accept", ".task-container" );
    };

    $(document).ready(function(){

        function defaultWorkHours(){
            $('#dayStart').find('option[value="'+ dayStartDefault +'"]').prop('selected',true);
            $('#dayEnd').find('option[value="'+ dayEndDefault +'"]').prop('selected',true);
            $('#dayLunch').find('option[value="'+ dayLunchDefault +'"]').prop('selected',true)
            $('#dayStart').trigger('change');
            $('#dayEnd').trigger('change');
            $('#dayLunch').trigger('change');
            var timeStart = new Date("01/01/2000 " + dayStartDefault).getHours();
            var timeEnd = new Date("01/01/2000 " + dayEndDefault).getHours();
            workDayTime = timeEnd - timeStart;
        };
        defaultWorkHours();

        $('.time-select').on('change',function(){
            dayStartDefault = $('#dayStart').val();
            dayEndDefault = $('#dayEnd').val();
            dayLunchDefault = $('#dayLunch').val();

            var timeStart = new Date("01/01/2000 " + dayStartDefault).getHours();
            var timeEnd = new Date("01/01/2000 " + dayEndDefault).getHours();
            workDayTime = timeEnd - timeStart;

            createTimeMarkers(dayStartDefault,dayEndDefault,dayLunchDefault)
        });

        $('#toggleTasks').click(function(){
            $(this).toggleClass('tasks-shown');
            console.log($(this).hasClass('tasks-shown'));
            if($(this).hasClass('tasks-shown')==true){
                $('#workspaceHolder').attr('class','col-sm-6 col-md-8');
                setTimeout(function() {
                    $('#taskListHolder').removeClass('hidden');
                }, 250);
            }else{
                $('#taskListHolder').addClass('hidden');
                $('#workspaceHolder').attr('class','col-sm-11 col-md-11');
            }
        })

        window.setInterval(function(){
            currentTime();
        }, 600000);

        function currentTime(){
            var d = new Date();
            var hour = d.getHours();
            var min = d.getMinutes();
            $('.marker-blocks h5').each(function(){
                var blockVal = $(this).attr('data-full-time');
                blockVal = blockVal.slice(0, -3);
                var btime = blockVal.split(':');
                if (btime[0]==hour){
                    var bmin = parseInt(btime[1])
                    if ((30 > min) && (bmin == 0)){
                        $(this).css('font-weight','bold');
                        return false;
                    }else if ((bmin <= min) && (bmin == 30)){
                        $(this).css('font-weight','bold');
                        return false;
                    }
                }
            });
        }
        currentTime();
    });

    // Button Functions
    function addTaskTime(btn,tid,time){
        var parent = $(btn).closest('.task-container');
        var taskBox = $(parent).find('.task-box');
        var taskTime = parseFloat($(parent).attr('data-task-time'));
        $(parent).draggable('disable');
        var pHei = $(parent).height();
        if(pHei>(blockHei/2)){
            if(time=='0.5'){
                $(parent).attr('data-task-time',taskTime + 0.5);
                $(parent).height((pHei+blockHei)-0.047).css('min-height',((pHei+blockHei)-0.047)+'px');
                $(taskBox).height((pHei+blockHei)-0.047).css('min-height',((pHei+blockHei)-0.047)+'px');
            }else if(time=='-0.5'){
                $(parent).attr('data-task-time',taskTime - 0.5);
                $(parent).height((pHei-blockHei)-0.047).css('min-height',((pHei-blockHei)-0.047)+'px');
                $(taskBox).height((pHei-blockHei)-0.047).css('min-height',((pHei-blockHei)-0.047)+'px');
            }
            $(taskBox).css('overflow-y','scroll');
        }
    };

    function removeTask(btn,tid){
        var parent = $(btn).closest('.task-container');
        $(parent).css({
            'margin-bottom':'15px',
            'border-bottom':'none',
            'height':'initial',
            'min-height':'100px',
            'flex':'',
            'display':'',
            'justify-content':'',
            'flex-direction':''
        })
        $(parent).find('.task-box').css('min-height','')
        $('#taskList').prepend(parent);
        var tLen = $('#taskList').children().length;
        console.log(tLen);
    };
    
    function updateWorkspaceInDB(btn,tidList,ttimeList,uid){
        var tidList = tidList.toString();
        var ttimeList = ttimeList.toString();
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='updateWorkspaceInDB')}}",
            data:{'tidList':tidList,'ttimeList':ttimeList,'uid':uid},
            success: function(data){
                $(btn).text('Saved!').removeClass('bg-green').addClass('bg-red');
                setTimeout(function(){
                    $(btn).text('Save Workspace').removeClass('bg-red').addClass('bg-green');
                }, 5000);
            },error: function(data){
                $(btn).text('Error!').removeClass('bg-green').addClass('bg-red');
                setTimeout(function(){
                    $(btn).text('Save Workspace').removeClass('bg-red').addClass('bg-green');
                }, 5000);
            }
        });
    }
    
    function saveWorkspace(btn){
        var tidList = [];
        var ttimeList = [];
        var uid = {{=me}};
        $('#workspaceHolder').find('.task-container').each(function(){
            var tid = $(this).attr('data-tid');
            var ttime = $(this).attr('data-task-time');
            tidList.push(tid);
            ttimeList.push(ttime);
        });
        updateWorkspaceInDB(btn,tidList,ttimeList,uid);
    };

    function completeTaskSubmit(element){
        var tid = $(element).attr('data-id');
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='completeTask')}}",
            data:{'tid':tid},
            success: function(data){
                if(data=='True'){
                    var message = '<div class="callout callout-success"><p>Task has been marked complete!</p></div>';
                }else{
                    var message = '<div class="callout callout-danger"><p>Error marking task complete!. Try again later.</p></div>';
                }
                $('.complete-task-area').prepend(message);
                $('.complete-task-area').find('.callout').delay(5000).slideUp('slow');
                location.reload(true);
            },error: function(data){
                var message = '<div class="callout callout-danger"><p>Error marking task complete!. Try again later.</p></div>';
                $('.complete-task-area').prepend(message);
                $('.complete-task-area').find('.callout').delay(5000).slideUp('slow');
            }
        });
    };

    function sendNewTimeCard(form,tid,hours,workDesc,doneOn){
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='addTimeCard')}}",
            data:{'tid':tid,'hours':hours,'workDesc':workDesc,'doneOn':doneOn},
            success: function(data){
                if(data=='True'){
                    var message = '<div class="callout callout-success"><p>Time card has been logged!</p></div>';
                }else{
                    var message = '<div class="callout callout-danger"><p>Error logging time card. Try again later.</p></div>';
                }
                $('.add-time-area').prepend(message);
                $('.add-time-area').find('.callout').delay(5000).slideUp('slow');
                if(data=='True'){
                    location.reload(true);
                }
            },error: function(data){
                var message = '<div class="callout callout-danger"><p>Error logging time card. Try again later.</p></div>';
                $('.add-time-area').prepend(message);
                $('.add-time-area').find('.callout').delay(5000).slideUp('slow');
            }
        });
    };

    function submitTimeCard(){
        var form = $('#addTimeForm');
        var tid = $(form).find('.task-select').val();
        var hours = $(form).find('input[name="hours-worked"]').val();
        var doneOn = $(form).find('input[name="done-on"]').val();
        if(doneOn.length === 0){
            doneOn = 'None';
        }
        var workDesc = $(form).find('textarea[name="work-description"]').val();
        sendNewTimeCard(form,tid,hours,workDesc,doneOn);
    };

    function openTimeCard(element,id){
        $('#addTime').find('.task-select').val(id).trigger('change');
        $('#addTime').modal('show');
    };

    function completeTask(element,id){
        $('#completeTask').find('#completeTaskSubmit').attr('data-id',id);
        $('#completeTask').modal('show');
    };

</script>
{{end}}
