{{extend 'layout.html'}}

{{block content-header}}
    <section class="content-header filled-white md-padding-bottom clearfix">
        <h1 class="sm-padding-right pull-left col-sm-2">
             Project Board
        </h1>
        <div class="col-sm-4">
            <div class="input-group pull-left">
                <div class="input-group-addon" style="padding:0px 16px;">
                    <h5 style="line-height:0px;">Company:</h5>
                </div>
                <select class="company-select select2 form-control pull-left" style="width:100%;"></select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group pull-left">
                <div class="input-group-addon" style="padding:0px 16px;">
                    <h5 style="line-height:0px;">Project:</h5>
                </div>
                <select class="project-select select2 form-control pull-left" style="width:100%;"></select>
            </div>
        </div>
        <button class="btn-flat btn-sm bg-green btn add-project pull-left"><i class="fa fa-plus" aria-hidden="true"></i> Project</button>
        <button class="btn-flat btn-sm bg-green btn add-task pull-left"><i class="fa fa-plus" aria-hidden="true"></i> Task</button>
    </section>
{{end}}

{{block content}}
<div class="row project-manager-desktop">
    <div class="col-lg-6 col-md-8">
        <div class="box project hidden">
            <div class="box-header with-border">
                <div class="col-sm-8 no-padding">
                    <h3 class="box-title"><strong><span class="project-name"></span></strong></h3>
                </div>
                <div class="col-sm-4 no-padding project-manager-buttons">
                    <a style="margin:0 5px;" class="pull-right btn-flat btn-sm bg-green btn-default" onclick="completeProject(this)" id="completeProjectBtn"><i class="fa fa-check" aria-hidden="true"></i></a>
                    <a style="margin:0 5px;" class="project-edit pull-right btn-flat btn-sm bg-orange btn-default" onclick="editProject(this)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a><h4 class="box-title cancel-project-edit pull-right sm-padding hidden" onclick="cancelProjectEdit(this)">Cancel</h4></a>
                </div>
                <div class="col-xs-6 no-padding">
                    <h5>Manager: <strong><span class="project-manager"></span></strong></h5>
                </div>
                <div class="col-xs-6 no-padding">
                    <h5>Team: <strong><span class="project-team"></span></strong></h5>
                </div>
                <div class="col-xs-6 no-padding">
                    <h5>Start Date: <strong><span class="project-start-date"></span></strong></h5>
                </div>
                <div class="col-xs-6 no-padding">
                    <h5>Due Date: <strong><span class="project-due-date"></span></strong></h5>
                </div>
                <div class="col-xs-12 no-padding">
                    <div class="form-group">
                        <h5>Project Status:</h5>
                        <select class="project-status form-control select2" style="width:100%;"></select>
                    </div>
                </div>
                <div class="col-sm-12 no-padding">
                    <h5><strong>Project Progress:</strong></h5>
                    <div class="progress progress-sm sm-top" style="margin-bottom:0;">
                        <div id="projectProgress" class="progress-bar progress-bar-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="project-time form-group pull-left no-bottom">
                        <span><h5 class="project-hours-worked pull-left"></h5></span><span><h5 style="padding-left: 3px;" class="project-time-estimate pull-left"></h5></span>
                    </div>
                </div>
            </div>
            <div class="box-body" style="overflow:hidden;margin:10px;padding:0;">
                <div id="project-tasks" class="sm-top clearfix" style="overflow-y:scroll;height:100%;width:calc(100% + 17px);">

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-4">
        <div class="project-description-box">

        </div>
        <div class="project-requirements">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Project Requirements</h3>
                </div>
                <div class="box-body project-requirements-list" style="overflow-y:scroll;margin:10px;padding:0;padding-left:15px;">
                    <form id="todo-list">
                        <div id="todo-items">

                        </div>
                        <div id="add-todo">
                            <i class="fa fa-plus"></i>Add an Item
                        </div>
                    </form>
                </div>
                <div class="box-footer">
                    <button type="button" id="submitRequirements" onclick="submitRequirements(this)" class="btn btn-sm btn-flat bg-red pull-right">Save Requirements</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Project -->
<div class="modal fade" id="editProject" role="dialog" aria-labelledby="editProject">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <div class="col-xs-8 no-padding">
                    <h4 class="modal-title project-name-title pull-left"></h4>
                    <label class="hidden project-name-label">Project Name:</label>
                    <input class="project-name-input form-control pull-left hidden">
                </div>
                <div class="col-xs-4 project-manager-controls">
                </div>
            </div>
            <div class="modal-body edit-project-area clearfix">
                <div class="col-sm-12 no-padding">
                    <h4><strong>Hours Worked Progress:</strong></h4>
                    <div class="progress progress-sm" style="margin-bottom:0;">
                        <div id="projectProgress" class="progress-bar progress-bar-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="project-time form-group pull-left">
                        <span><h5 class="project-hours-worked pull-left"></h5></span><span><h5 style="padding-left: 3px;" class="project-time-estimate pull-left"></h5></span>
                    </div>
                </div>
                <div class="col-sm-12 project-details sm-padding-right">
                    <form class="form" id="projectDetails">
                        <div class="form-group">
                            <label>Company:</label>
                            <select class="form-company-select select2 form-control" style="width:100%;"></select>
                        </div>
                        <div class="form-group">
                            <label>Project Team:</label>
                            <select class="user-select select2 form-control" style="width:100%;" multiple></select>
                        </div>
                        <div class="form-group">
                            <label>Project Description:</label>
                            <textarea class="form-control project-description" rows="3"></textarea>
                        </div>
                        <div class="col-sm-6 sm-padding-right">
                            <div class="form-group">
                                <label>Project Start Date:</label>
                                <input type="date" class="form-control" name="project-start-date">
                            </div>
                        </div>
                        <div class="col-sm-6 sm-padding-left">
                            <div class="form-group">
                                <label>Project Due Date:</label>
                                <input type="date" class="form-control" name="project-due-date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Project Budget:</label>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control" name="project-budget">
                                <span class="input-group-addon">.00</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Project Actual:</label>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control" name="project-actual">
                                <span class="input-group-addon">.00</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat btn-sm" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default btn-flat bg-green btn-sm hidden" id="submitProject" onclick="submitProjectChanges(this)" disabled>Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Tasks -->
<div class="modal fade" id="editTasks" role="dialog" aria-labelledby="editTasks">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <div class="col-xs-8 no-padding">
                    <h4 class="modal-title task-name-title pull-left"></h4>
                    <label class="task-name-label hidden">Task Name:</label>
                    <input class="task-name-input form-control pull-left hidden">
                </div>
                <div class="col-xs-4 task-manager-controls">

                </div>
            </div>
            <div class="modal-body edit-task-area clearfix">
                <div class="col-sm-12 no-padding">
                    <h4><strong>Hours Worked Progress:</strong></h4>
                    <div class="progress progress-sm" style="margin-bottom:0;">
                        <div id="taskProgress" class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="task-time form-group pull-left">
                        <span><h5 class="task-hours-worked pull-left"></h5></span><span><h5 style="padding-left: 3px;" class="task-time-estimate pull-left"></h5></span>
                    </div>
                </div>
                <div class="col-sm-4 task-details sm-padding-right">
                    <div class="form-group">
                        <label>Assigned to:</label>
                        <select class="user-select select2 form-control" style="width: 100%;" disabled></select>
                    </div>
                    <div class="form-group">
                        <label>Linked task:</label>
                        <select class="task-select select2 form-control" style="width: 100%;" disabled></select>
                    </div>
                    <form class="form" id="taskDetails">

                    </form>
                </div>
                <div class="col-sm-8 sm-padding-left clearfix">
                    <label>Comments:</label>
                    <div class="col-sm-12 chat clearfix no-padding" id="taskPosts" style="max-height:446px;margin-bottom:5px;overflow-y:scroll;">

                    </div>
                    <div class="col-sm-12 no-padding">
                        <div class="input-group">
                            <input id="postInput" class="form-control" placeholder="Type message..." style="height:34px;">

                            <div class="input-group-btn">
                                <button type="button" class="btn btn-flat" id="postSubmit" style="height:34px;background:#DA392E;padding: 6px 16px;color:#FFF;"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat btn-sm" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default btn-flat bg-green btn-sm hidden" id="submitTask" onclick="submitTaskChanges(this)" disabled>Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Tasks -->
<div class="modal fade" id="addTasks" role="dialog" aria-labelledby="addTask">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <div class="col-xs-8 no-padding">
                    <label>Task Name:</label>
                    <input class="add-task-name-input form-control pull-left">
                </div>
            </div>
            <div class="modal-body add-task-area clearfix">
                <form class="form" id="addTaskForm">
                    <div class="form-group">
                        <label>Company:</label>
                        <select class="form-company-select select2 form-control" style="width: 100%;"></select>
                    </div>
                    <div class="form-group">
                        <label>Project:</label>
                        <select class="form-project-select select2 form-control" style="width: 100%;"></select>
                    </div>
                    <div class="col-sm-6 sm-padding-right">
                        <div class="form-group">
                            <label>Assigned to:</label>
                            <select class="user-select select2 form-control" style="width: 100%;"></select>
                        </div>
                    </div>
                    <div class="col-sm-6 sm-padding-left">
                        <div class="form-group">
                            <label>Linked task:</label>
                            <select class="task-select select2 form-control" style="width: 100%;"></select>
                        </div>
                    </div>
                    <div class="col-sm-6 sm-padding-right">
                        <div class="form-group">
                            <label>Task Priority:</label>
                            <input type="number" name="task-priority" class="form-control" min="1" max="10">
                        </div>
                    </div>
                    <div class="col-sm-6 sm-padding-left">
                        <div class="form-group">
                            <label>Start Date:</label>
                            <input type="date" name="task-start-date" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6 sm-padding-right">
                        <div class="form-group">
                            <label>Due Date:</label>
                            <input type="date" name="task-due-date" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6 sm-padding-left">
                        <div class="form-group">
                            <label>Time Estimate (in hours):</label>
                            <input type="number" name="task-time-estimate" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Task Objective:</label>
                        <textarea name="task-objective" class="form-control" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat btn-sm" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default btn-flat bg-green btn-sm" id="submitNewTask" onclick="submitNewTask()">Add Task</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Project -->
<div class="modal fade" id="addProject" role="dialog" aria-labelledby="addProject">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <div class="col-xs-8 no-padding">
                    <label>Project Name:</label>
                    <input class="add-project-name-input form-control pull-left">
                </div>
            </div>
            <div class="modal-body add-project-area clearfix">
                <form class="form" id="addProjectForm">
                    <div class="row no-padding">
                        <div class="col-sm-6 sm-padding">
                            <div class="form-group">
                                <label>Company:</label>
                                <select class="form-company-select select2 form-control" style="width: 100%;"></select>
                            </div>
                        </div>
                        <div class="col-sm-6 sm-padding">
                            <div class="form-group">
                                <label>Project Manager:</label>
                                <select class="user-select manager-select select2 form-control" style="width: 100%;"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row no-padding">
                        <div class="col-sm-6 sm-padding">
                            <div class="form-group">
                                <label>Assigned to:</label>
                                <select class="user-select select2 form-control" id="teamSelect" style="width: 100%;" multiple></select>
                            </div>
                        </div>
                        <div class="col-sm-6 sm-padding">
                            <div class="form-group">
                                <label>Budget:</label>
                                <input type="number" name="project-budget" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row no-padding">
                        <div class="col-sm-6 sm-padding">
                            <div class="form-group">
                                <label>Start Date:</label>
                                <input type="date" name="project-start-date" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6 sm-padding">
                            <div class="form-group">
                                <label>Due Date:</label>
                                <input type="date" name="project-due-date" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Project Description:</label>
                        <textarea name="project-description" class="form-control" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat btn-sm" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default btn-flat bg-green btn-sm" id="submitNewProject" onclick="submitNewProject()">Add Project</button>
            </div>
        </div>
    </div>
</div>

<!-- Log Time -->
<div class="modal fade" id="addTime" role="dialog" aria-labelledby="addTime">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <h4 class="modal-title pull-left">Log Time</h4>
            </div>
            <div class="modal-body add-time-area clearfix">
                <form class="form" id="addTimeForm">
                    <div class="col-sm-6 sm-padding-right">
                        <div class="form-group">
                            <label>Task:</label>
                            <select class="task-select select2 form-control" style="width: 100%;" disabled></select>
                        </div>
                    </div>
                    <div class="col-sm-6 sm-padding-left">
                        <div class="form-group">
                            <label>Hours worked:</label>
                            <input type="number" name="hours-worked" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-sm-6 sm-padding-right">
                        <div class="form-group">
                            <label>Work done on:</label>
                            <input name="done-on" class="form-control" type="date" required>
                        </div>
                    </div>
                    <div class="col-sm-6 sm-padding-left">
                        <div class="form-group">
                            <label>Work Description:</label>
                            <textarea name="work-description" class="form-control" rows="3" required></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat btn-sm" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default btn-flat bg-green btn-sm" id="submitTimeCard" onclick="submitTimeCard()">Submit Time Card</button>
            </div>
        </div>
    </div>
</div>

<!-- Complete Task -->
<div class="modal fade" id="completeTask" role="dialog" aria-labelledby="completeTask">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body complete-task-area">
                <p>Are you sure you want to mark this task as complete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat btn-sm pull-left" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-default btn-flat bg-green btn-sm" id="completeTaskSubmit" onclick="completeTaskSubmit(this)">Yes</button>
            </div>
        </div>
    <!-- /.modal-content -->
    </div>
  <!-- /.modal-dialog -->
</div>
{{end}}

{{block custom_js}}
<script>

    $(document).ready(function(){
        var boxHei = getBoxHeight(50);
        $('#project-tasks').css('max-height',boxHei);
        $('.project-requirements-list').css('max-height',boxHei);
    });

    var me = "{{=me}}";
    var projectManager = false;
    
    var project_status = {{=XML(statuses)}};

    var users_list = {{=XML(users_list)}};
    var tasks_list = {{=XML(tasks_list)}};
    var company_list = {{=XML(company_list)}};
    var project_list = {{=XML(project_list)}};

    localStorage.setItem("company_session", {{=session.cid}});
    localStorage.setItem("project_session", {{=session.pid}});

    $(".company-select,.form-company-select").select2({
        data: company_list
    });
    $(".user-select").select2({
        data: users_list
    });
    $(".task-select").select2({
        data: tasks_list
    });
    $(".project-select,.form-project-select").select2({
        data: project_list
    });

    $(document).ready(function(){
        var cid = localStorage.getItem("company_session");
        var pid = localStorage.getItem("project_session");
        //$(".company-select").find('option[value="'+ cid +'"]').attr('selected',true).prop('disabled',false);
        $(".form-company-select").find('option[value="'+ cid +'"]').attr('selected',true).trigger('change');
        //$(".project-select").find('option[value="'+ pid +'"]').attr('selected',true).prop('disabled',false);
        $(".form-project-select").find('option[value="'+ pid +'"]').attr('selected',true).trigger('change');
        getProjectDetails(pid);
        getProjectTasks(pid);
    });
    
    function updateProjectStatus(pid,status,box){
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='updateProjectStatus')}}",
            data:{'pid':pid,'status':status},
            success: function(data){
                if (data=='True'){
                    $(box).css('background','rgba(0,166,90,1)');
                }else{
                    $(box).css('background','rgba(221,75,57,1)');
                }
            },error: function(data){
                $(box).css('background','rgba(221,75,57,1)');
            }
        })
    }

    function getCompanyProjects(cid){
        localStorage.setItem("company_session",cid);
        $('.project-select,.form-project-select').empty();
        $('#project-tasks').empty();
        $('.project-select,.form-project-select').append('<option value="0">Loading projects...</option>');
        $('.search-details').empty();
        $('.project').addClass('hidden');
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='getCompanyProjects')}}",
            data:{'cid':cid},
            success: function(data){
                $('.project-select,.form-project-select').empty();
                $.each($.parseJSON(data), function(key,project){
                    $('.project-select,.form-project-select').append('<option value="'+ project.id +'">'+ project.name +'</option>');
                });
                $(".project-select,.form-project-select").prop('disabled',false);
            },error: function(data){
                $('.project-select,.form-project-select').empty();
                var error = '<div class="col-xs-12"><p class="text-red">Unable to load company projects.</p></div>';
                $('.search-details').html(error);
            }
        });
    }

    function getProjectDetails(pid){
        localStorage.setItem("project_session",pid);
        var loader = '<div class="col-xs-12"><p><i class="fa fa-circle-o-notch fa-spin" style="font-size:12px"></i> Loading Project...</p></div>';
        $('.search-details').html(loader);
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='getProjectDetails')}}",
            data:{'pid':pid},
            success: function(data){
                $('.search-details').empty();
                $('.project-description-box').empty();
                var editForm = $('#projectDetails');
                $.each($.parseJSON(data), function(key,project){
                    localStorage.setItem("project_manager", project.project_manager_id);
                    $('.project-name,.project-name-title').text(project.project_number +' - '+ project.name);
                    $('.project-name-input').val(project.name);
                    $('.project').attr('data-id',project.id);
                    $('.project-manager').text(project.project_manager);
                    $('.project-start-date').text(project.start_date);
                    $('.project-due-date').text(project.due_date);
                    $('.project-status').select2({
                        data: project_status
                    });
                    $('.project-status').val(project.status).attr('data-pid',project.id);;
                    $('.project-status').trigger('change');
                    $('.project-status').change(function(){
                        var pid = $(this).attr('data-pid');
                        var status = $(this).val();
                        var box = $(this).closest('td');
                        updateProjectStatus(pid,status,box)
                    });
                    $(editForm).find('input[name="project-due-date"]').val(project.full_due_date);
                    $(editForm).find('input[name="project-start-date"]').val(project.full_startdate);
                    $('.project-team').text(project.involved);
                    $('#projectDetails').find('.user-select').val(project.involved_id).trigger('change');
                    $(editForm).find('.project-description').val(project.project_description);
                    $(editForm).find('input[name="project-budget"]').val(project.project_budget);
                    $(editForm).find('input[name="project-actual"]').val(project.project_actual);
                    $('#submitProject').attr('data-id', project.id);
                    if (me == project.project_manager_id){
                        $('.project-edit').removeClass('hidden');
                        $('#completeProjectBtn').attr('data-pid',project.id);
                        $('#completeProjectBtn').removeClass('hidden');
                        projectManager = true;
                    }else{
                        $('.project-edit').addClass('hidden');
                        $('#completeProjectBtn').addClass('hidden');
                        projectManager = false;
                    }
                    $('.project-description-box').append('<div class="box box-solid"><div class="box-header with-border"><h3 class="box-title">Project Description</h3></div><div class="box-body"><p>'+ project.description +'</p></div></div>');
                    $('#todo-list').attr('data-pid',project.id);
                    var requirements = project.requirements;
                    if(requirements != "None"){
                        for (r = 0; r < requirements.length; r++) {
                            var requirement = '<span class="todo-wrap"><input type="checkbox" id="'+ r +'"/><label for="'+ r +'" class="todo"><i class="fa fa-check" onclick="createTask(this)"></i><span class="todo-text">'+ requirements[r] +'</span><input type="text" class="input-todo" id="input-todo'+ r +'"/></label></div>';
                            $('#todo-items').append(requirement);
                        }
                    }
                });
                $('.project').removeClass('hidden');
            },error: function(data){
                var error = '<div class="col-xs-12"><p class="text-red">Unable to load project details.</p></div>';
                $('.search-details').html(error);
            }
        });
    }

    function getProjectTasks(pid){
        var loader = '<div class="col-xs-12 task-loader"><p><i class="fa fa-circle-o-notch fa-spin" style="font-size:12px"></i> Fetching Project Tasks...</p></div>';
        $('#project-tasks').html(loader);
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='getProjectTasks')}}",
            data:{'pid':pid},
            success: function(data){
                var est_time = [];
                var hours_worked = [];
                var task_status = [];
                $('#project-tasks').find('.task-loader').remove();
                $(".form-project-select").find('option[value="'+ pid +'"]').attr('selected',true).trigger('change');
                $.each($.parseJSON(data), function(key,tasks){
                    task_status.push(tasks.status);
                    if (tasks.owner == true){
                        if (tasks.status == 'completed'){
                            var task = '<div class="col-xs-12 task-container no-padding bg-light-grey"><div class="info-box task-box"><span class="info-box-lg-text">'+ tasks.due_date +'</span><div class="info-box-content"><span class="info-box-text"><span class="pull-left">Owner: '+ tasks.assigned_to +'</span><span class="pull-right">Creator: '+ tasks.creator +'</span></span><span class="info-box-bold-text">'+ tasks.name +'</span><div class="progress"><div class="progress-bar" style="width:'+ tasks.progress +'%"></div></div><span class="progress-description" style="width:60%;float:left;">'+ tasks.hours_worked +' of '+ tasks.time_estimate +' hour(s) logged</span><span class="progress-description" style="width:40%;float:left;"><a class="return-task action-btn" data-toggle="tooltip" data-placement="top" title="Return" onclick="returnTask(this,'+ tasks.id +')"><i class="fa fa-reply" aria-hidden="true"></i></a><a class="close-task action-btn" data-toggle="tooltip" data-placement="top" title="Close" onclick="closeTask(this,'+ tasks.id +')"><i class="fa fa-check" aria-hidden="true"></i></a><a class="add-subtask action-btn" data-toggle="tooltip" data-placement="top" title="Add Subtask" onclick="addSubTask('+ tasks.id +')"><i class="fa fa-plus" aria-hidden="true"></i></a><a class="open-task action-btn" data-toggle="tooltip" data-placement="top" title="Open" onclick="openTask(this,'+ tasks.id +')"><i class="fa fa-external-link" aria-hidden="true"></i></a></span></div></div></div>';
                        }else{
                            var task = '<div class="col-xs-12 task-container no-padding bg-'+ tasks.task_color +'"><div class="info-box task-box"><span class="info-box-lg-text">'+ tasks.due_date +'</span><div class="info-box-content"><span class="info-box-text"><span class="pull-left">Owner: '+ tasks.assigned_to +'</span><span class="pull-right">Creator: '+ tasks.creator +'</span></span><span class="info-box-bold-text">'+ tasks.name +'</span><div class="progress"><div class="progress-bar" style="width:'+ tasks.progress +'%"></div></div><span class="progress-description" style="width:60%;float:left;">'+ tasks.hours_worked +' of '+ tasks.time_estimate +' hour(s) logged</span><span class="progress-description" style="width:40%;float:left;"><a class="add-time action-btn" data-toggle="tooltip" data-placement="top" title="Log Time" onclick="openTimeCard(this,'+ tasks.id +')"><i class="fa fa-clock-o" aria-hidden="true"></i></a><a class="complete-task action-btn" data-toggle="tooltip" data-placement="top" title="Complete" onclick="completeTask(this,'+ tasks.id +')"><i class="fa fa-check" aria-hidden="true"></i></a><a class="add-subtask action-btn" data-toggle="tooltip" data-placement="top" title="Add Subtask" onclick="addSubTask('+ tasks.id +')"><i class="fa fa-plus" aria-hidden="true"></i></a><a class="open-task action-btn" data-toggle="tooltip" data-placement="top" title="Open" onclick="openTask(this,'+ tasks.id +')"><i class="fa fa-external-link" aria-hidden="true"></i></a></span></div></div></div>';
                        }
                    }else{
                        if (tasks.status == 'completed'){
                            var task = '<div class="col-xs-12 task-container no-padding bg-light-grey"><div class="info-box task-box"><span class="info-box-lg-text">'+ tasks.due_date +'</span><div class="info-box-content"><span class="info-box-text"><span class="pull-left">Owner: '+ tasks.assigned_to +'</span><span class="pull-right">Creator: '+ tasks.creator +'</span></span><span class="info-box-bold-text">'+ tasks.name +'</span><div class="progress"><div class="progress-bar" style="width:'+ tasks.progress +'%"></div></div><span class="progress-description" style="width:60%;float:left;">'+ tasks.hours_worked +' of '+ tasks.time_estimate +' hour(s) logged</span><span class="progress-description" style="width:40%;float:left;"><a class="close-task action-btn" data-toggle="tooltip" data-placement="top" title="Close" onclick="closeTask(this,'+ tasks.id +')"><i class="fa fa-check" aria-hidden="true"></i></a><a class="add-subtask action-btn" data-toggle="tooltip" data-placement="top" title="Add Subtask" onclick="addSubTask('+ tasks.id +')"><i class="fa fa-plus" aria-hidden="true"></i></a><a class="open-task action-btn" data-toggle="tooltip" data-placement="top" title="Open" onclick="openTask(this,'+ tasks.id +')"><i class="fa fa-external-link" aria-hidden="true"></i></a></span></div></div></div>';
                        }else{
                            var task = '<div class="col-xs-12 task-container no-padding bg-'+ tasks.task_color +'"><div class="info-box task-box"><span class="info-box-lg-text">'+ tasks.due_date +'</span><div class="info-box-content"><span class="info-box-text"><span class="pull-left">Owner: '+ tasks.assigned_to +'</span><span class="pull-right">Creator: '+ tasks.creator +'</span></span><span class="info-box-bold-text">'+ tasks.name +'</span><div class="progress"><div class="progress-bar" style="width:'+ tasks.progress +'%"></div></div><span class="progress-description" style="width:60%;float:left;">'+ tasks.hours_worked +' of '+ tasks.time_estimate +' hour(s) logged</span><span class="progress-description" style="width:40%;float:left;"><a class="add-subtask action-btn" data-toggle="tooltip" data-placement="top" title="Add Subtask" onclick="addSubTask('+ tasks.id +')"><i class="fa fa-plus" aria-hidden="true"></i></a><a class="open-task action-btn" data-toggle="tooltip" data-placement="top" title="Open" onclick="openTask(this,'+ tasks.id +')"><i class="fa fa-external-link" aria-hidden="true"></i></a></span></div></div></div>';
                        }
                    }
                    $('#project-tasks').append(task);
                    hours_worked.push(parseInt(tasks.hours_worked));
                    est_time.push(parseInt(tasks.time_estimate));
                    console.log(projectManager);
                    if(projectManager==true){
                        var all = true;
                        var none = true;
                        function checkTaskStatus(){
                            for (t = 0; t < task_status.length; t++) {
                                if((task_status[t] == 'open')){
                                    return false;
                                }
                            }
                            return true;
                        }
                        var projectStatus = checkTaskStatus();
                        console.log(projectStatus);
                        if(projectStatus == false){
                            $('#completeProjectBtn').addClass('hidden');
                        }else if(projectStatus == true){
                            $('#completeProjectBtn').removeClass('hidden');
                        }
                    }
                });

                var project_progress = projectProgress(hours_worked,est_time);
                var progress = project_progress[0]
                var total_hours_worked = project_progress[1]
                var total_estimate_time = project_progress[2]

                $('#projectProgress').attr('aria-valuenow',progress);
                $('#projectProgress').css('width',progress + '%');
                $('.project-hours-worked').text(total_hours_worked + ' hours worked /');
                $('.project-time-estimate').text(' ' + total_estimate_time + ' hours estimated');

            },error: function(data){
                var error = '<div class="col-xs-12"><p class="text-red">Unable to load project tasks.</p></div>';
                $('#project-tasks').html(error);
            }
        });
    };

    function projectProgress(hours_worked,est_time){
        var total_hours_worked = hours_worked.reduce(function(acc, val) {
            return acc + val;
        }, 0);
        var total_estimate_time = est_time.reduce(function(acc, val) {
            return acc + val;
        }, 0);

        var progress = (total_hours_worked / total_estimate_time) * 100
        if (total_hours_worked > total_estimate_time){
            progress = 100
        }
        progress = Math.round(progress)

        return [progress,total_hours_worked,total_estimate_time]
    }

    function getTaskDetails(element,tid,pid){
        var loader = '<i class="fa fa-circle-o-notch fa-spin pull-right" style="font-size:18px"></i>';
        $(element).find('.info-box-text').append(loader);
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='getTaskDetails')}}",
            data:{'tid':tid},
            success: function(data){
                var detailsForm = $('#taskDetails');
                $(detailsForm).empty();
                $('.task-manager-controls').empty();
                $('#postSubmit').attr({'data-tid':tid,'data-pid':pid});
                var pm = localStorage.getItem("project_manager");
                $(element).find('.info-box-text').find('.fa-circle-o-notch').remove();
                $.each($.parseJSON(data), function(key,task){
                    $(".task-name-title").text(task.task_name);
                    $(".task-name-input").val(task.task_name);
                    if (me == pm){
                        $('.task-manager-controls').append('<a><h4 class="modal-title task-edit pull-right sm-padding" onclick="editTask(this)">Edit</h4></a><a><h4 class="modal-title cancel-edit pull-right sm-padding hidden" onclick="cancelEdit(this)">Cancel</h4></a>');
                    }
                    if (task.status == 'completed'){
                        $(".modal-header").attr('class','modal-header clearfix bg-light-grey');
                    }else{
                        $(".modal-header").attr('class','modal-header clearfix bg-' + task.task_color);
                    }
                    $('#submitTask').attr('data-id', task.id);
                    $('.task-details').find('.user-select').val(task.assigned_to_id).trigger('change');
                    $('.task-details').find('.task-select').val(task.linked_task_id).trigger('change');
                    $('#taskProgress').attr('aria-valuenow',task.progress);
                    $('#taskProgress').css('width',task.progress + '%');
                    $('.task-hours-worked').text(task.hours_worked + ' hours worked /');
                    $('.task-time-estimate').text(' ' + task.time_estimate + ' hours estimated');
                    $(detailsForm).append('<div class="form-group"><label>Start Date:</label><input type="date" name="task-start-date" class="form-control " disabled value="'+ task.start_date +'"></div>');
                    $(detailsForm).append('<div class="form-group"><label>Due Date:</label><input type="date" name="task-due-date" class="form-control" disabled value="'+ task.raw_duedate +'"></div>');
                    if (task.date_delivered == 'Incomplete'){
                        $(detailsForm).append('<div class="form-group"><label>Date Delieved:</label><input type="text" name="task-date-delivered" class="form-control" disabled value="'+ task.date_delivered +'"></div>');
                    }else{
                        $(detailsForm).append('<div class="form-group"><label>Date Delieved:</label><input type="date" name="task-date-delivered" class="form-control" disabled value="'+ task.date_delivered +'"></div>');
                    }
                    $(detailsForm).append('<div class="form-group"><label>Time Estimate (in hours):</label><input type="number" name="task-time-estimate" class="form-control" disabled value="'+ task.time_estimate +'"></div>');
                    $(detailsForm).append('<div class="form-group"><label>Task Objective:</label><textarea name="task-objective" class="form-control" disabled rows="5">'+ task.objective +'</textarea></div>');
                    $("#editTasks").modal('show');
                });
            },error: function(data){
                var error = '<div class="col-xs-12"><p class="text-red">Unable to load task details.</p></div>';
                $('#taskDetails').html(error);
            }
        });
    };

    function getTaskPosts(element,tid){
        $('#taskPosts').empty();
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='getTaskPosts')}}",
            data:{'tid':tid},
            success: function(data){
                $(element).find('.info-box-text').find('.fa-circle-o-notch').remove();
                $.each($.parseJSON(data), function(key,posts){
                    var post = '<div class="item clearfix"><img src="/{{=request.application}}/plugin_profiles/stream_profile_photo/'+ posts.user_id +'" alt="message user image"><p class="message"><a href="#" class="name"><small class="text-muted pull-right"><i class="fa fa-clock-o"></i> '+ posts.created_on +'</small>'+ posts.posted_by +'</a>'+ posts.post +'</div>';
                    $('#taskPosts').append(post);
                });
            },error: function(data){
                var error = '<div class="col-xs-12"><p class="text-red">Unable to load task comments.</p></div>';
                $('#taskPosts').html(error);
            }
        });
    };

    function submitProjectEdit(parent,pid,company,team,pname,pdesc,startdate,duedate,budget,actual){
        var team = team.toString();
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='submitProject')}}",
            data:{'pid':pid,'company':company,'team':team,'pname':pname,'pdesc':pdesc,'startdate':startdate,'duedate':duedate,'budget':budget,'actual':actual},
            success: function(data){
                if(data=='True'){
                    var message = '<div class="callout callout-success"><p>Project details were updated!</p></div>';
                    $("#editProject").delay(5000).modal('hide');
                }else{
                    var message = '<div class="callout callout-danger"><p>Error updating project details. Try again later.</p></div>';
                }
                $('.edit-project-area').prepend(message);
                $('.edit-project-area').find('.callout').delay(5000).slideUp('slow');
                location.reload(true);
            },error: function(data){
                var message = '<div class="callout callout-danger"><p>Error updating project details. Try again later.</p></div>';
                $('.edit-project-area').prepend(message);
                $('.edit-project-area').find('.callout').delay(5000).slideUp('slow');
            }
        });
    };

    function submitTaskEdit(parent,tid,assto,lnktsk,tname,starttime,duedate,timeest,objective){
        var timeest = timeest.toString();
        var assto = assto.toString();
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='submitTask')}}",
            data:{'tid':tid,'assto':assto,'lnktsk':lnktsk,'tname':tname,'starttime':starttime,'duedate':duedate,'timeest':timeest,'objective':objective},
            success: function(data){
                if(data=='True'){
                    var message = '<div class="callout callout-success"><p>Task details were updated!</p></div>';
                    $(parent).find('input[name="task-start-date"],input[name="task-due-date"],textarea').prop('disabled',true);
                    $(".task-name-title").text(tname);
                    $('.task-name-input,.task-name-label').addClass('hidden');
                    $('.task-name-title').removeClass('hidden');
                }else{
                    var message = '<div class="callout callout-danger"><p>Error updating task details. Try again later.</p></div>';
                }
                $('.edit-task-area').prepend(message);
                $('.edit-task-area').find('.callout').delay(5000).slideUp('slow');
                location.reload(true);
            },error: function(data){
                var message = '<div class="callout callout-danger"><p>Error updating task details. Try again later.</p></div>';
                $('.edit-task-area').prepend(message);
                $('.edit-task-area').find('.callout').delay(5000).slideUp('slow');
            }
        });
        cancelEdit('.cancel-edit');
    };

    function sendNewTask(form,name,company,project,assto,linked,priority,startdate,duedate,timeest,objective){
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='addTask')}}",
            data:{'name':name,'company':company,'project':project,'assto':assto,'linked':linked,'priority':priority,'startdate':startdate,'duedate':duedate,'timeest':timeest,'objective':objective},
            success: function(data){
                if(data=='True'){
                    var message = '<div class="callout callout-success"><p>Task has been added!</p></div>';
                    $('.add-task-area').prepend(message);
                    $('.add-task-area').find('.callout').delay(5000).slideUp('slow');
                    location.reload(true);
                }else{
                    var message = '<div class="callout callout-danger"><p>Error adding task. Try again later.</p></div>';
                    $('.add-task-area').prepend(message);
                    $('.add-task-area').find('.callout').delay(5000).slideUp('slow');
                }
            },error: function(data){
                var message = '<div class="callout callout-danger"><p>Error adding task. Try again later.</p></div>';
                $('.add-task-area').prepend(message);
                $('.add-task-area').find('.callout').delay(5000).slideUp('slow');
            }
        });
    };

    function sendNewProject(form,name,company,manager,assto,budget,startdate,duedate,description){
        var team = assto.toString();
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='addProject')}}",
            data:{'name':name,'company':company,'manager':manager,'team':team,'budget':budget,'startdate':startdate,'duedate':duedate,'description':description},
            success: function(data){
                /*
                if(data=='True'){
                    var message = '<div class="callout callout-success"><p>Project has been created!</p></div>';
                }else{
                    var message = '<div class="callout callout-danger"><p>Error creating project. Try again later.</p></div>';
                }
                */
                var message = '<div class="callout callout-success"><p>Project has been created!</p></div>';
                $('.add-project-area').prepend(message);
                $('.add-project-area').find('.callout').delay(5000).slideUp('slow');
                location.reload(true);
            },error: function(data){
                var message = '<div class="callout callout-danger"><p>Error creating project. Try again later.</p></div>';
                $('.add-task-area').prepend(message);
                $('.add-task-area').find('.callout').delay(5000).slideUp('slow');
            }
        });
    };

    function sendNewTimeCard(form,tid,hours,workDesc,doneOn){
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='addTimeCard')}}",
            data:{'tid':tid,'hours':hours,'workDesc':workDesc,'doneOn':doneOn},
            success: function(data){
                console.log(data);
                if(data=='True'){
                    var message = '<div class="callout callout-success"><p>Time card has been logged!</p></div>';
                }else{
                    var message = '<div class="callout callout-danger"><p>Error logging time card. Try again later.</p></div>';
                }
                $('.add-time-area').prepend(message);
                $('.add-time-area').find('.callout').delay(5000).slideUp('slow');
                location.reload(true);
            },error: function(data){
                console.log(data);
                var message = '<div class="callout callout-danger"><p>Error logging time card. Try again later.</p></div>';
                $('.add-time-area').prepend(message);
                $('.add-time-area').find('.callout').delay(5000).slideUp('slow');
            }
        });
    };

    function completeTaskSubmit(element){
        var tid = $(element).attr('data-id');
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='completeTask')}}",
            data:{'tid':tid},
            success: function(data){
                if(data=='True'){
                    var message = '<div class="callout callout-success"><p>Task has been submitted!</p></div>';
                }else{
                    var message = '<div class="callout callout-danger"><p>Error submitting task. Try again later.</p></div>';
                }
                $('.complete-task-area').prepend(message);
                $('.complete-task-area').find('.callout').delay(5000).slideUp('slow');
                location.reload(true);
            },error: function(data){
                var message = '<div class="callout callout-danger"><p>Error submitting task. Try again later.</p></div>';
                $('.complete-task-area').prepend(message);
                $('.complete-task-area').find('.callout').delay(5000).slideUp('slow');
            }
        });
    };

    function completeProjectSubmit(pid){
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='completeProject')}}",
            data:{'pid':pid},
            success: function(data){
                window.location.replace('{{=URL(c="plugin_projects",f="projects_overview")}}');
            },error: function(data){
            }
        });
    };

    function sendPost(btn,tid,pid,post){
        $(btn).prop('disabled',true);
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='addPost')}}",
            data:{'tid':tid,'pid':pid,'post':post},
            success: function(data){
                var post = $('#postInput').val('');
                var element = '';
                getTaskPosts(element,tid);
                updateScroll();
                $(btn).prop('disabled',false);
            },error: function(data){
                $(btn).prop('disabled',false);
            }
        });
    };

    function returnTaskToOpen(btn,tid){
        $(btn).prop('disabled',true);
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='returnTaskToOpen')}}",
            data:{'tid':tid},
            success: function(data){
                location.reload(true);
            },error: function(data){
                $(btn).prop('disabled',false);
            }
        });
    };

    function sendRequirements(btn,pid,rList){
        var rList = rList.toString();
        $(btn).prop('disabled',true);
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='addProjectRequirements')}}",
            data:{'pid':pid,'requirements':rList},
            success: function(data){
                if(data=="True"){
                    $(btn).removeClass('bg-red').addClass('bg-green').text('Saved!');
                    setTimeout(function(){
                        $(btn).delay(5000).removeClass('bg-green').addClass('bg-red').text('Save Requirements').prop('disabled',false);
                    }, 3000);
                }else{
                    $(btn).text('Error');
                    setTimeout(function(){
                        $(btn).delay(5000).text('Save Requirements').prop('disabled',false);
                    }, 3000);
                }
                $(btn).prop('disabled',false);
            },error: function(data){
                $(btn).text('Error');
                setTimeout(function(){
                    $(btn).delay(5000).text('Save Requirements').prop('disabled',false);
                }, 3000);
            }
        });
    };

    function editTask(element){
        $(element).addClass('hidden');
        $('.cancel-edit').removeClass('hidden');
        var details = $('.task-details');
        $(details).find('input[name="task-start-date"],input[name="task-due-date"],input[name="task-time-estimate"],select,textarea').prop('disabled',false);
        $('.task-name-input,.task-name-label').removeClass('hidden');
        $('.task-name-title').addClass('hidden');
        $('#submitTask').removeClass('hidden').prop('disabled',false);
    };

    function editProject(element){
        $('.project-name-input,.project-name-label').removeClass('hidden');
        $('.project-name-title').addClass('hidden');
        $('#submitProject').removeClass('hidden').prop('disabled',false);
        $("#editProject").modal('show');
    };

    function cancelEdit(element){
        $(element).addClass('hidden');
        $('.task-edit').removeClass('hidden');
        var details = $('.task-details');
        $(details).find('input[name="task-start-date"],input[name="task-due-date"],input[name="task-time-estimate"],select,textarea').prop('disabled',true);
        $('.task-name-input,.task-name-label').addClass('hidden');
        $('.task-name-title').removeClass('hidden');
        $('#submitTask').addClass('hidden').prop('disabled',true);
    }

    function submitProjectChanges(element){
        var parent = $('.modal-content');
        var form = $('.project-details');
        var pid = $(element).attr('data-id');
        var company = $(parent).find('.form-company-select').val();
        var team = $(parent).find('.user-select').val();
        var pname = $('.project-name-input').val();
        var pdesc = $('.project-description').val();
        var startdate = $(form).find('input[name="project-start-date"]').val();
        var duedate = $(form).find('input[name="project-due-date"]').val();
        var budget = $(form).find('input[name="project-budget"]').val();
        var actual = $(form).find('input[name="project-actual"]').val();
        if(company == null){
            company = 0;
        }
        if(team == null){
            team = 0;
        }
        submitProjectEdit(parent,pid,company,team,pname,pdesc,startdate,duedate,budget,actual);
    };

    function submitTaskChanges(element){
        var parent = $('.modal-content');
        var form = $('.task-details');
        var tid = $(element).attr('data-id');
        var assto = $(form).find('.user-select').val();
        var lnktsk = $(form).find('.task-select').val();
        var tname = $('.task-name-input').val();
        var starttime = $(form).find('input[name="task-start-date"]').val();
        var duedate = $(form).find('input[name="task-due-date"]').val();
        var timeest = $(form).find('input[name="task-time-estimate"]').val();
        var objective = $(form).find('textarea[name="task-objective"]').val();
        if(lnktsk == null){
            lnktsk = 0;
        }
        submitTaskEdit(parent,tid,assto,lnktsk,tname,starttime,duedate,timeest,objective);
    };

    function submitNewTask(){
        var form = $('#addTaskForm');
        var name = $('.add-task-name-input').val();
        var company = $(form).find('.form-company-select').val();
        var project = $(form).find('.form-project-select').val();
        var assto = $(form).find('.user-select').val();
        var linked = $(form).find('.task-select').val();
        var priority = $(form).find('input[name="task-priority"]').val();
        var startdate = $(form).find('input[name="task-start-date"]').val();
        var duedate = $(form).find('input[name="task-due-date"]').val();
        var timeest = $(form).find('input[name="task-time-estimate"]').val();
        var objective = $(form).find('textarea[name="task-objective"]').val();
        sendNewTask(form,name,company,project,assto,linked,priority,startdate,duedate,timeest,objective);
    }

    $('.add-task').click(function(){
        $('#addTasks').modal('show');
    });

    function addSubTask(tid){
        $('#addTasks').modal('show');
        var form = $('#addTaskForm');
        $(form).find('.task-select').val(tid).trigger('change');
    };

    function submitNewProject(){
        var form = $('#addProjectForm');
        var name = $('.add-project-name-input').val();
        var company = $(form).find('.form-company-select').val();
        var manager = $(form).find('.manager-select').val();
        var assto = $('#teamSelect').val();
        var budget = $(form).find('input[name="project-budget"]').val();
        var startdate = $(form).find('input[name="project-start-date"]').val();
        var duedate = $(form).find('input[name="project-due-date"]').val();
        var description = $(form).find('textarea[name="project-description"]').val();
        sendNewProject(form,name,company,manager,assto,budget,startdate,duedate,description);
    }

    $('.add-project').click(function(){
        $('#addProject').modal('show');
    });

    function submitRequirements(btn){
        var form = $('#todo-list');
        var pid = $(form).attr('data-pid');
        var requirementsList = [];
        var requirementsItems = $(form).find('.todo');
        $(requirementsItems).each(function(){
            var requirement = $(this).text();
            requirementsList.push(requirement);
        });
        sendRequirements(btn,pid,requirementsList)
    };

    function submitTimeCard(){
        var form = $('#addTimeForm');
        var tid = $(form).find('.task-select').val();
        var hours = $(form).find('input[name="hours-worked"]').val();
        var doneOn = $(form).find('input[name="done-on"]').val();
        if(doneOn.length === 0){
            doneOn = 'None';
        }
        var workDesc = $(form).find('textarea[name="work-description"]').val();
        sendNewTimeCard(form,tid,hours,workDesc,doneOn);
    };

    function openTimeCard(element,id){
        $('#addTime').find('.task-select').val(id).trigger('change');
        $('#addTime').modal('show');
    };

    function completeTask(element,id){
        $('#completeTask').find('#completeTaskSubmit').attr('data-id',id);
        $('#completeTask').modal('show');
    };

    function completeProject(element){
        var pid = $(element).attr('data-pid');
        completeProjectSubmit(pid);
    };

    $('#taskDetails').on('change','input,textarea',function(){
        var val = $(this).val();
        $(this).attr('value',val);
    });

    $(".company-select").change(function(){
        var val = $(this).val();
        if (val != '0'){
            getCompanyProjects(val);
            localStorage.setItem("company_session", val);
            $(".form-company-select").find('option[value="'+ val +'"]').attr('selected',true).trigger('change');
        }
    });

    $(".project-select").change(function(){
        var val = $(this).val();
        if (val != '0'){
            getProjectDetails(val);
            getProjectTasks(val);
            localStorage.setItem("project_session", val);
            $(".form-project-select").find('option[value="'+ val +'"]').attr('selected',true).trigger('change');
        }
    });

    function openTask(element,tid,pid){
        getTaskDetails(element,tid,pid);
        getTaskPosts(element,tid);
    };

    function returnTask(element,tid){
        returnTaskToOpen(element,tid)
    }

    function updateScroll(){
        var element = document.getElementById("taskPosts");
        element.scrollTop = element.scrollHeight;
    }

    $('#postSubmit').click(function(){
        var tid = $(this).attr('data-tid');
        var pid = $(this).attr('data-pid');
        var post = $('#postInput').val();
        sendPost(this,tid,pid,post);
    });

    function createTask(btn) {
        $(btn).toggleClass('marked');
        if( $(btn).hasClass('marked')==true ){
            var taskName = $(btn).parent().find('.todo-text').text();
            $('#addTasks').modal('show');
            $('#addTasks').find('.add-task-name-input').val(taskName);
            $('#addTasks').find('.add-task-name-input').prop('disabled',true);
        }
    };
</script>
{{end}}
