{{extend 'layout.html'}}

{{block content-header}}
    <section class="content-header clearfix">
        <ol class="breadcrumb">
            <li><a href="{{=URL('default','index')}}"><i class="fa fa-home"></i> Home</a></li>
            <li>Project Report</a></li>
        </ol>
    </section>
{{end}}

{{block content}}
<div class="row">
    <div class="col-md-6 col-sm-8">
        <div class="box tasks">
            <div class="box-header with-border">
                <h4 class="pull-left sm-padding-right">
                    Project List
                </h4>
            </div>
            <div class="box-body">
                <div id="my-tasks" class="sm-top clearfix" style="overflow-y:scroll;max-height:100%;">

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Tasks -->
<div class="modal fade" id="editTasks" role="dialog" aria-labelledby="editFilters">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <div class="col-xs-8 no-padding">
                    <h4 class="modal-title task-name-title pull-left"></h4>
                    <input class="task-name-input form-control pull-left hidden">
                </div>
                <div class="col-xs-4 task-manager-controls">

                </div>
            </div>
            <div class="modal-body clearfix">
                <div class="col-sm-12 no-padding">
                    <h4><strong>Hours Worked Progress:</strong></h4>
                    <div class="progress progress-sm" style="margin-bottom:0;">
                        <div id="taskProgress" class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="task-time form-group pull-left">
                        <span><h5 class="task-hours-worked pull-left"></h5></span><span><h5 style="padding-left: 3px;" class="task-time-estimate pull-left"></h5></span>
                    </div>
                </div>
                <div class="col-sm-6 task-details sm-padding-right">
                    <div class="form-group">
                        <label>Assigned to:</label>
                        <select class="user-select select2 form-control" style="width: 100%;" disabled></select>
                    </div>
                    <div class="form-group">
                        <label>Linked task:</label>
                        <select class="task-select select2 form-control" style="width: 100%;" disabled></select>
                    </div>
                    <form class="form" id="taskDetails">

                    </form>
                </div>
                <div class="col-sm-6 sm-padding-left clearfix">
                    <label>Comments:</label>
                    <div class="col-sm-12 chat clearfix no-padding" id="taskPosts" style="max-height:446px;margin-bottom:5px;overflow-y:scroll;">

                    </div>
                    <div class="col-sm-12 no-padding">
                        <div class="input-group">
                            <input id="postInput" class="form-control" placeholder="Type message..." style="height:34px;">

                            <div class="input-group-btn">
                                <button type="button" class="btn btn-flat" id="postSubmit" style="height:34px;background:#DA392E;padding: 6px 16px;color:#FFF;"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat btn-sm" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default btn-flat bg-green btn-sm hidden" id="submitTask" onclick="submitTaskChanges(this)" disabled>Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Log Time -->
<div class="modal fade" id="addTime" role="dialog" aria-labelledby="addTime">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <h4 class="modal-title pull-left">Log Time</h4>
            </div>
            <div class="modal-body add-time-area clearfix">
                <form class="form" id="addTimeForm">
                    <div class="col-sm-6 sm-padding-right">
                        <div class="form-group">
                            <label>Task:</label>
                            <select class="task-select select2 form-control" style="width: 100%;" disabled></select>
                        </div>
                    </div>
                    <div class="col-sm-6 sm-padding-left">
                        <div class="form-group">
                            <label>Hours worked:</label>
                            <input type="number" name="hours-worked" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-sm-6 sm-padding-right">
                        <div class="form-group">
                            <label>Work done on:</label>
                            <input name="done-on" class="form-control" type="date" required>
                        </div>
                    </div>
                    <div class="col-sm-6 sm-padding-left">
                        <div class="form-group">
                            <label>Work Description:</label>
                            <textarea name="work-description" class="form-control" rows="3" required></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat btn-sm" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default btn-flat bg-green btn-sm" id="submitTimeCard" onclick="submitTimeCard()">Submit Time Card</button>
            </div>
        </div>
    </div>
</div>

<!-- Complete Task -->
<div class="modal fade" id="completeTask" role="dialog" aria-labelledby="completeTask">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body complete-task-area">
                <p>Are you sure you want to mark this task as complete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat btn-sm pull-left" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-default btn-flat bg-green btn-sm" id="completeTaskSubmit" onclick="completeTaskSubmit(this)">Yes</button>
            </div>
        </div>
    <!-- /.modal-content -->
    </div>
  <!-- /.modal-dialog -->
</div>
{{end}}
