{{extend 'layout.html'}}

{{block content-header}}
    <section class="content-header filled-white md-padding-bottom clearfix">
        <h1 class="sm-padding-right pull-left col-sm-2">
             Project Overview
        </h1>
    </section>
{{end}}

{{block content}}
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <div class="col-sm-6 col-md-8">
                    <h3 class="box-title">Projects</h3>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="projectSearch" oninput=searchProjects(this); placeholder="Search by project name">
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="overflow:hidden;height:100%;margin:10px;padding:0;">
                <div class="project-box" style="overflow-y:scroll;height:100%;width:calc(100% + 17px);">
                    <table class="table table-bordered">
                        <tbody id="projectTable">
                            <tr>
                                <th style="width:5%;">#</th>
                                <th style="width:15%;">Project Name</th>
                                <th style="width:10%;">Project Manager</th>
                                <th style="width:25%;">Project Team</th>
                                <th style="width:15%;">Status</th>
                                <th style="width:10%;">Start Date/Due Date</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}

{{block custom_js}}
<script>
    $(document).ready(function(){
        var boxHei = getBoxHeight(70);
        $('.project-box').css('max-height',boxHei);
    });
    
    var project_status = {{=XML(statuses)}};
    
    function populateStatusSelect(pid,status){
        var statusSelect = $('#projectTable').find('.project-status[data-pid="'+ pid +'"]');
        $(statusSelect).select2({
            data: project_status
        });
        $(statusSelect).val(status);
        $(statusSelect).trigger('change');
        initializeSelect(statusSelect);
    }
    
    function initializeSelect(select){
        $(select).change(function(){
            var pid = $(this).attr('data-pid');
            var status = $(this).val();
            var box = $(this).closest('td');
            updateProjectStatus(pid,status,box)
        });
    }
    
    function updateProjectStatus(pid,status,box){
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='updateProjectStatus')}}",
            data:{'pid':pid,'status':status},
            success: function(data){
                if (data=='True'){
                    $(box).css('background','rgba(0,166,90,1)');
                }else{
                    $(box).css('background','rgba(221,75,57,1)');
                }
            },error: function(data){
                $(box).css('background','rgba(221,75,57,1)');
            }
        })
    }
    
    function getProjects(){
        var loading = '<tr class="loading-projects"><td colspan="6">Loading Projects...</td></tr>';
        $('#projectTable').append(loading);
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='all_projects')}}",
            data:{},
            success: function(data){
                $('#projectTable').find('.loading-projects').remove();
                $.each($.parseJSON(data), function(key,projects){
                    if (projects.project_manager_id == {{=me}}){
                        var project = '<tr class="project" data-pid="'+ projects.id +'"><td>'+ projects.project_number +'</td><td><a class="project-name" style="text-decoration:underline;" href="'+ projects.url +'">'+ projects.project_name +'</a></td><td>'+ projects.project_manager +'</td><td>'+ projects.team +'</td><td><select style="width:100%;" class="select2 form-control project-status" data-pid="'+ projects.id +'"></select></td><td><span class="label label-success">'+ projects.start_date +'</span><span class="label label-danger">'+ projects.due_date +'</span></td></tr>';
                        $('#projectTable').append(project);
                        populateStatusSelect(projects.id,projects.status)
                    }else{
                        var project = '<tr class="project" data-pid="'+ projects.id +'"><td>'+ projects.project_number +'</td><td><a class="project-name" style="text-decoration:underline;" href="'+ projects.url +'">'+ projects.project_name +'</a></td><td>'+ projects.project_manager +'</td><td>'+ projects.team +'</td><td>'+ projects.status +'</td><td><span class="label label-success">'+ projects.start_date +'</span><span class="label label-danger">'+ projects.due_date +'</span></td></tr>';
                        $('#projectTable').append(project);
                    }
                });
            },error: function(data){
                console.log(data);
                var error = '<tr><td style="width:100%;">Unable to load projects.</td></tr>';
                $('#projectTable').html(error);
            }
        });
    };

    getProjects();

    function searchProjects(input){
        var val = $(input).val().toLowerCase()
        var projects = $('.project-name');
        $(projects).each(function(i, obj) {
            var isContains = $(this).text().toLowerCase().indexOf(val) > -1;
            if (isContains != true){
                $(this).closest('.project').hide();
            }else{
                $(this).closest('.project').show();
            }
        });
    };
</script>
{{end}}
