<div class="row">
    <div class="col-md-6 col-sm-8">
        <div class="box tasks">
            <div class="box-header with-border">
                <h4 class="pull-left sm-padding-right">
                    Task List
                </h4>
            </div>
            <div class="box-body" style="margin:10px;padding:0;">
                <div id="my-tasks" class="sm-top clearfix">

                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{=URL('static','js/jquery.js')}}"></script>
<script>
    function getMyTasks(){
        var uid = '{{=uid}}';
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='myTasks')}}",
            data:{'uid':uid},
            success: function(data){
                $('#my-tasks').find('.task-loader').remove();
                $.each($.parseJSON(data), function(key,tasks){
                    var task = '<div style="width:100%;border:1px solid #000;margin:5px;clear:both;"><div style="float:left;width:50%;"><h6 style="margin:5px 0;">Due Date: '+ tasks.due_date +'</h6><h6 style="margin:5px 0;">Project Name: '+ tasks.project_name +'</h6><h6 style="margin:5px 0;">Creator: '+ tasks.creator +'</h6><h4 style="margin:5px 0;">Task Name: '+ tasks.name +'</h4><p style="margin:5px 0;">Progress: '+ tasks.hours_worked +' of '+ tasks.time_estimate +' hour(s) logged</p></div><div style="float:left;width:50%;"><h6 style="margin:5px 0;">Notes: </h6></div></div>';
                    $('#my-tasks').append(task);
                });
            },error: function(data){
                var error = '<div class="col-xs-12"><p class="text-red">Unable to load project tasks.</p></div>';
                $('#my-tasks').html(error);
            }
        });
    };

    getMyTasks();
</script>
