{{extend 'layout.html'}}

{{block content}}
<div class="row clearfix">
    <div class="col-md-6 col-sm-8">
        <div class="box tasks">
            <div class="box-header with-border">
                <h4 class="pull-left sm-padding-right">

                     Task List for <a href="mailto:{{=task_user.email}}">{{=A(task_user.first_name +' '+ task_user.last_name)}}</a>
                </h4>
            </div>
            <div class="box-body" style="overflow:hidden;margin:10px;padding:0;">
                <div id="my-tasks" class="sm-top clearfix" style="overflow-y:scroll;height:100%;width:calc(100% + 17px);">

                </div>
            </div>
            <div class="box-footer text-center">
              <a id="tasksToggle" class="uppercase">Show More Tasks</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-4">
        <div class="col-sm-4 no-padding">
            <button class="btn-block btn-flat btn-sm bg-green btn add-task pull-left"><i class="fa fa-plus" aria-hidden="true"></i> Task</button>
        </div>
        <div class="col-sm-4 no-padding">
            <a target="_blank" href="{{=URL(c='plugin_projects',f='tasks_printout',vars=dict(uid=uid))}}" class="btn-block btn btn-flat btn-sm btn-primary"><i class="fa fa-print" aria-hidden="true"></i> Print All Tasks</a>
        </div>
        <div class="col-sm-4 no-padding">
            <a target="_blank" href="{{=URL(c='plugin_projects',f='tasks_overdue_printout',vars=dict(uid=uid))}}" class="btn-block btn btn-flat btn-sm bg-red"><i class="fa fa-print" aria-hidden="true"></i> Print Overdue Tasks</a>
        </div>
    </div>
</div>

<!-- Add Tasks -->
<div class="modal fade" id="addTasks" role="dialog" aria-labelledby="addTask">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <div class="col-xs-8 no-padding">
                    <label>Task Name:</label>
                    <input class="add-task-name-input form-control pull-left">
                </div>
            </div>
            <div class="modal-body add-task-area clearfix">
                <form class="form" id="addTaskForm">
                    <div class="form-group">
                        <label>Company:</label>
                        <select class="form-company-select select2 form-control" style="width: 100%;"></select>
                    </div>
                    <div class="form-group">
                        <label>Project:</label>
                        <select class="form-project-select select2 form-control" style="width: 100%;"></select>
                    </div>
                    <div class="col-sm-6 sm-padding-right">
                        <div class="form-group">
                            <label>Assigned to:</label>
                            <select class="user-select select2 form-control" style="width: 100%;"></select>
                        </div>
                    </div>
                    <div class="col-sm-6 sm-padding-left">
                        <div class="form-group">
                            <label>Linked task:</label>
                            <select class="task-select select2 form-control" style="width: 100%;"></select>
                        </div>
                    </div>
                    <div class="col-sm-6 sm-padding-right">
                        <div class="form-group">
                            <label>Task Priority:</label>
                            <input type="number" name="task-priority" class="form-control" min="1" max="10">
                        </div>
                    </div>
                    <div class="col-sm-6 sm-padding-left">
                        <div class="form-group">
                            <label>Start Date:</label>
                            <input type="date" name="task-start-date" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6 sm-padding-right">
                        <div class="form-group">
                            <label>Due Date:</label>
                            <input type="date" name="task-due-date" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6 sm-padding-left">
                        <div class="form-group">
                            <label>Time Estimate (in hours):</label>
                            <input type="number" name="task-time-estimate" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Task Objective:</label>
                        <textarea name="task-objective" class="form-control" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat btn-sm" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default btn-flat bg-green btn-sm" id="submitNewTask" onclick="submitNewTask()">Add Task</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Tasks -->
<div class="modal fade" id="editTasks" role="dialog" aria-labelledby="editFilters">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <div class="col-xs-8 no-padding">
                    <h4 class="modal-title task-name-title pull-left"></h4>
                    <input class="task-name-input form-control pull-left hidden">
                </div>
                <div class="col-xs-4 task-manager-controls">

                </div>
            </div>
            <div class="modal-body clearfix">
                <div class="col-sm-12 no-padding">
                    <h4><strong>Hours Worked Progress:</strong></h4>
                    <div class="progress progress-sm" style="margin-bottom:0;">
                        <div id="taskProgress" class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="task-time form-group pull-left">
                        <span><h5 class="task-hours-worked pull-left"></h5></span><span><h5 style="padding-left: 3px;" class="task-time-estimate pull-left"></h5></span>
                    </div>
                </div>
                <div class="col-sm-4 task-details sm-padding-right">
                    <div class="form-group">
                        <label>Assigned to:</label>
                        <select class="user-select select2 form-control" style="width: 100%;" disabled></select>
                    </div>
                    <div class="form-group">
                        <label>Linked task:</label>
                        <select class="task-select select2 form-control" style="width: 100%;" disabled></select>
                    </div>
                    <form class="form" id="taskDetails">

                    </form>
                </div>
                <div class="col-sm-8 sm-padding-left clearfix">
                    <label>Comments:</label>
                    <div class="col-sm-12 chat clearfix no-padding" id="taskPosts" style="max-height:446px;margin-bottom:5px;overflow-y:scroll;">

                    </div>
                    <div class="col-sm-12 no-padding">
                        <div class="input-group">
                            <input id="postInput" class="form-control" placeholder="Type message..." style="height:34px;">

                            <div class="input-group-btn">
                                <button type="button" class="btn btn-flat" id="postSubmit" style="height:34px;background:#DA392E;padding: 6px 16px;color:#FFF;"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat btn-sm" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default btn-flat bg-green btn-sm hidden" id="submitTask" onclick="submitTaskChanges(this)" disabled>Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Tasks -->
<div class="modal fade" id="addTasks" role="dialog" aria-labelledby="addTask">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <div class="col-xs-8 no-padding">
                    <label>Task Name:</label>
                    <input class="add-task-name-input form-control pull-left">
                </div>
            </div>
            <div class="modal-body add-task-area clearfix">
                <form class="form" id="addTaskForm">
                    <div class="form-group">
                        <label>Company:</label>
                        <select class="form-company-select select2 form-control" style="width: 100%;"></select>
                    </div>
                    <div class="form-group">
                        <label>Project:</label>
                        <select class="form-project-select select2 form-control" style="width: 100%;"></select>
                    </div>
                    <div class="col-sm-6 sm-padding-right">
                        <div class="form-group">
                            <label>Assigned to:</label>
                            <select class="user-select select2 form-control" style="width: 100%;"></select>
                        </div>
                    </div>
                    <div class="col-sm-6 sm-padding-left">
                        <div class="form-group">
                            <label>Linked task:</label>
                            <select class="task-select select2 form-control" style="width: 100%;"></select>
                        </div>
                    </div>
                    <div class="col-sm-6 sm-padding-right">
                        <div class="form-group">
                            <label>Task Priority:</label>
                            <input type="number" name="task-priority" class="form-control" min="1" max="10">
                        </div>
                    </div>
                    <div class="col-sm-6 sm-padding-left">
                        <div class="form-group">
                            <label>Start Date:</label>
                            <input type="date" name="task-start-date" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6 sm-padding-right">
                        <div class="form-group">
                            <label>Due Date:</label>
                            <input type="date" name="task-due-date" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6 sm-padding-left">
                        <div class="form-group">
                            <label>Time Estimate (in hours):</label>
                            <input type="number" name="task-time-estimate" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Task Objective:</label>
                        <textarea name="task-objective" class="form-control" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat btn-sm" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default btn-flat bg-green btn-sm" id="submitNewTask" onclick="submitNewTask()">Add Task</button>
            </div>
        </div>
    </div>
</div>

<!-- Log Time -->
<div class="modal fade" id="addTime" role="dialog" aria-labelledby="addTime">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <h4 class="modal-title pull-left">Log Time</h4>
            </div>
            <div class="modal-body add-time-area clearfix">
                <form class="form" id="addTimeForm">
                    <div class="col-sm-6 sm-padding-right">
                        <div class="form-group">
                            <label>Task:</label>
                            <select class="task-select select2 form-control" style="width: 100%;" disabled></select>
                        </div>
                    </div>
                    <div class="col-sm-6 sm-padding-left">
                        <div class="form-group">
                            <label>Hours worked:</label>
                            <input type="number" name="hours-worked" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-sm-6 sm-padding-right">
                        <div class="form-group">
                            <label>Work done on:</label>
                            <input name="done-on" class="form-control" type="date" required>
                        </div>
                    </div>
                    <div class="col-sm-6 sm-padding-left">
                        <div class="form-group">
                            <label>Work Description:</label>
                            <textarea name="work-description" class="form-control" rows="3" required></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat btn-sm" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default btn-flat bg-green btn-sm" id="submitTimeCard" onclick="submitTimeCard()">Submit Time Card</button>
            </div>
        </div>
    </div>
</div>

<!-- Complete Task -->
<div class="modal fade" id="completeTask" role="dialog" aria-labelledby="completeTask">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body complete-task-area">
                <p>Are you sure you want to mark this task as complete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat btn-sm pull-left" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-default btn-flat bg-green btn-sm" id="completeTaskSubmit" onclick="completeTaskSubmit(this)">Yes</button>
            </div>
        </div>
    <!-- /.modal-content -->
    </div>
  <!-- /.modal-dialog -->
</div>
{{end}}

{{block custom_js}}
<script>

    $(document).ready(function(){
        var boxHei = getBoxHeight(70);
        $('#my-tasks').css('max-height',boxHei);
    });

    var me = "{{=me}}";

    var users_list = {{=XML(users_list)}};
    var tasks_list = {{=XML(tasks_list)}};
    var company_list = {{=XML(company_list)}};
    var project_list = {{=XML(project_list)}};

    $(".company-select,.form-company-select").select2({
        data: company_list
    });
    $(".user-select").select2({
        data: users_list
    });
    $(".task-select").select2({
        data: tasks_list
    });
    $(".project-select,.form-project-select").select2({
        data: project_list
    });

    $('#tasksToggle').click(function(){
        $(this).toggleClass('expanded');
        if($(this).hasClass('expanded')==true){
            $(this).text('Show Less Tasks');
            getMyTasks(25);
        }else{
            $(this).text('Show More Tasks');
            getMyTasks(5);
        }
    });

    function getMyTasks(tasks){
        var uid = '{{=uid}}';
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='myTasks')}}",
            data:{'uid':uid,'tasks':tasks},
            success: function(data){
                $('#my-tasks').empty();
                $('#my-tasks').find('.task-loader').remove();
                $.each($.parseJSON(data), function(key,tasks){
                    var task = '<div class="col-xs-12 task-container no-padding bg-'+ tasks.task_color +'"><div class="info-box task-box"><span class="info-box-lg-text">'+ tasks.due_date +'</span><div class="info-box-content"><span class="info-box-text"><span onclick=openProject("' + tasks.project_url +'") style="text-decoration:underline;text-overflow:ellipsis;width:60%;overflow-x: hidden;" class="pull-left">'+ tasks.project_name +'</span><span style="text-overflow:ellipsis;width:40%;overflow-x:hidden;text-align:right;" class="pull-right">Creator: '+ tasks.creator +'</span></span><span class="info-box-bold-text" style="font-size:1.5rem;">'+ tasks.name +'</span><div class="progress"><div class="progress-bar" style="width:'+ tasks.progress +'%"></div></div><span class="progress-description" style="width:60%;float:left;">'+ tasks.hours_worked +' of '+ tasks.time_estimate +' hour(s) logged</span><span class="progress-description" style="width:40%;float:left;"><a class="add-time action-btn" data-toggle="tooltip" data-placement="top" title="Log Time" onclick="openTimeCard(this,'+ tasks.id +')"><i class="fa fa-clock-o" aria-hidden="true"></i></a><a class="complete-task action-btn" data-toggle="tooltip" data-placement="top" title="Complete" onclick="completeTask(this,'+ tasks.id +')"><i class="fa fa-check" aria-hidden="true"></i></a><a class="add-subtask action-btn" data-toggle="tooltip" data-placement="top" title="Add Subtask" onclick="addSubTask('+ tasks.id +')"><i class="fa fa-plus" aria-hidden="true"></i></a><a class="open-task action-btn" data-toggle="tooltip" data-placement="top" title="Open" onclick="openTask(this,'+ tasks.id +','+ tasks.project_id +')"><i class="fa fa-external-link" aria-hidden="true"></i></a></span></div></div></div>';
                    $('#my-tasks').append(task);
                });
            },error: function(data){
                var error = '<div class="col-xs-12"><p class="text-red">Unable to load project tasks.</p></div>';
                $('#my-tasks').html(error);
            }
        });
    };

    getMyTasks(5);

    function getTaskDetails(element,tid,pid){
        var loader = '<i class="fa fa-circle-o-notch fa-spin pull-right" style="font-size:18px"></i>';
        $(element).find('.info-box-text').append(loader);
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='getTaskDetails')}}",
            data:{'tid':tid},
            success: function(data){
                $('.task-manager-controls').empty();
                $('#taskDetails').empty();
                $('#postSubmit').attr({'data-tid':tid,'data-pid':pid});
                var pm = localStorage.getItem("project_manager");
                $(element).find('.info-box-text').find('.fa-circle-o-notch').remove();
                $.each($.parseJSON(data), function(key,task){
                    $(".task-name-title").text(task.task_name);
                    $(".task-name-input").val(task.task_name);
                    if ('{{=me}}' == pm){
                        $('.task-manager-controls').append('<a><h4 class="modal-title task-edit pull-right sm-padding" onclick="editTask(this)">Edit</h4></a><a><h4 class="modal-title cancel-edit pull-right sm-padding hidden" onclick="cancelEdit(this)">Cancel</h4></a>');
                    }
                    if (task.status == 'completed'){
                        $(".modal-header").attr('class','modal-header clearfix bg-light-grey');
                    }else{
                        $(".modal-header").attr('class','modal-header clearfix bg-' + task.task_color);
                    }
                    $('#submitTask').attr('data-id', task.id);
                    $('.user-select').val(task.assigned_to_id).trigger('change');
                    $('.task-select').val(task.linked_task_id).trigger('change');
                    $('#taskProgress').attr('aria-valuenow',task.progress);
                    $('#taskProgress').css('width',task.progress + '%');
                    $('.task-hours-worked').text(task.hours_worked + ' hours worked /');
                    $('.task-time-estimate').text(' ' + task.time_estimate + ' hours estimated');
                    $('#taskDetails').append('<div class="form-group"><label>Start Date:</label><input type="date" name="task-start-date" class="form-control " disabled value="'+ task.start_date +'"></div>');
                    $('#taskDetails').append('<div class="form-group"><label>Due Date:</label><input type="date" name="task-due-date" class="form-control" disabled value="'+ task.raw_duedate +'"></div>');
                    if (task.date_delivered == 'Incomplete'){
                        $('#taskDetails').append('<div class="form-group"><label>Date Delieved:</label><input type="text" name="task-date-delivered" class="form-control" disabled value="'+ task.date_delivered +'"></div>');
                    }else{
                        $('#taskDetails').append('<div class="form-group"><label>Date Delieved:</label><input type="date" name="task-date-delivered" class="form-control" disabled value="'+ task.date_delivered +'"></div>');
                    }
                    $('#taskDetails').append('<div class="form-group"><label>Task Objective:</label><textarea name="task-objective" class="form-control" disabled rows="5">'+ task.objective +'</textarea></div>');
                    $("#editTasks").modal('show');
                });
                $('#taskDetails').append(taskDetails);
            },error: function(data){
                var error = '<div class="col-xs-12"><p class="text-red">Unable to load task details.</p></div>';
                $('#taskDetails').html(error);
            }
        });
    };

    $('#taskDetails').on('change','input,textarea',function(){
        var val = $(this).val();
        $(this).attr('value',val);
    });

    function getTaskPosts(element,tid){
        $('#taskPosts').empty();
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='getTaskPosts')}}",
            data:{'tid':tid},
            success: function(data){
                $(element).find('.info-box-text').find('.fa-circle-o-notch').remove();
                $.each($.parseJSON(data), function(key,posts){
                    var post = '<div class="item clearfix"><img src="/{{=request.application}}/plugin_profiles/stream_profile_photo/'+ posts.profile_photo +'" alt="message user image"><p class="message"><a href="#" class="name"><small class="text-muted pull-right"><i class="fa fa-clock-o"></i> '+ posts.created_on +'</small>'+ posts.posted_by +'</a>'+ posts.post +'</div>';
                    $('#taskPosts').append(post);
                });
            },error: function(data){
                var error = '<div class="col-xs-12"><p class="text-red">Unable to load task comments.</p></div>';
                $('#taskPosts').html(error);
            }
        });
    };

    function submitTaskEdit(parent,tid,assto,lnktsk,tname,starttime,duedate,objective){
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='submitTask')}}",
            data:{'tid':tid,'assto':assto,'lnktsk':lnktsk,'tname':tname,'starttime':starttime,'duedate':duedate,'objective':objective},
            success: function(data){
                if(data=='True'){
                    var message = '<div class="callout callout-success"><p>Task details were updated!</p></div>';
                    $(parent).find('input[name="task-start-date"],input[name="task-due-date"],textarea').prop('disabled',true);
                    $(".task-name-title").text(tname);
                    $('.task-name-input').addClass('hidden');
                    $('.task-name-title').removeClass('hidden');
                }else{
                    var message = '<div class="callout callout-danger"><p>Error updating task details. Try again later.</p></div>';
                }
                $('.modal-body').prepend(message);
                $('.modal-body').find('.callout').delay(5000).slideUp('slow');
                location.reload(true);
            },error: function(data){
                var message = '<div class="callout callout-danger"><p>Error updating task details. Try again later.</p></div>';
                $('.modal-body').prepend(message);
                $('.modal-body').find('.callout').delay(5000).slideUp('slow');
            }
        });
        cancelEdit('.cancel-edit');
    };

    function sendNewTask(form,name,company,project,assto,linked,priority,startdate,duedate,timeest,objective){
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='addTask')}}",
            data:{'name':name,'company':company,'project':project,'assto':assto,'linked':linked,'priority':priority,'startdate':startdate,'duedate':duedate,'timeest':timeest,'objective':objective},
            success: function(data){
                if(data=='True'){
                    var message = '<div class="callout callout-success"><p>Task has been added!</p></div>';
                }else{
                    var message = '<div class="callout callout-danger"><p>Error adding task. Try again later.</p></div>';
                }
                $('.add-task-area').prepend(message);
                $('.add-task-area').find('.callout').delay(5000).slideUp('slow');
                location.reload(true);
            },error: function(data){
                var message = '<div class="callout callout-danger"><p>Error adding task. Try again later.</p></div>';
                $('.add-task-area').prepend(message);
                $('.add-task-area').find('.callout').delay(5000).slideUp('slow');
            }
        });
    };

    function sendPost(btn,tid,pid,post){
        $(btn).prop('disabled',true);
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='addPost')}}",
            data:{'tid':tid,'pid':pid,'post':post},
            success: function(data){
                var post = $('#postInput').val('');
                var element = '';
                getTaskPosts(element,tid);
                updateScroll();
                $(btn).prop('disabled',false);
            },error: function(data){
                $(btn).prop('disabled',false);
            }
        });
    };

    function sendNewTimeCard(form,tid,hours,workDesc,doneOn){
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='addTimeCard')}}",
            data:{'tid':tid,'hours':hours,'workDesc':workDesc,'doneOn':doneOn},
            success: function(data){
                if(data=='True'){
                    var message = '<div class="callout callout-success"><p>Time card has been logged!</p></div>';
                }else{
                    var message = '<div class="callout callout-danger"><p>Error logging time card. Try again later.</p></div>';
                }
                $('.add-time-area').prepend(message);
                $('.add-time-area').find('.callout').delay(5000).slideUp('slow');
                if(data=='True'){
                    location.reload(true);
                }
            },error: function(data){
                var message = '<div class="callout callout-danger"><p>Error logging time card. Try again later.</p></div>';
                $('.add-time-area').prepend(message);
                $('.add-time-area').find('.callout').delay(5000).slideUp('slow');
            }
        });
    };

    function completeTaskSubmit(element){
        var tid = $(element).attr('data-id');
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='completeTask')}}",
            data:{'tid':tid},
            success: function(data){
                if(data=='True'){
                    var message = '<div class="callout callout-success"><p>Task has been marked complete!</p></div>';
                }else{
                    var message = '<div class="callout callout-danger"><p>Error marking task complete!. Try again later.</p></div>';
                }
                $('.complete-task-area').prepend(message);
                $('.complete-task-area').find('.callout').delay(5000).slideUp('slow');
                location.reload(true);
            },error: function(data){
                var message = '<div class="callout callout-danger"><p>Error marking task complete!. Try again later.</p></div>';
                $('.complete-task-area').prepend(message);
                $('.complete-task-area').find('.callout').delay(5000).slideUp('slow');
            }
        });
    };

    function editTask(element){
        $(element).addClass('hidden');
        $('.cancel-edit').removeClass('hidden');
        var details = $('.task-details');
        $(details).find('input[name="task-start-date"],input[name="task-due-date"],select,textarea').prop('disabled',false);
        $('.task-name-input').removeClass('hidden');
        $('.task-name-title').addClass('hidden');
        $('#submitTask').removeClass('hidden').prop('disabled',false);
    };

    function cancelEdit(element){
        $(element).addClass('hidden');
        $('.task-edit').removeClass('hidden');
        var details = $('.task-details');
        $(details).find('input[name="task-start-date"],input[name="task-due-date"],select,textarea').prop('disabled',true);
        $('.task-name-input').addClass('hidden');
        $('.task-name-title').removeClass('hidden');
        $('#submitTask').addClass('hidden').prop('disabled',true);
    }

    function submitTaskChanges(element){
        var parent = $('.modal-content')
        var form = $('.task-details');
        var tid = $(element).attr('data-id');
        var assto = $(form).find('.user-select').val();
        var lnktsk = $(form).find('.task-select').val();
        var tname = $('.task-name-input').val();
        var starttime = $(form).find('input[name="task-start-date"]').val();
        var duedate = $(form).find('input[name="task-due-date"]').val();
        var objective = $(form).find('textarea[name="task-objective"]').val();
        if(lnktsk == null){
            lnktsk = 0;
        }
        submitTaskEdit(parent,tid,assto,lnktsk,tname,starttime,duedate,objective);
    };

    function submitNewTask(){
        var form = $('#addTaskForm');
        var name = $('.add-task-name-input').val();
        var company = $(form).find('.form-company-select').val();
        var project = $(form).find('.form-project-select').val();
        var assto = $(form).find('.user-select').val();
        var linked = $(form).find('.task-select').val();
        var priority = $(form).find('input[name="task-priority"]').val();
        var startdate = $(form).find('input[name="task-start-date"]').val();
        var duedate = $(form).find('input[name="task-due-date"]').val();
        var timeest = $(form).find('input[name="task-time-estimate"]').val();
        var objective = $(form).find('textarea[name="task-objective"]').val();
        sendNewTask(form,name,company,project,assto,linked,priority,startdate,duedate,timeest,objective);
    }
    
    $('.add-task').click(function(){
        $('#addTasks').modal('show');
    });

    function addSubTask(tid){
        $('#addTasks').modal('show');
        var form = $('#addTaskForm');
        $(form).find('.task-select').val(tid).trigger('change');
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='getTaskDetails')}}",
            data:{'tid':tid},
            success: function(data){
                $.each($.parseJSON(data), function(key,task){
                    $(form).find('.form-company-select').val(task.cid).trigger('change');
                    $(form).find('.form-project-select').val(task.pid).trigger('change');
                    $(form).find('input[name="task-due-date"]').val(task.raw_duedate);
                    $(form).find('input[name="task-start-date"]').val(task.start_date);
                });
            },error: function(data){
                var error = "<div class='col-xs-12'><p class='text-red'>Unable to load the task's company and project information.</p></div>";
                $('#addTaskForm').prepend(error);
            }
        });
    };

    function submitTimeCard(){
        var form = $('#addTimeForm');
        var tid = $(form).find('.task-select').val();
        var hours = $(form).find('input[name="hours-worked"]').val();
        var doneOn = $(form).find('input[name="done-on"]').val();
        if(doneOn.length === 0){
            doneOn = 'None';
        }
        var workDesc = $(form).find('textarea[name="work-description"]').val();
        sendNewTimeCard(form,tid,hours,workDesc,doneOn);
    };

    function openTimeCard(element,id){
        $('#addTime').find('.task-select').val(id).trigger('change');
        $('#addTime').modal('show');
    };

    function completeTask(element,id){
        $('#completeTask').find('#completeTaskSubmit').attr('data-id',id);
        $('#completeTask').modal('show');
    };

    function openTask(element,tid,pid){
        getTaskDetails(element,tid,pid);
        getTaskPosts(element,tid);
    };

    function openProject(url){
        window.location.href = url
    };

    function updateScroll(){
        var element = document.getElementById("taskPosts");
        element.scrollTop = element.scrollHeight;
    };

    $('#postSubmit').click(function(){
        var tid = $(this).attr('data-tid');
        var pid = $(this).attr('data-pid');
        var post = $('#postInput').val();
        sendPost(this,tid,pid,post);
    });
</script>
{{end}}
