{{extend 'layout.html'}}

{{block content}}
<div class="row">
    <div class="col-md-6 col-sm-8">
        <div class="box timecard-log">
            <div class="box-header with-border">
                <h4 class="pull-left sm-padding-right">
                    Time Cards
                </h4>
            </div>
            <div class="box-body" style="overflow:hidden;padding:0;margin:10px;">
                <div id="timecards" class="sm-top clearfix" style="overflow-y:scroll;height:100%;width:calc(100% + 17px);">

                </div>
            </div>
        </div>
    </div>
</div>
{{end}}

{{block custom_js}}
<script>
    
    $(document).ready(function(){
        var boxHei = getBoxHeight(80);
        $('#timecards').css('max-height',boxHei);
    });
    
    function getMyTimeCards(){
        var uid = '{{=uid}}';
        $('#timecards').append('<div class="col-sm-12 loading-timecard">Loading timecards...</div>');
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_projects',f='time_card_log_data')}}",
            data:{'uid':uid},
            success: function(data){
                $('.loading-timecard').remove();
                var todaysHours = [];
                $.each($.parseJSON(data), function(key,timecard){
                    var tcard = '<div class="post"><div class="user-block"><div style="width:40px;height:40px;float:left;"><div style="width:100%;font-size:1.75rem;"><strong>'+ timecard.hours +'</strong></div><div style="width:100%;font-size:1.30rem;line-height:0;">Hours</div></div><span class="username"><a href="'+ timecard.project_url +'">'+ timecard.user +' - <strong>'+ timecard.taskname +'</span></a></span><span class="description">Date Worked: '+ timecard.worked_on +'</span></div><p>'+ timecard.details +'</p></div>';
                    $('#timecards').append(tcard);
                    console.log(timecard.worked_today);
                    if (timecard.worked_today == 'True'){
                        todaysHours.push(parseInt(timecard.hours));
                    }
                });
                var sum = 0;
                for (var i = todaysHours.length; !!i--;){
                    sum += todaysHours[i];
                }
                console.log(sum);
            },error: function(data){
                var error = '<div class="col-xs-12"><p class="text-red">Unable to load time cards.</p></div>';
                $('#timecards').html(error);
            }
        });
    };

    getMyTimeCards();
</script>
{{end}}
