{{extend 'layout.html'}}

{{block content}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header">
                        <p>Upload profile photo below</p>
                    </div>
                    <div class="box-body">
                        {{=form}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}

{{block custom_js}}

{{end}}
