{{extend 'layout.html'}}

{{block content-header}}
    <section class="content-header filled-white md-padding-bottom clearfix">
        <h1 class="sm-padding-right pull-left col-sm-2">
             User Overview
        </h1>
    </section>
{{end}}

{{block content}}
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <div class="col-sm-6 col-md-8">
                    <h3 class="box-title">Users</h3>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="userSearch" oninput=searchUsers(this); placeholder="Search by username">
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body user-box" style="overflow-y:scroll;height:100%;">
                <table class="table table-bordered">
                    <tbody id="userTable">
                        <tr>
                            <th style="width:5%;">#</th>
                            <th style="width:10%;">Username</th>
                            <th style="width:40%;">Weekly Logged Time</th>
                            <th style="width:40%;">Forcasted Availability</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{end}}

{{block custom_js}}
<script>
    $(document).ready(function(){
        var boxHei = getBoxHeight(70);
        $('.user-box').css('max-height',boxHei);
    });
    
    function getUsers(){
        var loading = '<tr class="loading-users"><td colspan="6">Loading Users...</td></tr>';
        $('#userTable').append(loading);
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_profiles',f='user_work_analytics')}}",
            data:{},
            success: function(data){
                console.log(data);
                $('#userTable').find('.loading-users').remove();
                $.each($.parseJSON(data), function(key,users){
                    var user = '<tr class="user"><td>'+ users.user_id +'</td><td>'+ users.username +'</td></tr>';
                    $('#userTable').append(user);
                });
            },error: function(data){
                console.log(data);
                var error = '<tr><td style="width:100%;">Unable to load users.</td></tr>';
                $('#userTable').html(error);
            }
        });
    };

    getUsers();

    function searchUsers(input){
        var val = $(input).val();
        var users = $('.user-name');
        $(users).each(function(i, obj) {
            var isContains = $(this).text().indexOf(val) > -1;
            if (isContains != true){
                $(this).closest('.user').hide();
            }else{
                $(this).closest('.user').show();
            }
        });
    };
</script>
{{end}}
