{{extend 'layout.html'}}
{{block content}}
{{=BEAUTIFY(form)}}
<table style="background:white;border-spacing:1px;width:20%;border: 1px solid black;">
    {{for s in sims:}}
    <tr><td>{{=s.sim_suppliers.company_name}}</td><td>{{=s.sims.sim_number}}</td></tr>
    {{pass}}
</table>


{{end}}
