<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>workspace | Dashboard</title>
        <link rel="icon" type="image/png" sizes="16x16" href="{{=URL('static','plugin_layouts/layouts/scti_evps_v2/images/tsc_favicon.png')}}">
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.6 -->
        <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{=URL('static','plugin_layouts/layouts/scti_evps_v2/css/font_awesome.min.css')}}">
        <!-- Datetimepicker -->
        <link rel="stylesheet" href="{{=URL('static','plugin_layouts/layouts/scti_evps_v2/css/datetimepicker.css')}}">
        <!-- Select2 -->
        <link rel="stylesheet" href="{{=URL('static','plugin_layouts/layouts/scti_evps_v2/css/select2.min.css')}}">
        <!-- Video JS -->
        <link rel="stylesheet" href="{{=URL('static','plugin_layouts/layouts/scti_evps_v2/css/video_js.min.css')}}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{=URL('static','plugin_layouts/layouts/scti_evps_v2/css/base.css')}}">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="{{=URL('static','plugin_layouts/layouts/scti_evps_v2/css/skins/red.css')}}">

        <link rel="stylesheet" href="{{=URL('static','plugin_layouts/layouts/scti_evps_v2/css/scti_evps_v2.css')}}">
        
        {{block custom_css}}
        
        {{end}}
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="hold-transition skin-red sidebar-mini">
        <div class="alert alert-scti alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-info"></i> Notification</h4>
            <p class="flash">{{=response.flash}}</p>
        </div>
        <div class="wrapper">

            <!-- Header Component -->
            {{include 'plugin_layouts/layouts/components/topnav.html'}}
            
            <!-- Main Navigation Component -->
            {{include 'plugin_layouts/layouts/components/mainnav.html'}}
            
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                {{block content-header}}
                {{end}}
                
                <!-- Main content -->
                <section class="content clearfix">
                    {{block content}}

                    {{end}}
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            
            <!-- Footer Component -->
            {{include 'plugin_layouts/layouts/components/footer.html'}}
            
            <!-- Slidebar Component -->
            {{include 'plugin_layouts/layouts/components/slidebar.html'}}
            
            <!-- Add the sidebar's background. This div must be placed
immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>

        </div>
        <!-- ./wrapper -->

        <!-- jQuery 2.2.3 -->
        <script src="{{=URL('static','js/jquery.js')}}"></script>
        <!-- jQuery UI -->
        <script src="{{=URL('static','plugin_layouts/layouts/scti_evps_v2/js/jquery_ui.min.js')}}"></script>
        <!-- Bootstrap 3.3.6 -->
        <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
        <!-- Datetimepicker -->
        <script src="{{=URL('static','plugin_layouts/layouts/scti_evps_v2/js/datetimepicker.js')}}"></script>
        <!-- Select2 -->
        <script src="{{=URL('static','plugin_layouts/layouts/scti_evps_v2/js/select2.min.js')}}"></script>
        <!-- Video JS -->
        <script src="{{=URL('static','plugin_layouts/layouts/scti_evps_v2/js/video.min.js')}}"></script>
        <!-- FastClick -->
        <script src="{{=URL('static','plugin_layouts/layouts/scti_evps_v2/js/fastclick.min.js')}}"></script>
        <!-- AdminLTE App -->
        <script src="{{=URL('static','plugin_layouts/layouts/scti_evps_v2/js/base.js')}}"></script>
        <!-- SlimScroll 1.3.0 -->
        <script src="{{=URL('static','plugin_layouts/layouts/scti_evps_v2/js/slimscroll.js')}}"></script>
        <!-- Checklist -->
        <script src="{{=URL('static','plugin_layouts/layouts/scti_evps_v2/js/checklist.js')}}"></script>
        
        <script>
            
            var it = 0;
            
            function checkUserStatus(){
                $.ajax({
                    method:'{{=ajax_mode}}',
                    url:"{{=URL(c='plugin_profiles',f='login_status')}}",
                    data:{},
                    success: function(data){
                        console.log(data);
                        if (data == 'false'){
                            location.reload(true);
                        }
                    },error: function(data){}
                });
            }
            
            function logoutTimer(){
                var main_interval = setInterval(increment, 10000);

                function increment(){
                    it = it + 1;
                    checkUserStatus();
                };
            }
            logoutTimer();
            
            function getBoxHeight(ph){
                var percent = ph/100;
                var winHei = $(window).height();
                var boxHei = winHei*percent;
                return boxHei;
            };
            
            $(document).ready(function(){
                var minHeight = $('.content-wrapper').css('min-height').replace('px','');
                var widgetHeight = $('.main-sidebar-widgets').height();
                var sidebarMenuHeight = minHeight - widgetHeight;
                console.log(sidebarMenuHeight);
                if(sidebarMenuHeight < 200){
                    $('.main-sidebar-widgets').addClass('hidden');
                    $('.sidebar-menu-nav').css({
                        'max-height':widgetHeight,
                        'overflow-y':'scroll',
                        'width':'calc(100% + 17px)'
                    });
                }else{
                    $('.sidebar-menu-nav').css({
                        'max-height':sidebarMenuHeight,
                        'overflow-y':'scroll',
                        'width':'calc(100% + 17px)'
                    });
                }
                
                $(".select2").select2({
                    placeholder: 'Select an option',
                    minimumResultsForSearch: 1
                });
                $('[data-toggle="tooltip"]').tooltip();
                if (!$('.flash').text().trim().length) {
                }else{
                    $('.alert').fadeIn("slow");
                    setTimeout(function(){
                        $('.alert').fadeOut("slow");
                    }, 5000);
                }
                /*
                function windowSize(){
                    if($(window).width() > 1380){
                        $('body').removeClass('sidebar-collapse');
                    }else if($(window).width() < 1380 & $(window).width() > 1005){
                        $('body').addClass('sidebar-collapse');
                        $('.resize option').remove();
                        $('.resize').append('<option selected="selected" value="col-sm-3">25%</option><option value="col-sm-6">50%</option><option value="col-sm-9">75%</option><option value="col-sm-12">100%</option>');
                        $('.resize option[value="col-sm-3"]').prop('selected', true);
                        $('.mon-wrapper').attr('class','col-sm-3 sm-padding mon-wrapper');
                        $('.view-status').removeAttr('style');
                    }else if($(window).width() < 1005){
                        $('.resize option[value="col-sm-6"]').prop('selected', true);
                        $('.resize option[value="col-sm-3"]').remove();
                        $('.resize option[value="col-sm-9"]').remove();
                        $('.mon-wrapper').attr('class','col-sm-6 sm-padding mon-wrapper');
                        $('.view-status').css('top','3px');
                        $('body').addClass('sidebar-collapse');
                    }
                }

                window.onresize = function(event) {
                    windowSize();
                };

                windowSize();
                */
                
                $('#quickSearch').prop('disabled',false);
            });
            
            function showAlert(text){
                var alert = $('.alert');
                var flash = $('.alert').find('.flash');
                flash.text(text);
                alert.show();
                alert.delay(5000).fadeOut('fast');
            };
            
            $('[data-toggle="popover"]').popover({
                html: true
            });

            $.datetimepicker.setLocale('en');

            $('.datetimepicker').datetimepicker({
                defaultTime:'9:00:00',
                format:'Y-m-d H:i:s',
                dayOfWeekStart : 1,
                lang:'en',
                step:1
            });
            
            function searchForProjects(e){
                if(e.keyCode  == 13){
                    appendProjectResults();
                    e.preventDefault();
                    return false;
                }
            }
            
            function appendProjectResults(){
                $('.project-list-results').empty();
                var searchKeyword = $('#quickSearch').val().toLowerCase();
                $('.project-list-results').append('<li class="project-search-results" style="padding: 0px 8px;line-height:30px;"><a>Fetching projects...</a></li>');
                $.ajax({
                    method:'{{=ajax_mode}}',
                    url:"{{=URL(c='plugin_projects',f='all_projects')}}",
                    data:{},
                    success: function(data){
                        $('.project-list-results').empty();
                        $.each($.parseJSON(data), function(key,projects){
                            var projectName = projects.project_name;
                            var isContains = projectName.toLowerCase().indexOf(searchKeyword) > -1;
                            if (isContains == true){
                                if (projects.project_manager_id == "{{=me}}"){
                                    $('.project-list-results').append('<li class="project-search-results" style="padding: 0px 8px;line-height:30px;"><a href="'+ projects.url +'"><i class="fa fa-star icon-yellow" aria-hidden="true"></i> '+ projects.project_name +'</a></li>');
                                }else{
                                    $('.project-list-results').append('<li class="project-search-results" style="padding: 0px 8px;line-height:30px;"><a href="'+ projects.url +'">'+ projects.project_name +'</a></li>');
                                }
                            }
                        });
                        if($('.project-list-results').children().length === 0){
                            $('.project-list-results').append('<li class="project-search-results" style="padding: 0px 8px;line-height:30px;"><a href="#">No projects results found.</a></li>');
                            $('#quickSearch').focus();
                        }
                    },error: function(data){
                        console.log(data);
                    }
                });
            }
        </script>
        {{block custom_js}}
        
        {{end}}
    </body>
</html>
