<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>workspace | Login</title>
        <link rel="icon" type="image/png" sizes="16x16" href="{{=URL('static','plugin_layouts/layouts/scti_evps_v2/images/tsc_favicon.png')}}">
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.6 -->
        <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{=URL('static','plugin_layouts/layouts/scti_evps_v2/css/font_awesome.min.css')}}">
        <!-- Datetimepicker -->
        <link rel="stylesheet" href="{{=URL('static','plugin_layouts/layouts/scti_evps_v2/css/datetimepicker.css')}}">
        <!-- Select2 -->
        <link rel="stylesheet" href="{{=URL('static','plugin_layouts/layouts/scti_evps_v2/css/select2.min.css')}}">
        <!-- Video JS -->
        <link rel="stylesheet" href="{{=URL('static','plugin_layouts/layouts/scti_evps_v2/css/video_js.min.css')}}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{=URL('static','plugin_layouts/layouts/scti_evps_v2/css/base.css')}}">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="{{=URL('static','plugin_layouts/layouts/scti_evps_v2/css/skins/red.css')}}">

        <link rel="stylesheet" href="{{=URL('static','plugin_layouts/layouts/scti_evps_v2/css/scti_evps_v2.css')}}">
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="hold-transition login-page" style="background: url({{=URL('static','plugin_layouts/layouts/scti_evps_v2/images/workspace_bg.jpg')}})">
        <div class="alert alert-scti alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-info"></i> Notification</h4>
            <p class="flash">{{=response.flash}}</p>
        </div>
        <div class="login-box">
            <div class="login-logo text-red">
                <a href="{{URL('default','index')}}">workspace by <strong>SmartCone</strong></a>
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body">
                <a href="{{=URL('default','index')}}" class="pull-left text-red">
                    <i class="fa fa-home" aria-hidden="true"></i> Home
                </a>
                <p class="login-box-msg">Sign in to start your session</p>

                {{block login}}

                {{end}}

            </div>
            <!-- /.login-box-body -->
        </div>
        <!-- /.login-box -->

        <!-- jQuery 2.2.3 -->
        <script src="{{=URL('static','js/jquery.js')}}"></script>
        <!-- Bootstrap 3.3.6 -->
        <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
        <!-- FastClick -->
        <script src="{{=URL('static','plugin_layouts/layouts/scti_evps_v2/js/fastclick.min.js')}}"></script>
        <!-- AdminLTE App -->
        <script src="{{=URL('static','plugin_layouts/layouts/scti_evps_v2/js/base.js')}}"></script>
        <!-- SlimScroll 1.3.0 -->
        <script src="{{=URL('static','plugin_layouts/layouts/scti_evps_v2/js/slimscroll.js')}}"></script>
        
        <script>
            $(document).ready(function(){
                if (!$('.flash').text().trim().length) {
                }else{
                    $('.alert').fadeIn("slow");
                    setTimeout(function(){
                        $('.alert').fadeOut("slow");
                    }, 5000);
                }
            });
        </script>
        
        {{block page_js}}
        
        {{end}}
    </body>
</html>
