<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.1.2
    </div>
    <strong>Copyright &copy; 2017 <a href="http://almsaeedstudio.com">SmartCone Technologies Inc</a>.</strong> All rights
    reserved.
</footer>
