<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar" style="overflow:hidden;">
    <section class="sidebar" style="padding:0;">
        <ul class="sidebar-menu">
            <li class="header">Quick Project Search</li>
        </ul>
        <form class="sidebar-form" id="projectResults" style="padding:0;margin:0;">
            <input type="text" name="quick-search" id="quickSearch" class="form-control search" placeholder="Project name..." onkeypress="searchForProjects(event)" autocomplete="off" disabled>
            <ul class="project-list-results" style="padding:0;list-style:none;margin:0;"></ul>
        </form>
    </section>
    <section class="sidebar">
        <!-- search form
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">Search
                    </button>
                </span>
            </div>
        </form>
         /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu sidebar-menu-nav">
            <li class="header">Applications</li>
            <li>
                <a href="#">
                    <i class="fa fa-building" aria-hidden="true"></i> <span>CRM</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{=URL(c='plugin_companies',f='companies_overview')}}"><i class="fa fa-building" aria-hidden="true"></i> Companies</a></li>
                    <li><a href="{{=URL(c='plugin_companies',f='contacts_overview')}}"><i class="fa fa-user" aria-hidden="true"></i> Contacts</a></li>
                    <li><a href="{{=URL(c='plugin_sales',f='opportunities_overview')}}"><i class="fa fa-diamond" aria-hidden="true"></i> Opportunities</a></li>
                </ul>
            </li>
            <li>
                <a href="{{=URL(c='plugin_projects',f='project_tasks')}}">
                    <i class="fa fa-thumb-tack" aria-hidden="true"></i> <span>Project Manager</span>
                </a>
            </li>
            <li>
                <a href="{{=URL(c='plugin_projects',f='projects_overview')}}">
                    <i class="fa fa-eye" aria-hidden="true"></i> <span>Project List</span>
                </a>
            </li>
            <li>
                <a href="{{=URL(c='plugin_projects',f='my_workspace')}}">
                    <i class="fa fa-calendar-plus-o" aria-hidden="true"></i> <span>My Workspace</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-tasks"></i> <span>Tasks List</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    {{for u in users:}}
                        <li><a href="{{=URL(c='plugin_projects',f='tasks',vars=dict(user=u.id))}}"><i class="fa fa-user" aria-hidden="true"></i> {{=u.username}}</a></li>
                    {{pass}}
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-clock-o"></i> <span>Time Cards</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    {{for u in users:}}
                        <li><a href="{{=URL(c='plugin_projects',f='time_card_log',vars=dict(uid=u.id))}}"><i class="fa fa-user" aria-hidden="true"></i> {{=u.username}}</a></li>
                    {{pass}}
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
