<aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li class="active"><a href="#control-sidebar-stats-tab" data-toggle="tab"><i class="fa fa-bar-chart" aria-hidden="true"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content no-padding">
        <!-- Home tab content -->
        <div class="tab-pane active" id="control-sidebar-stats-tab">
            <div>
                <ul class="sidebar-menu">
                    <li class="header">My Overdue Analytics</li>
                </ul>
            </div>
            <div class="info-box-sm" style="background-color:#222d32;color:#b8c7ce;">
                <div class="info-box-content" style="margin-left:5px;">
                    <span class="progress-description">
                       <span class="text-red"> {{=g_overdue_estimated_time}}</span> hour(s) in your backlog
                    </span>
                </div>
            </div>
            <section class="sidebar" style="padding:0;">
                <ul class="sidebar-menu">
                    <li class="header">Delegated Overdue Analytics</li>
                </ul>
            </section>
            <div class="info-box-sm" style="background-color:#222d32;color:#b8c7ce;">
                <div class="info-box-content" style="margin-left:5px;">
                    <span class="progress-description">
                       <span class="text-red"> {{=g_doverdue_estimated_time}}</span> hour(s) in delegated backlog
                    </span>
                </div>
            </div>
            <section class="sidebar" style="padding:0;">
                <ul class="sidebar-menu">
                    <li class="header">Daily Time Card Analytics</li>
                </ul>
            </section>
            <!-- sidebar: style can be found in sidebar.less -->
            <div class="info-box-sm" style="background-color:#222d32;color:#b8c7ce;">
                <span class="info-box-sm-text">Time Worked</span>

                <div class="info-box-content">
                    <div class="progress-sm" style="background-color:#222d32;">
                        <div class="progress-bar" style="background-color:{{=g_dp_color}};width: {{=g_daily_worked_percentage}}%"></div>
                    </div>
                    <span class="progress-description">
                        {{=g_days_logged_hours}} of {{=g_daily_work_hours}} worked
                    </span>
                </div>
            <!-- /.info-box-content -->
            </div>
            <div class="info-box-sm" style="background-color:#222d32;color:#b8c7ce;">
                <span class="info-box-sm-text">Unbooked Time</span>

                <div class="info-box-content">
                    <div class="progress-sm" style="background-color:#222d32;">
                        <div class="progress-bar" style="background-color:{{=g_dav_color}};width: {{=g_day_availablity}}%"></div>
                    </div>
                    <span class="progress-description">
                        {{=7.5 - float(g_days_logged_hours)}} hrs
                    </span>
                </div>
            <!-- /.info-box-content -->
            </div>
            <section class="sidebar" style="padding:0;">
                <ul class="sidebar-menu">
                    <li class="header">Weekly Works Schedule Analytics</li>
                </ul>
            </section>
            <!-- sidebar: style can be found in sidebar.less -->
            <div class="info-box-sm" style="background-color:#222d32;color:#b8c7ce;">
                <span class="info-box-sm-text">Time Worked</span>

                <div class="info-box-content">
                    <div class="progress-sm" style="background-color:#222d32;">
                        <div class="progress-bar" style="background-color:{{=g_wp_color}};width: {{=g_worked_percentage}}%"></div>
                    </div>
                    <span class="progress-description">
                        {{=float(g_weeks_logged_hours)}} of {{=float(g_weekly_work_hours)}} worked
                    </span>
                </div>
            <!-- /.info-box-content -->
            </div>
            <div class="info-box-sm" style="background-color:#222d32;color:#b8c7ce;">
                <span class="info-box-sm-text">Availability</span>

                <div class="info-box-content">
                    <div class="progress-sm" style="background-color:#222d32;">
                        <div class="progress-bar" style="background-color:{{=g_av_color}};width: {{=g_availablity}}%"></div>
                    </div>
                    <span class="progress-description">
                        {{=float(g_weekly_work_hours) - float(g_weeks_estimated_time)}} hrs free
                    </span>
                </div>
            <!-- /.info-box-content -->
            </div>
        </div>
        <!-- /.tab-pane -->
    </div>
</aside>
<!-- /.control-sidebar -->
