<header class="main-header">

    <!-- Logo -->
    <a href="{{=URL('default','index')}}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>OPS</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>SmartCone</b>OPS</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only"></span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                {{if auth.is_logged_in():}}
                <!-- User Account: style can be found in dropdown.less -->
                <li class="user user-menu">
                    <a href="{{=URL('user','profile')}}">
                        <span class="hidden-xs">{{=auth.user.first_name}} {{=auth.user.last_name}}</span>
                    </a>
                </li>
                {{else:}}
                {{pass}}
                <li class="user user-menu">
                    {{=A('Logout',_href=URL('user','logout'))}}
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-bar-chart"></i></a>
                </li>
            </ul>
        </div>

    </nav>
</header>
