{{extend 'layout.html'}}
{{block content}}
<table width='100%'>
    <th><h1>
        Company List
        </h1></th>
    {{for c in companies:}}
    <tr><td style=" text-align: left;">{{=c.company_name}}</td><td style=" text-align: left;">{{=c.phone}}</td><td style=" text-align: left;">{{=c.webaddress}}</td></tr>
    <tr></tr>
    {{pass}}
</table>


    

{{end}}
