{{extend 'layout.html'}}
<h1>This is the plugin_crm/myaccounts.html template</h1>
{{block content}}

<table>
    <th>Company Name</th>
    <tr>{{for m in myaccounts:}}
        <td>{{=m.company_name}}</td>
        <td>{{=m.phone}}</td>
        <td>{{=m.webaddress}}</td>
        <td>{{=m.primary_contact}}</td>
        <td>{{=m.title}}</td>
        <td>{{=m.email}}</td>
    </tr>{{pass}}
</table>


{{end}}
