{{extend 'tiger.html'}}

<h2>
    Assembly Name: {{=request.args(1)}}
</h2>
<body>
    <table>
        <tr>
            <td>
                {{=form}}
            </td>
            
            <td>
                {{=parts}}
            </td>
        </tr>
    </table>
</body>
