{{extend 'tiger.html'}}
<body>
    <table>
        <tr>
            <td>
                {{=form}}
            </td>
            <td>
                
                <ol>{{for a in assemblies:}}
                    <li>
                        {{=A((a.assembly), _href=URL('plugin_mrp','assembly_parts_list',args=(a.id,a.assembly)))}}
                    </li>{{pass}}
                </ol>
                
            </td>
        </tr>
    </table>
</body>
