{{extend 'layout.html'}}

{{block content-header}}
<h1>
    MRP
    <small>BOMs</small>
</h1>
<ol class="breadcrumb">
    <li><a href="{{=URL('default','index')}}"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">BOMs</li>
</ol>
{{end}}

{{block content}}

<div class="row">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header">
                <h2>Add Product BOM</h2>
            </div>
            <div class="box-body">
                {{=boms_form}}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box">
            <div class="box-header">
                <h2>Product BOMs</h2>
            </div>
            <div class="box-body">
                <div class="row row-top">
                    <table class="table table-striped">
                        {{for b in boms:}}
                        <tr>
                            <td>{{=A((b.bom), _href=URL('plugin_mrp','bom_details',args=(b.id,b.bom)))}}</td>
                        </tr>
                        {{pass}}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
<body>
    <table>
        <tr>
            <td>
                {{=form}}
            </td>
            <td>
                
                <ol>{{for b in boms:}}
                    <li>
                        {{=A((b.bom), _href=URL('plugin_mrp','bom_details',args=(b.id,b.bom)))}}
                    </li>{{pass}}
                </ol>
                
            </td>
        </tr>
    </table>
</body>
