{{extend 'layout.html'}}
{{block content}}

<body>
    {{=A(('All Suppliers'), _href=URL('plugin_mrp','suppliers'), _class='btn btn-primary')}}
    <table>
        <tr>
            <td>
                {{=form}}
            </td>
            <td>
                <table>
                    <th>Part</th>
                    <th>Price</th>
                    <th>Currency</th>
                    <th>Lead Time</th>
                    {{for p in parts:}}
                    <tr class="well">
                        <td>
                            {{=A((p.id), _href=URL('plugin_mrp','view_part',args=(p.id, p.part)))}}
                        </td>
                        <td>
                            {{=p.part_cost}}
                        </td>
                        <td>
                            {{=p.currency}}
                        </td>
                        <td>
                            {{=p.leadtime}}
                        </td>
                    {{pass}}
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
{{end}}
