{{extend 'tiger.html'}}
<body>
    <table>
        <tr>
            <td>
                {{=form}}
            </td>
            <td>
                
                <ol>{{for p in parts:}}
                    <li>
                        {{=A(p.part, _href=URL('plugin_mrp','view_part',args=(p.id)))}}
                    </li>{{pass}}
                </ol>
                
            </td>
        </tr>
    </table>
</body>
