{{extend 'tiger.html'}}
<body>
    <table>
        <tr>
            <td>
                {{=form}}
            </td>
            <td>
                
                <ol>{{for s in subs:}}
                    <li>
                        {{=A((s.subassembly), _href=URL('plugin_mrp','subassembly_parts_list',args=(s.id,s.subassembly)))}}
                    </li>{{pass}}
                </ol>
                
            </td>
        </tr>
    </table>
</body>
