{{extend 'layout.html'}}
{{block content}}
{{=A('Add Supplier',_href=URL('plugin_mrp','edit_supplier'),_class='btn btn-primary')}}

<ul>{{for s in suppliers:}}
    <li>
        {{=A(s.supplier, _href=URL('plugin_mrp','edit_supplier',args=s.id))}}
    </li>{{pass}}
    
</ul>


{{end}}
