{{extend 'tiger.html'}}

<body>
    <table>
        <tr>
            <td>
                {{for p in part:}}
                {{=A((p.part), _href=URL('plugin_mrp','edit_part',args=(p.id)))}}
                {{pass}}
            </td>
            <td>
            </td>
        </tr>
    </table>
</body>
