{{extend 'layout.html'}}

{{block content}}
<div class="row">

    <div class="col-md-9">
        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Compose New Message</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="form-group">
                    <input id="receiver" class="form-control" placeholder="To:">
                </div>
                <div class="form-group">
                    <input id="subject" class="form-control" placeholder="Subject:">
                </div>
                <textarea id="compose-textarea" class="form-control" style="height: 300px;"></textarea>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="pull-right">
                    <button id="sendMessage" onclick="buildMessage()" type="button" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send</button>
                </div>
                <button type="reset" class="btn btn-default"><i class="fa fa-times"></i> Discard</button>
            </div>
            <!-- /.box-footer -->
        </div>
        <!-- /. box -->
    </div>
</div>
{{end}}

{{block custom_js}}
<script>
    function createMessage(sender,receiver,subject,message_text){
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_mail',f='createMessage')}}",
            data:{'sender':sender,'receiver':receiver,'subject':subject,'message_text':message_text},
            success: function(data){
                console.log(data);
            },error: function(data){
                console.log(data);
            }
        });
    }
    
    function sendMessage(){
        
    }
    
    function buildMessage(){
        var sender = "{{=my_email}}";
        var receiver = $('#receiver').val();
        var subject = $('#subject').val();
        var message_text = $('#compose-textarea').val();
        sendMessage(sender,receiver,subject,message_text);
    }
    
    $(document).ready(function(){
    
    });
</script>
{{end}}
