{{extend 'layout.html'}}

{{block content-header}}
<h1>
    Quotes
    <small>New Quote</small>
</h1>
<ol class="breadcrumb">
    <li><a href="{{=URL('default','index')}}"><i class="fa fa-dashboard"></i> Home</a></li>
    <li>Quotes</li>
    <li class="active">New Quote</li>
</ol>
{{end}}

{{block content}}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h2 class="page-header">
                    SmartCone Technologies Inc.
                    <small class="pull-right">{{=today}}</small>
                </h2>
                <div class="col-sm-4 invoice-col">
                    <address>
                        <strong>From</strong><br>
                        SmartCone Technologies Inc.<br>
                        {{=company_info.address}}<br>
                        {{=company_info.city}}, {{=company_info.postal_code}}<br>
                        Phone: {{=company_info.phone}}<br>
                        Email: {{=company_info.email}}
                    </address>
                </div>
                <div class="col-sm-4 invoice-col">
                                    </div>
                <div class="col-sm-4 invoice-col">
                    {{=company_form}}
                </div>
            </div>
            <div class="box-body">

                {{=product_form}}
                <div class="row row-top">
                    <table class="table table-striped">
                        <th>Item#</th><th>QTY</th><th>Product</th><th>Description</th><th>Price</th><th>Discount</th><th>Line Total</th>
                        <tr>{{count = 0}}
                            {{for q in quote_details:}}
                            <td>
                                 {{count = count+1}}
                                 {{=count}}

                            <td>{{=q.quote_details.qty}}</td><td>{{=q.products.product}}</td>
                            <td>{{=q.products.description}}</td><td>{{=q.quote_details.price}}</td>
                            <td>{{=int(q.quote_details.discount)}}%</td><td>{{=q.quote_details.line_total}}</td>
                        </tr>{{pass}}
                    </table>
                </div>
                <div class="row row-top">
                    <div class="col-xs-3 col-xs-offset-9">
                        <table class="table table-striped">
                            <tr><td>Quote SubTotal</td><td>{{=qt}}</td></tr>
                            <tr><td>Applicable Taxes</td><td>{{=tax}}</td></tr>
                            <tr><td>Estimated Shipping</td><td>{{=shipping}}</td></tr>
                            <tr><td>Quote Total</td><td><strong>{{=total}}</strong></td></tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-9">
                        <button type="button" class="btn btn-default btn-flat bg-app" id="makePDF">
                            Generate PDF
                        </button>
                        <button type="button" class="btn btn-default btn-flat bg-orange">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='row'>
    <div class='col-md-12'>
        <h6>TERMS &amp; CONDITIONS</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis, felis in aliquam pellentesque, justo felis mollis leo, nec iaculis nisl libero
        ac velit. Maecenas in cursus quam. Maecenas ut ornare lorem. Sed ullamcorper sit amet dui at efficitur. Maecenas et ex aliquet, elementum
        lectus vel, sodales leo. Proin suscipit in eros nec gravida. Donec ac lectus rutrum, tempus neque at, fringilla purus. Vestibulum quis orci sagittis,
        malesuada dolor eget, dapibus metus.</p>
    </div>
</div>
{{end}}

{{block custom_js}}
<script>
    $('#makePDF').on('click', function() {

        var docDefinition = {
            pageSize: 'A4'
        };

        var invoice = {

            info: {
                title: 'SmartCone Technologies Inc. Invoice',
                author: 'SmartCone Technologies Inc.',
                subject: 'Purchuse Invoice',
                keywords: 'quote',
            },

            header: [
                { text: 'SmartCone Technologies Inc.', style: 'header', margin: [ 40, 20, 0, 0 ] }
            ],

            content: [
                {
                    columns: [
                        {
                            width: '50%',
                            stack: [
                                { text: 'From', style: 'boldheading' },
                                'SmartCone Technologies Inc.',
                                '{{=company_info.address}}',
                                '{{=company_info.city}}, {{=company_info.postal_code}}',
                                '{{=company_info.country}}'
                            ],
                                style: 'text',
                                margin: [ 0, 20, 0, 0 ]
                        },
                        {
                            width: '50%',
                            stack: [
                                { text: 'To', style: 'boldheading' },
                               'Not specified'
                            ],
                                style: 'text',
                                margin: [ 0, 20, 0, 0 ]
                        }
                    ]
                },
                {
                    columns: [
                        {
                            width: '50%',
                            stack: [
                                '',
                                '',
                                '',
                                ''
                            ],
                                style: 'text',
                                margin: [ 0, 0, 0, 0 ]
                        }
                    ]
                },
                {
                    style: 'table',
                    table: {
                            widths: ['10%', '10%', '15%', '30%', '10%', '10%', '15%'],
                            headerRows: 1,
                            body: [
                                [{ text: 'Item#', style: 'tableHeader' }, { text: 'Qty', style: 'tableHeader'}, { text: 'Product', style: 'tableHeader' }, { text: 'Description', style: 'tableHeader' }, { text: 'Price', style: 'tableHeader' }, { text: 'Discount', style: 'tableHeader' }, { text: 'Line Total', style: 'tableHeaderNum' }],
                                {{for q in quote_details:}}
                                [{ text: '{{=count}}', style: 'tableSpacer' }, { text: '{{=q.quote_details.qty}}', style: 'tableSpacer'}, { text: '{{=q.products.product}}', style: 'tableSpacer' }, { text: '{{=q.products.description}}', style: 'tableSpacer' }, { text: '{{=q.quote_details.price}}', style: 'tableSpacer' }, { text: '{{=q.quote_details.discount}}', style: 'tableSpacer' }, { text: '{{=q.quote_details.line_total}}', style: 'tableNum' }],
                                {{pass}}
                                [{ text: '' }, { text: '' }, { text: '' }, { text: '' }, { text: '' }, { text: '' }, { text: '' }]
                            ]
                    },
                    layout: 'headerLineOnly'
                },
                {
                    columns: [
                        {
                            width: '70%',
                            stack: [
                                'COMMENTS'
                            ],
                                style: 'text',
                                margin: [ 0, 40, 0, 0 ]
                        },
                        {
                            width: '15%',
                            stack: [
                                [
                                    { text: 'SUBTOTAL', style: ['text', 'totals'] },
                                    { text: 'TAX', style: ['text', 'totals'] },
                                    { text: 'SHIPPING', style: ['text', 'totals'] },
                                    { text: 'TOTAL', style: ['bold', 'totals'] }
                                ]
                            ],
                            margin: [ 0, 40, 0, 0 ],
                            alignment: 'right'
                        },
                        {
                            width: '15%',
                            stack: [
                                [
                                    { text: '{{=qt}}', style: ['text', 'totals'] },
                                    { text: '{{=tax}}', style: ['text', 'totals'] },
                                    { text: '{{=shipping}}', style: ['text', 'totals'] },
                                    { text: '{{=(total)}}', style: ['bold', 'totals'] }
                                ]
                            ],
                            margin: [ 0, 40, 0, 0 ],
                            alignment: 'right'
                        }
                    ]
                },
                {
                     columns: [
                         {
                             width: '100%',
                             stack: [
                                 'TERMS & CONDITIONS',
                                 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis, felis in aliquam pellentesque, justo felis mollis leo, nec iaculis nisl libero ac velit. Maecenas in cursus quam. Maecenas ut ornare lorem. Sed ullamcorper sit amet dui at efficitur. Maecenas et ex aliquet, elementum lectus vel, sodales leo. Proin suscipit in eros nec gravida. Donec ac lectus rutrum, tempus neque at, fringilla purus. Vestibulum quis orci sagittis, malesuada dolor eget, dapibus metus.'
                             ],
                             style: 'fineText',
                             margin: [ 0, 20, 0, 0 ]
                         }
                     ]
                }
            ],

            styles: {
                headwrap: {
                     background: '#1B3E59'
                },
                header: {
                    fontSize: 16,
                    bold: true,
                },
                subheader: {
                    fontSize: 10
                },
                boldheading: {
                    bold: true,
                    margin: [ 0, 0, 0, 10 ],
                    decoration: 'underline'
                },
                bold: {
                    bold: true
                },
                text: {
                    alignment: 'left'
                },
                fineText: {
                    fontSize: 8,
                    color: 'gray'
                },
                table: {
                    margin: [ 0, 20, 0, 0 ]
                },
                tableHeader: {
                    bold: true,
                    fontSize: 10,
                    color: 'black',
                    alignment: 'left'
                },
                tableHeaderNum: {
                    bold: true,
                    fontSize: 10,
                    color: 'black',
                    alignment: 'right'
                },
                tableSpacer: {
                    margin: [ 0, 5, 0, 0 ],
                    fontSize: 9,
                    alignment: 'left'
                },
                tableNum: {
                    margin: [ 0, 5, 0, 0 ],
                     fontSize: 9,
                    alignment: 'right'
                },
                totals: {
                    margin: [ 0, 10, 0, 0 ],
                    alignment: 'right'
                }
            }
        }

        // open the PDF in a new window
        pdfMake.createPdf(invoice).open();

        // print the PDF (not working in this version, will be added back in a couple of days)
        // pdfMake.createPdf(docDefinition).print();

        // download the PDF
        //pdfMake.createPdf(invoice).download();
    });
</script>
{{end}}
