{{extend 'layout.html'}}

{{block content-header}}
    <section class="content-header filled-white md-padding-bottom clearfix">
        <h1 class="sm-padding-right col-sm-12">
             Opportunities Overview
        </h1>
    </section>
{{end}}

{{block content}}
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <div class="col-sm-3 col-md-4">
                    <h3 class="box-title">Opportunities</h3>
                </div>
                <div class="col-sm-6 col-md-4 col-md-offset-2 no-padding">
                    <div class="form-group">
                        <input type="text" class="form-control" id="opportunitiesSearch" oninput=searchOpportunities(this); placeholder="Search by opportunity description">
                    </div>
                </div>
                <div class="col-sm-3 col-md-2 no-padding">
                    <button class="btn-flat btn-sm bg-green btn add-opportunity pull-right"><i class="fa fa-plus" aria-hidden="true"></i> Opportunity</button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="overflow:hidden;height:100%;padding:0;margin:10px">
                <div class="opportunity-box" style="overflow-y:scroll;width:calc(100% + 17px);">
                    <table class="table table-striped">
                    <tbody id="opportunityTable">
                        <tr>
                            <th style="width:5%;">#</th>
                            <th style="width:20%;">Company</th>
                            <th style="width:20%;">Description</th>
                            <th style="width:15%;">Account Manager</th>
                            <th style="width:15%;">Stage</th>
                            <th style="width:20%;">Target Close Date</th>
                            <th style="width:5%;">Edit</th>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Opportunity -->
<div class="modal fade" id="addOpportunity" role="dialog" aria-labelledby="addOpportunity">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <h4 class="modal-title">Add an Opportunity</h4>
            </div>
            <div class="modal-body add-opportunity-area clearfix">
                <form class="form" id="addOpportunityForm">
                    <div class="form-group">
                        <label>Company:</label>
                        <select class="select2 form-control company-select" style="width:100%;">

                        </select>
                    </div>
                    <div class="form-group">
                        <label>Description:</label>
                        <input type="phone" name="opportunity-desc" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Account Manager:</label>
                        <select class="select2 form-control am-select" style="width:100%;">

                        </select>
                    </div>
                    <div class="form-group">
                        <label>Opportunity Stage:</label>
                        <select class="select2 form-control stage-select" style="width:100%;">

                        </select>
                    </div>
                    <div class="form-group">
                        <label>Target Close Date:</label>
                        <input type="date" name="opportunity-close-date" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Notes:</label>
                        <textarea class="opportunity-note" style="height:100px;width:100%;" placeholder="Add note here..."></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat btn-sm" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default btn-flat bg-green btn-sm" id="submitNewOpportunity" onclick="submitNewOpportunity()">Add Opportunity</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Opportunity -->
<div class="modal fade" id="editOpportunity" role="dialog" aria-labelledby="editOpportunity">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <h4 class="modal-title">Edit Opportunity</h4>
            </div>
            <div class="modal-body edit-opportunity-area clearfix">
                <form class="form" id="editOpportunityForm">
                    <input type="hidden" name="opportunity-id" class="form-control">
                    <div class="form-group">
                        <label>Company:</label>
                        <select class="select2 form-control company-select" style="width:100%;">

                        </select>
                    </div>
                    <div class="form-group">
                        <label>Description:</label>
                        <input type="phone" name="opportunity-desc" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Account Manager:</label>
                        <select class="select2 form-control am-select" style="width:100%;">

                        </select>
                    </div>
                    <div class="form-group">
                        <label>Opportunity Stage:</label>
                        <select class="select2 form-control stage-select" style="width:100%;">

                        </select>
                    </div>
                    <div class="form-group">
                        <label>Target Close Date:</label>
                        <input type="date" name="opportunity-close-date" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Notes:</label>
                        <div class="col-xs-12 no-padding notes-holder">

                        </div>
                        <textarea class="opportunity-note" style="height:100px;width:100%;" placeholder="Add note here..."></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat btn-sm" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default btn-flat bg-green btn-sm" id="submitEditOpportunity" onclick="submitEditOpportunity(this)">Save Changes</button>
            </div>
        </div>
    </div>
</div>
{{end}}

{{block custom_js}}
<script>
    var companyList = [];

    $(document).ready(function(){
        var boxHei = getBoxHeight(70);
        $('.opportunity-box').css('max-height',boxHei);
    });

    var company_list = {{=XML(company_list)}};

    $(".company-select").select2({
        data: company_list
    });

    var users_list = {{=XML(users_list)}};

    $(".am-select").select2({
        data: users_list
    });

    var stage_list = {{=XML(stage_list)}};

    $(".stage-select").select2({
        data: stage_list
    });

    function populateStageSelect(oid,stage){
        var stageSelect = $('#opportunityTable').find('.opportunity-status[data-oid="'+ oid +'"]');
        $(stageSelect).select2({
            data: stage_list
        });
        $(stageSelect).val(stage);
        $(stageSelect).trigger('change');
        initializeSelect(stageSelect);
    }

    function initializeSelect(select){
        $(select).change(function(){
            var oid = $(this).attr('data-oid');
            var stage = $(this).val();
            var box = $(this).closest('td');
            updateOpportunityStage(oid,stage,box);
        });
    }

    function updateOpportunityStage(oid,stage,box){
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_sales',f='updateOpportunityStage')}}",
            data:{'oid':oid,'stage':stage},
            success: function(data){
                if (data=='True'){
                    $(box).css('background','rgba(0,166,90,1)');
                }else{
                    $(box).css('background','rgba(221,75,57,1)');
                }
            },error: function(data){
                $(box).css('background','rgba(221,75,57,1)');
            }
        })
    }

    function getOpportunities(){
        var loading = '<tr class="loading-opportunity"><td colspan="6">Loading Opportunity...</td></tr>';
        $('#opportunityTable').append(loading);
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_sales',f='all_opportunities')}}",
            data:{},
            success: function(data){
                $('#opportunityTable').find('.loading-opportunity').remove();
                $.each($.parseJSON(data), function(key,opportunities){
                    console.log(data);
                    var opportunity = '<tr class="opportunity"><td>'+ opportunities.id +'</td><td style="line-height:30px;"><a class="company-name">'+ opportunities.company_name +'</a></td><td class="opportunities-desc" style="line-height:30px;">'+ opportunities.desc +'</td><td class="opportunity-am" style="line-height:30px;">'+ opportunities.am_Name +'</td><td><select style="width:100%;" class="select2 form-control opportunity-status" data-oid="'+ opportunities.id +'"></select></td><td>'+ opportunities.close_date +'</td><td><button data-toggle="modal" data-target="#editOpportunity" data-opportunity-id="'+ opportunities.id +'" data-company-id="'+ opportunities.company_id +'" data-company-name="'+ opportunities.company_name +'" data-opportunity-desc="'+ opportunities.desc +'" data-opportunity-am="'+ opportunities.am_id +'" data-opportunity-stage="'+ opportunities.stage +'" data-opportunity-close-date="'+ opportunities.close_date +'" onclick="poulateEditForm(this)" class="btn btn-sm bg-red"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button></td></tr>';
                    $('#opportunityTable').append(opportunity);
                    populateStageSelect(opportunities.id,opportunities.stage)
                });
            },error: function(data){
                var error = '<tr><td style="width:100%;">Unable to load opportunities.</td></tr>';
                $('#opportunityTable').html(error);
            }
        });
    };

    getOpportunities();

    function searchOpportunities(input){
        var val = $(input).val().toLowerCase();
        var opportunities = $('.opportunities-desc');
        $(opportunities).each(function(i, obj) {
            var isContains = $(this).text().toLowerCase().indexOf(val) > -1;
            if (isContains != true){
                $(this).closest('.opportunity').hide();
            }else{
                $(this).closest('.opportunity').show();
            }
        });
    };

    function sendNewOpportunity(form,cname,odesc,oam,ostage,ocd,onote){
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_sales',f='addOpportunity')}}",
            data:{'cname':cname,'odesc':odesc,'oam':oam,'ostage':ostage,'ocd':ocd,'onote':onote},
            success: function(data){
                if(data=='True'){
                    var message = '<div class="callout callout-success"><p>Opportunity has been added!</p></div>';
                    $('#submitNewOpportunity').text('Submitted');
                }else{
                    var message = '<div class="callout callout-danger"><p>Error adding opportunity. Try again later.</p></div>';
                    $('#submitNewOpportunity').text('Errored').removeClass('bg-green').addClass('bg-red');
                }
                $('.add-opportunity-area').prepend(message);
                $('.add-opportunity-area').find('.callout').delay(5000).slideUp('slow');
                location.reload(true);
            },error: function(data){
                var message = '<div class="callout callout-danger"><p>Error adding opportunity. Try again later.</p></div>';
                $('#submitNewOpportunity').text('Errored').removeClass('bg-green').addClass('bg-red');
                $('.add-opportunity-area').prepend(message);
                $('.add-opportunity-area').find('.callout').delay(5000).slideUp('slow');
                $('#submitNewOpportunity').delay(5000).text('Add Opportunity').removeClass('bg-red').addClass('bg-green').prop('disabled',false);
            }
        });
    };

    function updateOpportunityInfo(form,oid,cname,odesc,oam,ostage,ocd,onote){
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_sales',f='editOpportunity')}}",
            data:{'oid':oid,'cname':cname,'odesc':odesc,'oam':oam,'ostage':ostage,'ocd':ocd,'onote':onote},
            success: function(data){
                if(data=='True'){
                    var message = '<div class="callout callout-success"><p>Opportunity has been edited!</p></div>';
                    $('#submitEditOpportunity').text('Saved');
                }else{
                    var message = '<div class="callout callout-danger"><p>Error editing opportunity. Try again later.</p></div>';
                    $('#submitEditOpportunity').text('Errored').removeClass('bg-green').addClass('bg-red');
                }
                $('.edit-opportunity-area').prepend(message);
                $('.edit-opportunity-area').find('.callout').delay(5000).slideUp('slow');
                location.reload(true);
            },error: function(data){
                var message = '<div class="callout callout-danger"><p>Error editing opportunity. Try again later.</p></div>';
                $('#submitEditOpportunity').text('Errored').removeClass('bg-green').addClass('bg-red');
                $('.edit-opportunity-area').prepend(message);
                $('.edit-opportunity-area').find('.callout').delay(5000).slideUp('slow');
                $('#submitEditOpportunity').delay(5000).text('Add Opportunity').removeClass('bg-red').addClass('bg-green').prop('disabled',false);
            }
        });
    };

    function submitNewOpportunity(){
        $('#submitNewOpportunity').text('Submitting...').prop('disabled',true);
        var form = $('#addOpportunityForm');
        var cname = $(form).find('.company-select').val();
        var odesc = $(form).find('input[name="opportunity-desc"]').val();
        var oam = $(form).find('.am-select').val();
        var ostage = $(form).find('.stage-select').val();
        var ocd = $(form).find('input[name="opportunity-close-date"]').val();
        var onote = $(form).find('.opportunity-note').val();
        sendNewOpportunity(form,cname,odesc,oam,ostage,ocd,onote);
    };

    $('.add-opportunity').click(function(){
        $('#addOpportunity').modal('show');
    });

    function poulateEditForm(btn){
        var oId = $(btn).attr('data-opportunity-id');
        var cName = $(btn).attr('data-company-id');
        var oDesc = $(btn).attr('data-opportunity-desc');
        var oAm = $(btn).attr('data-opportunity-am');
        var oStage = $(btn).attr('data-opportunity-stage');
        var oCd = $(btn).attr('data-opportunity-close-date');
        var form = $('#editOpportunityForm');
        $(form).find('input[name="opportunity-id"]').val(oId);
        $(form).find('.company-select').val(cName).trigger('change');
        $(form).find('input[name="opportunity-desc"]').val(oDesc);
        $(form).find('.am-select').val(oAm).trigger('change');
        $(form).find('.stage-select').val(oStage).trigger('change');
        $(form).find('input[name="opportunity-close-date"]').val(oCd);
        OpportunityNotes(oId);
    };

    function OpportunityNotes(oid){
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_sales',f='getOppertunityNotes')}}",
            data:{'oid':oid},
            success: function(data){
                $.each($.parseJSON(data), function(key,notes){
                    
                    var note = '<div class="direct-chat-msg"><div class="direct-chat-info clearfix"><span class="direct-chat-name pull-left">'+ notes.username +'</span></div><img class="direct-chat-img" src="/{{=request.application}}/plugin_profiles/stream_profile_photo/'+ notes.user_id +'"><div class="direct-chat-text">'+ notes.note +'</div></div>';
                    $('.notes-holder').append(note)
                });
            },error: function(data){
                console.log(data);
            }
        });
    }

    function submitEditOpportunity(btn){
        $(btn).text('Saving...').prop('disabled',true);
        var form = $('#editOpportunityForm');
        var oid = $(form).find('input[name="opportunity-id"]').val();
        var cname = $(form).find('.company-select').val();
        var odesc = $(form).find('input[name="opportunity-desc"]').val();
        var oam = $(form).find('.am-select').val();
        var ostage = $(form).find('.stage-select').val();
        var ocd = $(form).find('input[name="opportunity-close-date"]').val();
        var onote = $(form).find('.opportunity-note').val();
        updateOpportunityInfo(form,oid,cname,odesc,oam,ostage,ocd,onote);
    };
</script>
{{end}}
