{{extend 'tiger.html'}}
{{=order_form}}
{{=od_form}}
{{=so_details}}
{{for s in so_total:}}
<table style='float:right;'>
    <tr><td>SubTotal</td><td>{{=s.subtotal}}</td></tr>
    <tr><td>Taxes ({{=s.tax_rate}}%)</td><td>{{=s.taxes}}</td></tr>
    <tr><td>Shipping & Handling</td><td>{{=s.ship_hand}}</td></tr>
    <tr><td>Grand Total</td><td>{{=s.so_total}}</td></tr>
</table>


{{pass}}

<script>
    var arr = $.makeArray({{=XML(pl)}});
    $('[name="product"]').change(
        function(){
           var sp = $("[name='product'] :selected").val();
           var p = arr.indexOf(sp).value;
            console.log(p);
        });
</script>
