{{extend 'layout.html'}}
<body>
    <table>
        <tr>
            <td>
                {{=form}}
            </td>
            <td>
               {{=trips}} 
            </td>
        </tr>
    </table>
</body>
