{{extend 'layout.html'}}

{{block content-header}}
    <section class="content-header filled-white md-padding-bottom clearfix">
        <h1 class="sm-padding-right col-sm-12">
             Contacts Overview
        </h1>
    </section>
{{end}}

{{block content}}
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <div class="col-sm-3 col-md-4">
                    <h3 class="box-title">Contacts</h3>
                </div>
                <div class="col-sm-6 col-md-4 col-md-offset-2 no-padding">
                    <div class="form-group">
                        <input type="text" class="form-control" id="contactSearch" oninput=searchContacts(this); placeholder="Search by contact name">
                    </div>
                </div>
                <div class="col-sm-3 col-md-2 no-padding">
                    <button class="btn-flat btn-sm bg-green btn add-contact pull-right"><i class="fa fa-plus" aria-hidden="true"></i> Contact</button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="overflow:hidden;height:100%;padding:0;margin:10px">
                <div class="contact-box" style="overflow-y:scroll;width:calc(100% + 17px);">
                    <table class="table table-striped">
                    <tbody id="contactTable">
                        <tr>
                            <th style="width:5%;">#</th>
                            <th style="width:20%;">Contact Company</th>
                            <th style="width:20%;">Contact Name</th>
                            <th style="width:20%;">Contact Email</th>
                            <th style="width:15%;">Work Phone</th>
                            <th style="width:15%;">Mobile Phone</th>
                            <th style="width:5%;">Edit</th>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Contact -->
<div class="modal fade" id="addContact" role="dialog" aria-labelledby="addContact">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <h4 class="modal-title">Add a Contact</h4>
            </div>
            <div class="modal-body add-contact-area clearfix">
                <form class="form" id="addContactForm">
                    <div class="form-group">
                        <label>Company:</label>
                        <select class="select2 form-control company-select" style="width:100%;">
                            
                        </select>
                    </div>
                    <div class="form-group">
                        <label>First Name:</label>
                        <input type="phone" name="contact-fname" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Last Name:</label>
                        <input type="phone" name="contact-lname" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="email" name="contact-email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Work Phone Number:</label>
                        <input type="text" name="contact-work" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Work Phone Number Extension:</label>
                        <input type="text" name="contact-ext" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Mobile Phone Number:</label>
                        <input type="text" name="contact-mobile" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat btn-sm" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default btn-flat bg-green btn-sm" id="submitNewContact" onclick="submitNewContact()">Add Contact</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Contact -->
<div class="modal fade" id="editContact" role="dialog" aria-labelledby="editContact">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <h4 class="modal-title">Edit Contact</h4>
            </div>
            <div class="modal-body edit-contact-area clearfix">
                <form class="form" id="editContactForm">
                    <input type="hidden" name="contact-id" class="form-control">
                    <div class="form-group">
                        <label>Company:</label>
                        <select class="select2 form-control company-select" style="width:100%;">
                            
                        </select>
                    </div>
                    <div class="form-group">
                        <label>First Name:</label>
                        <input type="phone" name="contact-fname" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Last Name:</label>
                        <input type="phone" name="contact-lname" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="email" name="contact-email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Work Phone Number:</label>
                        <input type="text" name="contact-work" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Work Phone Number Extension:</label>
                        <input type="text" name="contact-ext" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Mobile Phone Number:</label>
                        <input type="text" name="contact-mobile" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat btn-sm" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default btn-flat bg-green btn-sm" id="submitEditContact" onclick="submitEditContact(this)">Save Changes</button>
            </div>
        </div>
    </div>
</div>
{{end}}

{{block custom_js}}
<script>
    var companyList = [];
    
    $(document).ready(function(){
        var boxHei = getBoxHeight(70);
        $('.contact-box').css('max-height',boxHei);
    });
    
    var company_list = {{=XML(company_list)}};

    $(".company-select").select2({
        data: company_list
    });

    function getContacts(){
        var loading = '<tr class="loading-contacts"><td colspan="6">Loading Contacts...</td></tr>';
        $('#contactTable').append(loading);
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_companies',f='all_contacts')}}",
            data:{},
            success: function(data){
                $('#contactTable').find('.loading-contacts').remove();
                $.each($.parseJSON(data), function(key,contacts){
                    var contact = '<tr class="contact"><td>'+ contacts.id +'</td><td style="line-height:30px;"><a class="company-name">'+ contacts.company_name +'</a></td><td class="contact-name" style="line-height:30px;">'+ contacts.first_name + ' ' + contacts.last_name +'</td><td style="line-height:30px;">'+ contacts.email +'</td><td>'+ contacts.work_phone + ' ext. ' + contacts.extension +'</td><td>'+ contacts.mobile_phone +'</td><td><button data-toggle="modal" data-target="#editContact" data-contact-id="'+ contacts.id +'" data-company-id="'+ contacts.company_id +'" data-company-name="'+ contacts.company_name +'" data-contact-first-name="'+ contacts.first_name +'" data-contact-last-name="'+ contacts.last_name +'" data-contact-email="'+ contacts.email +'" data-contact-work-phone="'+ contacts.work_phone +'" data-contact-extension="'+ contacts.extension +'" data-contact-mobile-phone="'+ contacts.mobile_phone +'" onclick="poulateEditForm(this)" class="btn btn-sm bg-red"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button></td></tr>';
                    $('#contactTable').append(contact);
                });
            },error: function(data){
                var error = '<tr><td style="width:100%;">Unable to load companies.</td></tr>';
                $('#contactTable').html(error);
            }
        });
    };

    getContacts();

    function searchContacts(input){
        var val = $(input).val().toLowerCase();
        var contacts = $('.contact-name');
        $(contacts).each(function(i, obj) {
            var isContains = $(this).text().toLowerCase().indexOf(val) > -1;
            if (isContains != true){
                $(this).closest('.contact').hide();
            }else{
                $(this).closest('.contact').show();
            }
        });
    };

    function sendNewContact(form,cname,cfname,clname,cemail,cwphone,cext,cmobile){
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_companies',f='addContact')}}",
            data:{'cname':cname,'cfname':cfname,'clname':clname,'cemail':cemail,'cwphone':cwphone,'cext':cext,'cmobile':cmobile},
            success: function(data){
                if(data=='True'){
                    var message = '<div class="callout callout-success"><p>Contact has been added!</p></div>';
                    $('#submitNewContact').text('Submitted');
                }else{
                    var message = '<div class="callout callout-danger"><p>Error adding contact. Try again later.</p></div>';
                    $('#submitNewContact').text('Errored').removeClass('bg-green').addClass('bg-red');
                }
                $('.add-contact-area').prepend(message);
                $('.add-contact-area').find('.callout').delay(5000).slideUp('slow');
                location.reload(true);
            },error: function(data){
                var message = '<div class="callout callout-danger"><p>Error adding contact. Try again later.</p></div>';
                $('#submitNewContact').text('Errored').removeClass('bg-green').addClass('bg-red');
                $('.add-contact-area').prepend(message);
                $('.add-contact-area').find('.callout').delay(5000).slideUp('slow');
                $('#submitNewContact').delay(5000).text('Add Contact').removeClass('bg-red').addClass('bg-green').prop('disabled',false);
            }
        });
    };

    function updateContactInfo(form,cid,cname,cfname,clname,cemail,cwphone,cext,cmobile){
        $.ajax({
            method:'{{=ajax_mode}}',
            url:"{{=URL(c='plugin_companies',f='editContact')}}",
            data:{'cid':cid,'cname':cname,'cfname':cfname,'clname':clname,'cemail':cemail,'cwphone':cwphone,'cext':cext,'cmobile':cmobile},
            success: function(data){
                if(data=='True'){
                    var message = '<div class="callout callout-success"><p>Contact has been edited!</p></div>';
                    $('#submitEditContact').text('Saved');
                }else{
                    var message = '<div class="callout callout-danger"><p>Error editing contact. Try again later.</p></div>';
                    $('#submitEditContact').text('Errored').removeClass('bg-green').addClass('bg-red');
                }
                $('.edit-contact-area').prepend(message);
                $('.edit-contact-area').find('.callout').delay(5000).slideUp('slow');
                location.reload(true);
            },error: function(data){
                var message = '<div class="callout callout-danger"><p>Error editing contact. Try again later.</p></div>';
                $('#submitEditContact').text('Errored').removeClass('bg-green').addClass('bg-red');
                $('.edit-contact-area').prepend(message);
                $('.edit-contact-area').find('.callout').delay(5000).slideUp('slow');
                $('#submitEditContact').delay(5000).text('Add Contact').removeClass('bg-red').addClass('bg-green').prop('disabled',false);
            }
        });
    };

    function submitNewContact(){
        $('#submitNewContact').text('Submitting...').prop('disabled',true);
        var form = $('#addContactForm');
        var cid = $(form).find('input[name="contact-id"]').val();
        var cname = $(form).find('.company-select').val();
        var cfname = $(form).find('input[name="contact-fname"]').val();
        var clname = $(form).find('input[name="contact-lname"]').val();
        var cemail = $(form).find('input[name="contact-email"]').val();
        var cwphone = $(form).find('input[name="contact-work"]').val();
        var cext = $(form).find('input[name="contact-ext"]').val();
        var cmobile = $(form).find('input[name="contact-mobile"]').val();
        sendNewContact(form,cname,cfname,clname,cemail,cwphone,cext,cmobile);
    };

    $('.add-contact').click(function(){
        $('#addContact').modal('show');
    });

    function poulateEditForm(btn){
        var cId = $(btn).attr('data-contact-id');
        var cName = $(btn).attr('data-company-id');
        var cFName = $(btn).attr('data-contact-first-name');
        var cLName = $(btn).attr('data-contact-last-name');
        var cEmail = $(btn).attr('data-contact-email');
        var cWork = $(btn).attr('data-contact-work-phone');
        var cExt = $(btn).attr('data-contact-extension');
        var cMobile = $(btn).attr('data-contact-mobile-phone');
        var form = $('#editContactForm');
        $(form).find('input[name="contact-id"]').val(cId);
        $(form).find('.company-select').val(cName).trigger('change');
        $(form).find('input[name="contact-fname"]').val(cFName);
        $(form).find('input[name="contact-lname"]').val(cLName);
        $(form).find('input[name="contact-email"]').val(cEmail);
        $(form).find('input[name="contact-work"]').val(cWork);
        $(form).find('input[name="contact-ext"]').val(cExt);
        $(form).find('input[name="contact-mobile"]').val(cMobile);
    };

    function submitEditContact(btn){
        $(btn).text('Saving...').prop('disabled',true);
        var form = $('#editContactForm');
        var cid = $(form).find('input[name="contact-id"]').val();
        var cname = $(form).find('.company-select').val();
        var cfname = $(form).find('input[name="contact-fname"]').val();
        var clname = $(form).find('input[name="contact-lname"]').val();
        var cemail = $(form).find('input[name="contact-email"]').val();
        var cwphone = $(form).find('input[name="contact-work"]').val();
        var cext = $(form).find('input[name="contact-ext"]').val();
        var cmobile = $(form).find('input[name="contact-mobile"]').val();
        updateContactInfo(form,cid,cname,cfname,clname,cemail,cwphone,cext,cmobile);
    };
</script>
{{end}}
