/* Stylesheet V1.1.1 */
/* General */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
.disabled:hover, .noselect:hover {
    cursor: default;
}
.btn-box-tool {
    font-size: 14px;
}
.skin-red .sidebar-form input[type="text"]:focus {
    background:#374850 !important;
    color:#FFF;
}
#errors {
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 60px;
}
#errors .alert{
    display: block;
}
.md-line-height {
    line-height: 2.5rem;
}
a {
    color: #666666;
}
a:hover {
    cursor: pointer;
    color: #1a2226;
}
.clicker:hover {
    cursor: pointer;
    opacity: 1;
}
.no-line-height {
    line-height: 0;
}
.error {
    color: #dd4b39 !important;
}
.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #dd4b39;
}
.faded {
    opacity: 0.2;
}
.unfaded {
    opacity: 1;
}
[data-toggle="tooltip"]:hover {
    cursor: pointer;
}
.bg-grey {
    background-color: #222d32 !important;
    color: #FFF !important;
}
.bg-light-grey {
    background-color: #999 !important;
    color: #FFF !important;
}
.progress-bar-light-grey {
    background-color: #999 !important;
}
.icon-green:after, .icon-green:before {
    color: #00a65a !important;
}
.icon-red:after, .icon-red:before {
    color: #dd4b39 !important;
}
.icon-dark-blue:after {
    color: #222d32 !important;
}
.icon-yellow:after, .icon-yellow:before {
    color: #FFF70D !important;
}
.filled-white {
    background: #FFF !important;
}
.progress {
    background-color: #f5f5f5;
}
.uppercase {
    text-transform: uppercase;
}
.light-text {
    color: #ecf0f5;
}
.sm-text {
    font-size: 1rem !important;
}
.md-top {
    margin-top: 20px;
}
.sm-top {
    margin-top: 10px;
}
.xs-top {
    margin-top: 5px
}
.no-top {
    margin-top: 0;
}
.xs-text-dark {
    font-size: 0.75em;
    line-height: 1rem;
    color: #FFF;
    margin: 0;
    padding: 0.4rem;
    text-transform: uppercase;
}
.no-bottom {
    margin-bottom: 0;
}
.no-bottom-pad {
    padding-bottom: 0;
}
.sm-bottom {
    padding-bottom: 10px;
}
.no-bg {
    background: none;
    box-shadow: none;
}
.full-width {
    width: 100% !important;
}
.no-padding {
    padding-left: 0;
    padding-right: 0;
}
.no-padding-left {
    padding-right: 15px;
    padding-left: 0;
}
.no-padding-right {
    padding-left: 15px;
    padding-right: 0;
}
.xs-padding {
    padding-left: 5px;
    padding-right: 5px;
}
.sm-padding {
    padding-left: 10px;
    padding-right: 10px;
}
.sm-padding-left {
    padding-left: 10px;
    padding-right: 0;
}
.sm-padding-right {
    padding-left: 0;
    padding-right: 10px;
}
.md-padding {
    padding-left: 15px;
    padding-right: 15px;
}
.md-padding-bottom {
    padding-bottom: 15px;
}
.lg-padding {
    padding-left: 20px;
    padding-right: 20px;
}
.xl-padding {
    padding-left: 25px;
    padding-right: 25px;
}
.no-padding-top {
    padding-top: 0;
}
.sm-separate {
    margin-left: 5px;
    margin-right: 5px;
}
.xs-icon {
    font-size: 1rem;
    line-height: 1.5rem;
}
li:hover {
    cursor: pointer;
}
/* Tasks */
.task-edit, .cancel-edit {
    color: #FFF;
}
.task-edit:hover, .cancel-edit:hover {
    cursor: pointer;
    text-decoration: underline;
}
.chat .item {
    border-left: 3px solid #DA392E;
    padding-left: 10px;
}
/* Error Pages */
.error-page {
    background: rgba(255,255,255,0.7);
    padding: 40px;
}
.error-page>.error-content {
    display: block;
}
.error-page>.headline {
    margin-top: 0;
}
.error-page>.error-content a {
    color: #d73925;
}
.error-page>.error-content a:hover {
    color: #d73925;
    text-decoration: underline;
}
/* Buttons */
.btn {
    border: none;
}
.btn:disabled {
    color: #FFF;
}
button.btn:active, a.icon-btn:active { 
    left: 1px;
    top: 1px;
}
a.icon-btn i {
    font-size: 2rem;
}
a.action-btn {
    color: #FFF;
    height: 18px;
    width: 18px;
    padding: 3px;
}
.toggle-btn-container {
    display: none;
    margin-bottom: 20px;
}
/*Popover*/
.popover {
    border: none !important;
    padding: 0 !important;
}
.popover h3.popover-title {
    background: #1a2226;
    color: #FFF;
}
.popover-content table.table tbody {
    height: auto;
}
.popover-content table.table tbody td {
    text-align: left;
    font-size: 1rem;
}
/* Alert */
.alert {
    display: none;
    position: absolute;
    width:30rem;
    right: 10px;
    top: 60px;
    z-index: 10000;
}
.alert-scti {
    background: #222d32 !important;
    border-color: #1a2226;
}
.alert-scti h4, .alert-scti .flash, .alert-scti .close {
    color: #b8c7ce;
}
/* Search */
.project-search-results:hover {
    background: rgba(0,0,0,0.2);
}
/* Select */
select {
    background: #FFF;
}
/* Table */
.table>tbody>tr>td {
    line-height: 2rem;
}
.table>thead>tr>th {
    border-bottom: 2px solid #dd4b39;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #ecf0f5;
}
table.table-scroll tbody {
    display:block;
    height:400px;
    overflow-y:auto;
}
table.table-scroll thead,table.table-scroll tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}
table.table-scroll thead {
    width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}
th, td {
    text-align: center;
    font-size: 1.25rem;
}
td a {
    left: 30%;
}
/* Box */
.box-sm-border {
    height: 24px;
}
.task-container {
    margin-bottom: 15px;
}
.task-box {
    margin-bottom: 0px;
    background: none;
}
.task-box:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.2);
}
.box.box-scti {
    border-top-color: #222d32;
}
.box-scti-border {
    background: #222d32 !important;
}
.box-scti-border h6 {
    line-height: 1.45rem;
}
.box-scti-border select {
    background: #FFF;
    border: none;
}
.info-box-sm {
    display: block;
    min-height: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 0px;
    margin-bottom: 0px;
}
.info-box-sm-text {
    border-top-left-radius:2px;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-bottom-left-radius:2px;
    display:block;
    float:left;
    height:45px;
    width:90px;
    text-align:center;
    font-size:10px;
    line-height:45px;
    background:rgba(0,0,0,0.2)
}
.progress-sm {
    overflow: hidden;
    height: 5px;
    margin: 5px 0 5px;
    background-color: #222D39;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.info-box-lg-text {
    border-top-left-radius:2px;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-bottom-left-radius:2px;
    display:block;
    float:left;
    height:100px;
    width:90px;
    text-align:center;
    font-size:20px;
    line-height:90px;
    background:rgba(0,0,0,0.2)
}
.info-box-bold-text {
    display: block;
    font-weight: bold;
    font-size: 12px;
}
.box-info-border {
    background: #00c0ef;
}
.box-info-border h6 {
    line-height: 1.45rem;
}
.box-info-border select {
    background: #FFF;
    border: none;
}
.box-header h4 {
    line-height: 0px;
}

/* Breadcrumb */
.breadcrumb {
    border: none;
}

/* Navbar */
.navbar-custom-menu>.navbar-nav>li {
    height: 50px;
}
.navbar .nav>li>a {
    line-height: 11px;
    margin-top: -1px;
}
/* Modal */
@media (min-width: 768px){
    .modal-dialog {
        width: 80%;
        margin: 30px auto;
    }
}
.modal img {
    max-width: 100%;
}
/* Forms */
.input-group .form-control {
    height: 40px;
}
#search-btn {
    padding-top: 5px;
    border: none;
    border-radius: 0;
}
.help-block {
    display: none;
}
label {
    width: 100%;
}
.skin-red .sidebar-form {
    border: none;
    border-radius: 0;
}
.no-label {
    margin-top: 25px;
}

.no-title {
    margin-top: 35px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* VideoJS */
#video-library-player .video-js .vjs-big-play-button, #video-locker-player .video-js .vjs-big-play-button, .clone-container .video-js .vjs-big-play-button {
    display: none;
}
.vjs-error-display {
    display: none;
}
/* Dashboard */
.widgets .box i {
    color: #FFF;
}
/* Profiles */
.poster-disabled {
    opacity: 0.4;
}
.status-box {
    border: 1px solid #3e3f3a;
    border-radius: 3px;
    opacity: 0.2;
}
.current-status {
    opacity: 1;
}
.poster-wrapper.selected {
    cursor: move;
}
/* Live Streams */
.live-streams .box {
    /*cursor: move;*/
}
.live-streams .box i {
    color: #FFF;
}
.mon-wrapper {
    -webkit-transition: width 2s;
    transition: width 0.5s;
}
.mon-box .box-body {
    min-height: 229px;
    position: relative;
}
.mon-box .box-body .mon-view, .widget-box .box-body .widget-view, .poster-box .box-body .poster-view {
    /*display: none;*/
    width: 100%;
    max-height:220px;
}
.view-status {
    /*top: 0;
    left: 5px;
    position: absolute;*/
}
.fav-view {
    padding-left: 5px;
}
/*Video Library*/
.video-library-player-container, .video-library-results, .event-player-container, .event-library-results {
    -webkit-transition: width 2s;
    transition: width 0.5s;
}
.vlib-player, .vlock-player, .plates-player, .vlib-download, .vlock-download, .vlock-delete, .vlock-info {
    position: relative;
    cursor: pointer;
}
.vlib-player-container, .vlock-player-container {
    background: #dd4b39;
}
.vlib-player {
    left: 23%;
}
.vlib-player:after, .vlock-player:after, .plates-player:after  {
    content: '\f04b';
    font-family: 'FontAwesome';
    display: block;
    position: absolute;
    font-size: 2rem;
    line-height: 3.75rem;
    color: #FFF;
}
.vlib-locker {
    position: relative;
}
.vlib-locker i {
    color: #FFF;
}
.unlocked {
    cursor: pointer;
}
table.video-library-table tbody {
    overflow-x: hidden;
}
table.video-library-table tbody tr {
    -webkit-transition: margin-left ease-in-out .5s;
    -o-transition: margin-left ease-in-out .5s;
    transition: margin-left ease-in-out .5s;
    /* Firefox */
    width: -moz-calc(100% + 86px);
    /* WebKit */
    width: -webkit-calc(100% + 86px);
    /* Opera */
    width: -o-calc(100% + 86px);
    /* Standard */
    width: calc(100% + 86px);
}
.video-library-table .unlocked i, .video-library-table .locked i {
    display: block;
    position: absolute;
    font-size: 2rem;
    line-height: 4rem;
}
.unlocked {
    background: #dd4b39;
}
.locked {
    background: #222d32;
}
.vlib-download-container {
    background: #222d32;
}
td.vlib-download-container a{
    left: 23%;
}
.vlib-download:after, .vlock-download:after {
    content: '\f019';
    font-family: 'FontAwesome';
    display: block;
    position: absolute;
    font-size: 2rem;
    line-height: 4rem;
    color: #FFF;
}
.vlock-delete:after {
    content: '\f014';
    font-family: 'FontAwesome';
    display: block;
    position: absolute;
    font-size: 2rem;
    line-height: 3.5rem;
    color: #222d32;
}
.vlock-info:after {
    content: '\f05a';
    font-family: 'FontAwesome';
    display: block;
    position: absolute;
    font-size: 2rem;
    line-height: 3.5rem;
    color: #222d32;
}
.video-info .info-box {
    min-height: 30px;
}
.video-info .info-box .info-box-icon {
    height: 30px;
    width: 30px;
    font-size: 2rem;
    line-height: 2.95rem;
    float: left;
}
.video-info .info-box .info-box-content {
    margin-left: 0;
    float: left;
}
.video-info .info-box .info-box-content .info-box-number {
    font-size: 15px;
    margin-left: 5px;
    line-height: 20px;
}
.current-video {
    background: #222d32;
}
.video-msg-holder {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    z-index: 100;
    top: 0;
    background: rgba(0,0,0,0.5);
}
.video-msg-holder p {
    color: #FFF;
    text-align: center;
    padding: 40px;
    font-size: 1.5rem;
}
.motion-filter .check-1 {
    padding: 0 0 0 10px;
    margin-top: -2px;
}
#stage {
    overflow: hidden;
    position: relative;
}
.toggle-text {
    opacity: 0.4;
}
/* Multi View */
.control-all .btn i.push {
    margin-left: 1px;
}
.control-all .btn i.pull {
    margin-left: -1px;
}
.video-search {
    -webkit-transition: display 1s; /* Safari */
    transition: display 1s;
}
.video-header {
    min-height: 30px;
    background: #222d32;
}
.video-header span, .video-header a {
    line-height: 29px;
}
.video-header a:hover {
    color: #FFF;
}
.video-container {
    padding-top: 20px;
}
.drag-info {
    cursor: move;
}
.drag-info:hover {
    box-shadow: inset 0 0 100px rgba(0,0,0,0.2);
}
/* Dropdown */
.dropdown-menu {
    border-radius: 0;
    left: -133px;
}
.dropdown-menu>li>a {
    padding: 0 10px;
}
.box .dropdown-menu>li>a i {
    color: #777;
}
/* Video Locker */
.video-locker-player-container, .video-locker-results {
    -webkit-transition: width 2s;
    transition: width 0.5s;
}
/* Login Form */
.login-box, .register-box {
    width: 500px;
}

.login-box .login-logo a{
    color: #FFF;
}

#web2py_user_form table {
    width: 100%;
}

#web2py_user_form tr td {
    padding-bottom: 15px
}

#web2py_user_form tr td label {
    padding-right: 15px
}

#web2py_user_form input[type="text"], #web2py_user_form input[type="password"] {
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
    display: block;
    border-width: 1px;
    width: 100%;
    height: 46px;
    padding: 12px 16px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #3e3f3a;
    background-color: #ffffff;
    background-image: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#web2py_user_form input[type="submit"] {
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
    background-color: #dd4b39 !important;
    color: #FFF;
    border-color: #ddd;
    display: inline-block;
    padding: 12px 18px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}

#web2py_user_form input[type="submit"], #web2py_user_form .btn {
    margin-right: 15px;
}

/* Checkbox */
*, *:after, *:before {
  box-sizing: border-box;
}

.box label {
  display: block;
}

.box label > input[type=checkbox], .check-container label > input[type=checkbox] {
  display: none;
}

.box .check-1, .check-container .check-1 {
  width: 30px;
  height: 20px;
  border-radius: 50px;
  position: relative;
}

.box .check-1 .inner, .check-container .check-1 .inner {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: 2px solid #e8e8e8;
  background: #f9f9f9;
  transition: all .2s ease;
}

.box .check-1 .bullet, .check-container .check-1 .bullet {
  position: relative;
  width: 17px;
  height: 17px;
  background: #eee;
  border-radius: 50%;
  transition: all .3s ease;
  top: 1px;
  left: 2px;
  box-shadow: 0 3px 3px rgba(0,0,0,.15);
}

.box .check-1 input:checked ~ .inner, .check-container .check-1 input:checked ~ .inner{
  border: 10px solid #2ecc71;
  transition: all .2s ease;
}

.box .check-1 input:checked ~ .bullet, .check-container .check-1 input:checked ~ .bullet {
  left: 13px;
  transition: all .3s ease;
  animation: .2s bullet;
}

@keyframes bullet {
  0%, 100% {
    width: 25px;
  }
  40% {
    width: 30px;
  }
}
/* Live View Status Animation */
.view-status.paused {
  animation: animationFrames linear 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 2s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 2s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 2s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes animationFrames{
  0% {
    opacity:1;
  }
  50% {
    opacity:0.2;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes animationFrames{
  0% {
    opacity:1;
  }
  50% {
    opacity:0.2;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity:1;
  }
  50% {
    opacity:0.2;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes animationFrames {
  0% {
    opacity:1;
  }
  50% {
    opacity:0.2;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes animationFrames {
  0% {
    opacity:1;
  }
  50% {
    opacity:0.2;
  }
  100% {
    opacity:1;
  }
}

/* Spinner */
.video-library-loader-wrapper {
    position: absolute;
    height: 35px;
    margin-top: 20%;
    display: none;
    z-index: 1000;
}
.video-library-loader,
.video-library-loader:before,
.video-library-loader:after {
  background: #bfbfbf;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.video-library-loader:before,
.video-library-loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.video-library-loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.video-library-loader {
  color: #bfbfbf;
  text-indent: -9999em;
  margin: 0 auto;
  position: absolute;
  font-size: 6px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.video-library-loader:after {
  left: 1.5em;
}
.loader-text {
    display: none;
}
.form-loader-wrapper {
    margin: 15px 0 0 10px;
    display: none;
    width: 13px;
}
.form-loader,
.form-loader:before,
.form-loader:after {
  background: #0073b7;
  -webkit-animation: load2 1s infinite ease-in-out;
  animation: load2 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.form-loader:before,
.form-loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.form-loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.form-loader {
  color: #0073b7;
  text-indent: -9999em;
  margin: 0 auto;
  position: absolute;
  font-size: 6px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.form-loader:after {
  left: 1.5em;
}
@-webkit-keyframes load2 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 3em;
  }
  40% {
    box-shadow: 0 -1em;
    height: 2em;
  }
}
@keyframes load2 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 3em;
  }
  40% {
    box-shadow: 0 -1em;
    height: 2em;
  }
}
.loader-wrapper {
    position: absolute;
    height: 35px;
    /*margin-top: 40px;*/
    display: none;
    top: 90px;
}
.loader,
.loader:before,
.loader:after {
  background: #FFF;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
  color: #FFF;
  text-indent: -9999em;
  margin: 0 auto;
  position: absolute;
  font-size: 6px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
/* Checklist */
*{
/*transition*/
-webkit-transition:.25s ease-in-out;
   -moz-transition:.25s ease-in-out;
     -o-transition:.25s ease-in-out;
        transition:.25s ease-in-out;
}
#todo-list{
    padding: 0 20px 20px;
    background:white;
    position:relative;
}
#todo-list:before{
    content:"";
    position:absolute;
    z-index:-1;
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
}
.todo-wrap{
    display:block;
    position:relative;
    /*padding-left:35px;*/
}
#todo-list input[type="checkbox"]{
    position:absolute;
    height:0;
    width:0;
    opacity:0;
    /*top:-600px;*/
}
.todo{
    display:inline-block !important;
    font-weight:200;
    padding:10px 5px;
    height:37px;
    position:relative;
}
.todo:before{
    content:'';
    display:block;
    position:absolute;
    top:calc(50% + 2px);
    left:0;
    width:0%;
    height:1px;
    background:#cd4400;
    /*transition*/
    -webkit-transition:.25s ease-in-out;
       -moz-transition:.25s ease-in-out;
         -o-transition:.25s ease-in-out;
            transition:.25s ease-in-out;
}
.todo:after{
    content:'';
    display:block;
    position:absolute;
    z-index:0;
    height:18px;
    width:18px;
    top:9px;
    left:-25px;
    -webkit-box-shadow:inset 0 0 0 2px #d8d8d8;
       -moz-box-shadow:inset 0 0 0 2px #d8d8d8;
            box-shadow:inset 0 0 0 2px #d8d8d8;
    -webkit-transition:.25s ease-in-out;
       -moz-transition:.25s ease-in-out;
         -o-transition:.25s ease-in-out;
            transition:.25s ease-in-out;
    -webkit-border-radius:4px;
       -moz-border-radius:4px;
            border-radius:4px;
}
.todo:hover:after{
    -webkit-box-shadow:inset 0 0 0 2px #949494;
       -moz-box-shadow:inset 0 0 0 2px #949494;
            box-shadow:inset 0 0 0 2px #949494;
}
.todo .fa-check{
    position:absolute;
    z-index:1;
    left:-31px;
    top:0;
    font-size:1px;
    line-height:36px;
    width:36px;
    height:36px;
    text-align:center;
    color:transparent;
    text-shadow:1px 1px 0 white, -1px -1px 0 white;
}
:checked + .todo{
    color:#717171;
}
:checked + .todo:before{
    width:92%;
}
:checked + .todo:after{
    -webkit-box-shadow:inset 0 0 0 2px #222d32;
       -moz-box-shadow:inset 0 0 0 2px #222d32;
            box-shadow:inset 0 0 0 2px #222d32;
}
:checked + .todo .fa-check{
    font-size:20px;
    line-height:35px;
    color:#d73925;
}
/* Delete Items */

.delete-item{
    display:block;
    position:absolute;
    height:36px;
    width:36px;
    line-height:36px;
    right:0;
    top:3px;
    text-align:center;
    color:#d8d8d8;
    opacity:0;
}
.todo-wrap:hover .delete-item{
    opacity:1;
}
.delete-item:hover{
    color:#cd4400;
}
/* Add Items */
#add-todo{
    padding:10px 0 0 0;
    font-size:14px;
    font-weight:200;
    color:#d8d8d8;
    display:inline-block;
    cursor:pointer;
}
#add-todo:hover{
    color:#D33929;
    /*transition*/
    -webkit-transition:none;
       -moz-transition:none;
         -o-transition:none;
            transition:none;
}
#add-todo .fa-plus{
    font-size:14px;
    padding-right: 3px;
    /*transition*/
    -webkit-transition:none;
       -moz-transition:none;
         -o-transition:none;
            transition:none;
}
.input-todo{
    border:none;
    outline:none;
    font-weight:200;
    position:relative;
    top:-1px;
    margin:0;
    padding:4px 0 0;
    width:100%;
}
.editing{
    height:0;
    overflow:hidden;
}
.editing.todo-wrap {
    box-shadow:0 0 400px rgba(0,0,0,.8),inset 0 0px 0 2px #ebebeb;
}
/* Show More */
.show-more {
    cursor:pointer;
    color: rgba(62,63,58,0.6);
}
.show-more:hover {
    cursor:pointer;
    color: rgba(62,63,58,1);
}
